{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Страница бренда техники Boulder{% endblock %}
{% block meta_description %}Страница бренда техники Boulder{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Страница бренда техники Boulder{% endblock %}
{% block og_description %}Страница бренда техники Boulder{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--subsection content-header--ordinary wrap-pad-normal">
    <nav class="content-header__nav">
      <div class="content-header__leftbox-wr">
        <a href="#" class="btn-more-large" title="Перейти назад"><span class="met-ico-button-left"></span>
          <span class="btn-more-large__text font--uppercase font--light">назад</span></a>
      </div>
      <div class="bread-crumbs small-text">
        <div>
          <a href="#" title="На главную">Главная</a>&nbsp;<span>/</span> <a href="#"
            title="Перейти к списку брендов техники">Бренды техники</a>&nbsp;<span>/</span>Бренды техники
          Boulder
        </div>
      </div>
    </nav>

    <div class="content-header__title-wr ">
      <h1>Бренды техники Boulder</h1>

    </div>
    <p class="content-header__descr">Метатэкс изготавливает навесное оборудование совместимое
      со&nbsp;спецтехникой марки
      Boulder</p>

  </div>
  <!-- Шапка раздела -->
  <div class="content-main-top wrap-pad-normal wrap-pad--mob--min">
    <div class="content-main-top__img"
      style="background-image: url(/images/brends/headers-brends/header-brend__1920х1080.jpeg);">
      <div class="content-main-top__in">
        <div class="logo-brand-box">
          <img src="/images/brends/boulder_logo.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="content-limited ">
    <p>
    Бренд Boulder более пяти лет выпускает на российский рынок высококачественную современную спецтехнику.
    </p>
    <p>
    Boulder производит погрузчики и экскаваторы, подготовленные к реалиям работыв России: способные эффективно
    работать при минусовых температурах, проходящие по любому рельефу, не требовательные к топливу и оригинальным запчастям.
    </p>
    <p>
    Отслеживая мировые технологические новинки, Boulder постоянно расширяет линейку предлагаемой техники.         
    А мы производим различные модели навесного оборудования которые подходят для спецтехники Boulder, максимально расширяя её
    функционал и делая её ещё более совершенной и отвечающей самым разным задачам потребителей.</p>
  </div>

  <!-- Секция с категориями техники для бренда -->
  <section class="category-brands  wrap-pad-normal wrap--column wrap-pad--mob--min" style="padding-top: 0">
  
  
    <!-- Блок категория — Для фронтальных погрузчиков -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-frontloader.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-front-loader-800_7_11zon.jpg);">
        </div>
      </div>
  
      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для фронтальных погрузчиков Boulder</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел ковши общего назначения">Ковши общего назначения</a></li>
            <li><a href="#" title="В раздел ковши увеличенной емкости">Ковши увеличенной емкости</a>
            </li>
            <li><a href="#" title="В раздел ковши угольные">Ковши угольные</a></li>
            <li><a href="#" title="В раздел челюстные ковши">Челюстные ковши</a></li>
            <li><a href="#" title="В раздел ковши высокой выгрузки">Ковши высокой выгрузки</a></li>
            <li><a href="#" title="В раздел ковши высокой выгрузки для легких материалов">Ковши
                высокой выгрузки для легких материалов</a></li>
            <li><a href="#" title="В раздел захват для биг-бэгов">Захват для биг-бэгов</a></li>
            <li><a href="#" title="В раздел крановая стрела">Крановая стрела</a></li>
            <li><a href="#" title="В раздел телескопируемая крановая стрела">Телескопируемая крановая
                стрела</a></li>
            <li><a href="#" title="В раздел быстросъемные устройства">Быстросъемные устройства</a>
            </li>
            <li><a href="#" title="В раздел бревнозахватыПросеивающие ковши">Бревнозахваты Просеивающие
                ковши</a></li>
            <li><a href="#" title="В раздел щетки поворотные">Щетки поворотные</a></li>
            <li><a href="#" title="В раздел щетки с передним бункером">Щетки с передним бункером</a>
            </li>
            <li><a href="#" title="В раздел снеговые отвалы">Снеговые отвалы</a></li>
            <li><a href="#" title="В раздел паллетные вилы">Паллетные вилы</a></li>
            <li><a href="#" title="В раздел ковши с прижимом">Ковши с прижимом</a></li>
            <li><a href="#" title="В раздел вилочный захват">Вилочный захват</a></li>
            <li><a href="#" title="В раздел отвал-буртовщик">Отвал-буртовщик</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <!-- Конец блок категория — Для фронтальных погрузчиков-->
  
    <!-- Блок категория — Для экскаваторов-погрузчиков -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-backhoeloader.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-backhoe-loaders-800_1_11zon.jpg);">
        </div>
      </div>
  
      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для экскаваторов-погрузчиков Boulder</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел универсальные ковши">Универсальные ковши</a></li>
            <li><a href="#" title="В раздел планировочные ковши">Планировочные ковши</a></li>
            <li><a href="#" title="В раздел поворотные планировочные ковши">Поворотные планировочные
                ковши</a></li>
            <li><a href="#" title="В раздел клыки-рыхлители">Клыки-рыхлители</a></li>
            <li><a href="#" title="В раздел специальные траншейные ковши">Траншейные ковши</a></li>
            <li><a href="#" title="В раздел профильные ковши">Профильные ковши</a></li>
            <li><a href="#" title="В раздел быстросъемные устройства">Быстросъемные устройства</a>
            </li>
            <li><a href="#" title="В раздел переходные плиты для гидромолотов">Переходные плиты для
                гидромолотов</a></li>
            <li><a href="#" title="В раздел переходные плиты для гидробуров">Переходные плиты для
                гидробуров</a></li>
            <li><a href="#" title="В раздел фронтальные ковши">Фронтальные ковши</a></li>
            <li><a href="#" title="В раздел ковши увеличенной емкости">Ковши увеличенной емкости</a>
            </li>
            <li><a href="#" title="В раздел ковши 4 в 1">Ковши 4 в 1</a></li>
            <li><a href="#" title="В раздел фронтальное БСУ механическое">Фронтальное БСУ
                механическое</a></li>
            <li><a href="#" title="В раздел фронтальное БСУ гидравлическое">Фронтальное БСУ
                гидравлическое</a></li>
            <li><a href="#" title="В раздел паллетные вилы">Паллетные вилы</a></li>
            <li><a href="#" title="В раздел перекидные вилы">Перекидные вилы</a></li>
            <li><a href="#" title="В раздел cнеговые отвалы">Снеговые отвалы</a></li>
            <li><a href="#" title="В раздел v-образный отвал">V-образный отвал</a></li>
            <li><a href="#" title="В раздел снегометатель шнекороторный">Снегометатель
                шнекороторный</a></li>
            <li><a href="#" title="В раздел щетки дорожные с поворотом">Щетки дорожные с поворотом</a>
            </li>
            <li><a href="#" title="В раздел щетки с бункером">Щетки с бункером</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <!-- Конец блок категория — Для экскаваторов-погрузчиков-->
  
    
  

  
    <!-- Блок категория — Для мини-экскаваторов -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-miniexcavator.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-mini-escalator-800_8_11zon.jpg);">
        </div>
      </div>
  
      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для мини-экскаваторов Boulder</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел Универсальные ковши">Универсальные ковши</a></li>
            <li><a href="#" title="В раздел Планировочные ковши">Планировочные ковши</a></li>
            <li><a href="#" title="В раздел Клыки-рыхлители">Клыки-рыхлители</a></li>
            <li><a href="#" title="В раздел Серповидные траншейные ковши">Серповидные траншейные
                ковши</a></li>
            <li><a href="#" title="В раздел Быстросъемные устройства MS">Быстросъемные устройства
                MS</a></li>
            <li><a href="#" title="В раздел Быстросъемные устройства PIN-Type">Быстросъемные
                устройства PIN-Type</a></li>
            <li><a href="#" title="В раздел Переходные плиты для гидромолотов">Переходные плиты для
                гидромолотов</a>
            </li>
            <li><a href="#" title="В раздел Переходные плиты для гидровращателей">Переходные плиты для
                гидровращателей</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <!-- Конец блок категория — Для мини-экскаваторов -->

  
    <!-- Блок категория — Для экскаваторов -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-excavator.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-escalator-800_5_11zon.jpg);">
        </div>
      </div>
  
      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для экскаваторов Boulder</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел универсальные ковши">Универсальные ковши</a></li>
            <li><a href="#" title="В раздел планировочные ковши">Планировочные ковши</a></li>
            <li><a href="#" title="В раздел клыки-рыхлители">Клыки-рыхлители</a></li>
            <li><a href="#" title="В раздел поворотные планировочные ковши">Поворотные планировочные
                ковши</a></li>
            <li><a href="#" title="В раздел быстросъемные устройства">Быстросъемные устройства</a>
            </li>
            <li><a href="#" title="В раздел ковши-рыхлители">Ковши-рыхлители</a></li>
            <li><a href="#" title="В раздел переходные плиты">Переходные плиты</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <!-- Конец блок категория — Для экскаваторов -->
  
  </section>
{% endblock %}
