{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Ковш общего назначения для фронтального погрузчика{% endblock %}
{% block meta_description %}Страница модели ковша общего назначения для фронтального погрузчика. Выбирайте в фильтре свой бренд и нужное вам оборудование Метатэкс{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Ковш общего назначения для фронтального погрузчика{% endblock %}
{% block og_description %}Страница модели ковша общего назначения для фронтального погрузчика. Выбирайте в фильтре свой бренд и нужное вам оборудование Метатэкс{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--subsection wrap-pad-normal">
    <nav class="content-header__nav">
      <div class="content-header__leftbox-wr">
        <a href="#" class="btn-more-large" title="Перейти назад"><span class="met-ico-button-left"></span>
          <span class="btn-more-large__text font--uppercase font--light">назад</span></a>
      </div>
      <div class="bread-crumbs small-text">
        <div>
          <a href="#" title="На главную">Главная</a>&nbsp;<span>/</span> <a href="#"
            title="Перейти в Каталог продукции">Каталог
            продукции</a>&nbsp;<span>/</span> <a href="#"
            title="Перейти в Ковш общего назначения для фронтального погрузчика">Навесное оборудование для
            фронтальных погрузчиков</a>
        </div>
      </div>
    </nav>
    <div class="content-header__leftbox-wr">
      <a class="content-header__ico" href="#" title="Оборудование для фронтального погрузчика">
        <img src="/images/ico/ico-frontloader.png" alt="Иконка фронтального погрузчика" />
      </a>
    </div>
    <div class="content-header__title-wr">
      <h1>Навесное оборудование для&nbsp;фронтальных-погрузчиков</h1>
    </div>
  </div>

  <!-- Секция моделями -->
  <section class="wrap-pad-min grid--gap--min grid-container grid--column--4to2">
    <!-- Карточка модели 1 -->
    <a href="#" class="card-model" title="Отвалы для уборки снега для коммунально-уборочной техники">
      <div class="card-model__top-wrap">

        <img src="/images/products/_dump-utility-vehicles_480 b.jpeg"
          alt="Фото отвал для уборки снега для коммунально-уборочной техники" />
      </div>
      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 72 000 ₽</span>
          <span class="h4">Отвалы для уборки снега</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>

    </a>
    <!-- Конец карточки модели 1 -->

    <!-- Карточка модели 2 -->
    <a href="#" class="card-model" title="Ковши высокой выгрузки для фронтальных погрузчиков">
      <div class="card-model__top-wrap">

        <img src="/images/products/_High-Discharge-Bucket-Avant_b 480.jpeg"
          alt="Ковши высокой выгрузки для фронтальных погрузчиков" />
      </div>
      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 141 000 ₽</span>
          <span class="h4">Ковши высокой выгрузки</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>

    </a>
    <!-- Конец карточки модели 2 -->
    <!-- Карточка модели 3 -->
    <a href="#" class="card-model" title="Бревнозахваты для фронтальных погрузчиков">
      <div class="card-model__top-wrap">

        <img src="/images/products/_Log-grab-minitractor-b 480.jpeg"
          alt="Фото бревнозахвата для фронтальных погрузчиков" />
      </div>


      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 152 000 ₽</span>
          <span class="h4">Бревнозахваты</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>
    </a>

    <!-- Конец карточки модели 3 -->
    <!-- Карточка модели 4 -->
    <a href="#" class="card-model" title="Ковши 4 в 1 для фронтальных погрузчиков">
      <div class="card-model__top-wrap">
        <span class="label-hit h4 font--light font--uppercase">Хит</span>
        <img src="/images/products/_Jaw-bucket-Avant-mini-tractor 480 b.jpeg"
          alt="Фото ковша 4 в 1 для фронтальных погрузчиков" />
      </div>

      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 151 000 ₽</span>
          <span class="h4">Ковши 4 в 1</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>
    </a>
    <!-- Конец карточки модели 4 -->
    <!-- Карточка модели 5 -->
    <a href="#" class="card-model" title="Ковши общего назначения для фронтальных погрузчиков">
      <div class="card-model__top-wrap">

        <img src="/images/products/_main-bucket-Avant-d 480.jpeg"
          alt="Фото ковша общего назначения для фронтальных погрузчиков" />
      </div>



      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 41 000 ₽</span>
          <span class="h4">Ковши общего назначения</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>
    </a>
    <!-- Конец карточки модели 5 -->
    <!-- Карточка модели 6 -->
    <a href="#" class="card-model" title="Щетки с поворотом для фронтальных погрузчиков">
      <div class="card-model__top-wrap">
        <span class="label-hit h4 font--light font--uppercase">Хит</span>
        <img src="/images/products/_brush-utility-vehicles 480 b.jpeg"
          alt="Фото щетки с поворотом для фронтальных погрузчиков" />
      </div>

      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 200 000 ₽</span>
          <span class="h4">Щетки с поворотом</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>

    </a>
    <!-- Конец карточки модели 6 -->
    <!-- Карточка модели 7 -->
    <a href="#" class="card-model" title="Щетки с гидравлическим поворотом для фронтальных погрузчиков">
      <div class="card-model__top-wrap">


        <!-- картинки шириной 576px -->
        <img src="/images/products/_brush-plastic-casing-480-b.jpeg"
          alt="Фото щетки с гидравлическим поворотом для фронтальных погрузчиков" />
      </div>
      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 164 000 ₽</span>
          <span class="h4">Щетки с&nbsp;гидравлическим поворотом</span>
          <span class="small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>
    </a>
    <!-- Конец карточки модели 7 -->
    <!-- Карточка модели 8 -->
    <a href="#" class="card-model" title="Ковши высокой выгрузки для фронтальных погрузчиков">
      <div class="card-model__top-wrap">
        <span class="label-hit h4 font--light font--uppercase">Хит</span>
        <img src="/images/products/_High-Discharge-Bucket-Avant_b 480.jpeg"
          alt="Ковши высокой выгрузки для фронтальных погрузчиков" />
      </div>
      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 141 000 ₽</span>
          <span class="h4">Ковши высокой выгрузки</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>

    </a>

    <!-- Конец карточки модели 8 -->
    <!-- Карточка модели 9 -->
    <a href="#" class="card-model" title="Бревнозахваты для для фронтальных погрузчиков">
      <div class="card-model__top-wrap">

        <img src="/images/products/_Log-grab-minitractor-b 480.jpeg"
          alt="Фото бревнозахвата для фронтальных погрузчиков" />
      </div>


      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 152 000 ₽</span>
          <span class="h4">Бревнозахваты</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>
    </a>
    <!-- Конец карточки модели 9 -->
    <!-- Карточка модели 10 -->
    <a href="#" class="card-model" title="Ковши высокой выгрузки для фронтальных погрузчиков">
      <div class="card-model__top-wrap">

        <img src="/images/products/_High-Discharge-Bucket-Avant_b 480.jpeg"
          alt="Ковши высокой выгрузки для фронтальных погрузчиков" />
      </div>
      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 141 000 ₽</span>
          <span class="h4">Ковши высокой выгрузки</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>

    </a>
    <!-- Конец карточки модели 10 -->
    <!-- Карточка модели 11 -->
    <a href="#" class="card-model" title="Отвалы для уборки снега для фронтальных погрузчиков">
      <div class="card-model__top-wrap">
        <span class="label-hit h4 font--light font--uppercase">Хит</span>
        <img src="/images/products/_dump-utility-vehicles_480 b.jpeg"
          alt="Фото отвал для уборки снега для фронтальных погрузчиков" />
      </div>
      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 72 000 ₽</span>
          <span class="h4">Отвалы для уборки снега</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>

    </a>
    <!-- Конец карточки модели 11 -->
    <!-- Карточка модели 12 -->
    <a href="#" class="card-model" title="Щетки с поворотом для фронтальных погрузчиков">
      <div class="card-model__top-wrap">

        <img src="/images/products/_brush-utility-vehicles 480 b.jpeg"
          alt="Фото щетки с поворотом для фронтальных погрузчиков" />
      </div>

      <div class="card-model__bottom-wrap">
        <div class="card-model__descript">
          <span class="card-model__descript-price text--nowrap">От: 200 000 ₽</span>
          <span class="h4">Щетки с поворотом</span>
          <span class="card-model__descript-category small-text">для фронтальных погрузчиков</span>
        </div>
        <div class="btn-more">
          <span class="met-ico-button-right"></span> <span
            class="small-text font--uppercase">подобрать</span>
        </div>
      </div>

    </a>
    <!-- Конец карточки модели 12 -->


  </section>



  <!-- Секция с фильтром -->
  <section class="filtr-section  wrap-pad-normal wrap--column wrap-pad--mob--none">


    <!-- Популярные товары оборудования в этом сезоне -->
    <h2>Популярное для фронтального погрузчика</h2>

    <!-- Swiper слайдер для рекламного баннера -->
    <div class="swiper slider-products">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <!-- ==== Карточка товара 1 ==== -->
          <div class="card-product">
            <a href="#" class="card-product__link"
              title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
            <div class="card-product__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <!-- картинки шириной 576px -->
              <img src="/images/products/_brush-plastic-casing-480.jpeg"
                alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
            </div>
            <div class="card-product__middle-wrap">
              <span class="h4">Щетка с&nbsp;гидравлическим поворотом для&nbsp;BOULDER&nbsp;WL33</span>
              <ul class="small-text">
                <li>Г/п машины: 3 т</li>
                <li>Ширина ковша: 250 см</li>
                <li>Объем ковша: 1,8 м<sup>3</sup></li>
              </ul>
              <div class="card-product__btn-more">
                <hr />
                <div class="btn-more">
                  <span class="met-ico-button-right"></span> <span
                    class="small-text font--uppercase">о&nbsp;товаре</span>
                </div>
              </div>
            </div>
            <div class="card-product__bottom-wrap">
              <div class="card-product__price-box">
                <span class="small-text">в наличии 4 шт</span>
                <span class="h4 font--light">97 000 ₽</span>
              </div>
              <!-- Кнопка купить в один клик -->
              <a class="btn-small-buy" href="#">
                <span class="small-text">Купить</span>
              </a>
            </div>
          </div>
          <!-- ==== Конец карточки товара 1 ==== -->
        </div>



        <div class="swiper-slide">

          <!-- ==== Карточка товара 2 ==== -->
          <div class="card-product">
            <a href="#" class="card-product__link" title="Щетка с поворотом для Lonking CDM 833"></a>
            <div class="card-product__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <!-- картинки шириной 576px -->
              <img src="/images/products/_brush-utility-vehicles-480.jpeg"
                alt="Щетка с поворотом для Lonking CDM 833" />
            </div>
            <div class="card-product__middle-wrap">
              <span class="h4">Щетки с&nbsp;поворотом для&nbsp;Lonking CDM&nbsp;833</span>
              <ul class="small-text">
                <li>Г/п машины: 3 т</li>
                <li>Ширина ковша: 250 см</li>
                <li>Объем ковша: 1,8 м<sup>3</sup></li>
              </ul>
              <div class="card-product__btn-more">
                <hr />
                <div class="btn-more">
                  <span class="met-ico-button-right"></span> <span
                    class="small-text font--uppercase">о&nbsp;товаре</span>
                </div>
              </div>
            </div>
            <div class="card-product__bottom-wrap">
              <div class="card-product__price-box">
                <span class="small-text">в наличии 1 шт</span>
                <span class="h4 font--light">200 000 ₽</span>
              </div>
              <!-- Кнопка купить в один клик -->
              <a class="btn-small-buy" href="#">
                <span class="small-text">Купить</span>
              </a>
            </div>
          </div>
          <!-- ==== Конец карточки товара 2 ==== -->

        </div>


        <div class="swiper-slide">

          <!-- ==== Карточка товара 3 ==== -->
          <div class="card-product">
            <a href="#" class="card-product__link" title="Отвал для уборки снега для BOULDER WL33"></a>
            <div class="card-product__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <!-- картинки шириной 576px -->
              <img src="/images/products/_dump-utility-vehicles_480.jpeg"
                alt="Отвал для уборки снега для BOULDER WL33" />
            </div>
            <div class="card-product__middle-wrap">
              <span class="h4">Отвалы с&nbsp;гидравлическим поворотом для&nbsp;BOULDER&nbsp;WL33</span>
              <ul class="small-text">
                <li>Г/п машины: 3 т</li>
                <li>Ширина ковша: 250 см</li>
                <li>Объем ковша: 1,8 м<sup>3</sup></li>
              </ul>
              <div class="card-product__btn-more">
                <hr />
                <div class="btn-more">
                  <span class="met-ico-button-right"></span> <span
                    class="small-text font--uppercase">о&nbsp;товаре</span>
                </div>
              </div>
            </div>
            <div class="card-product__bottom-wrap">
              <div class="card-product__price-box">
                <span class="small-text">в наличии 2 шт</span>
                <span class="h4 font--light">72 000 ₽</span>
              </div>
              <!-- Кнопка купить в один клик -->
              <a class="btn-small-buy" href="#">
                <span class="small-text">Купить</span>
              </a>
            </div>
          </div>
          <!-- ==== Конец карточки товара 3 ==== -->
        </div>



        <div class="swiper-slide">

          <!-- ==== Карточка товара 4 ==== -->
          <div class="card-product">
            <a href="#" class="card-product__link" title="Ковш высокой выгрузки для Shantui SL 30"></a>
            <div class="card-product__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <!-- картинки шириной 576px -->
              <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
                alt="Фото ковша высокой выгрузки для Shantui SL 30" />
            </div>
            <div class="card-product__middle-wrap">
              <span class="h4">Ковши высокой выгрузки для&nbsp;Shantui SL&nbsp;30</span>
              <ul class="small-text">
                <li>Г/п машины: 3 т</li>
                <li>Ширина ковша: 250 см</li>
                <li>Объем ковша: 1,8 м<sup>3</sup></li>
              </ul>
              <div class="card-product__btn-more">
                <hr />
                <div class="btn-more">
                  <span class="met-ico-button-right"></span> <span
                    class="small-text font--uppercase">о&nbsp;товаре</span>
                </div>
              </div>
            </div>
            <div class="card-product__bottom-wrap">
              <div class="card-product__price-box">
                <span class="small-text">в наличии 4 шт</span>
                <span class="h4 font--light">141 000 ₽</span>
              </div>
              <!-- Кнопка купить в один клик -->
              <a class="btn-small-buy" href="#">
                <span class="small-text">Купить</span>
              </a>
            </div>
          </div>
          <!-- ==== Конец карточки товара 4 ==== -->
        </div>


        <div class="swiper-slide">

          <!-- ==== Карточка товара 5 ==== -->
          <div class="card-product">
            <a href="#" class="card-product__link" title="Ковша 4 в 1 для Komatsu"></a>
            <div class="card-product__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <!-- картинки шириной 576px -->
              <img src="/images/products/_Jaw-bucket-Avant-mini-tractor_480_11zon.jpeg"
                alt="Фото Ковша 4 в 1 для Komatsu" />
            </div>
            <div class="card-product__middle-wrap">
              <span class="h4">Ковши 4 в 1 для&nbsp;BOULDER&nbsp;WL33</span>
              <ul class="small-text">
                <li>Г/п машины: 3 т</li>
                <li>Ширина ковша: 250 см</li>
                <li>Объем ковша: 1,8 м<sup>3</sup></li>
              </ul>
              <div class="card-product__btn-more">
                <hr />
                <div class="btn-more">
                  <span class="met-ico-button-right"></span> <span
                    class="small-text font--uppercase">о&nbsp;товаре</span>
                </div>
              </div>
            </div>
            <div class="card-product__bottom-wrap">
              <div class="card-product__price-box">
                <span class="small-text">в наличии 4 шт</span>
                <span class="h4 font--light">97 000 ₽</span>
              </div>
              <!-- Кнопка купить в один клик -->
              <a class="btn-small-buy" href="#">
                <span class="small-text">Купить</span>
              </a>
            </div>
          </div>
          <!-- ==== Конец карточки товара 5 ==== -->

        </div>

        <div class="swiper-slide">

          <!-- ==== Карточка товара 6 ==== -->
          <div class="card-product">
            <a href="#" class="card-product__link"
              title="Бревнозахват для мини-тракторов для BOULDER WL33"></a>
            <div class="card-product__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <!-- картинки шириной 576px -->
              <img src="/images/products/_Log-grab-minitractor-480.jpeg"
                alt="Фото бревнозахват для мини-тракторов для BOULDER WL33" />
            </div>
            <div class="card-product__middle-wrap">
              <span class="h4">Бревнозахваты для&nbsp;BOULDER&nbsp;WL33</span>
              <ul class="small-text">
                <li>Г/п машины: 3 т</li>
                <li>Ширина ковша: 250 см</li>
                <li>Объем ковша: 1,8 м<sup>3</sup></li>
              </ul>
              <div class="card-product__btn-more">
                <hr />
                <div class="btn-more">
                  <span class="met-ico-button-right"></span> <span
                    class="small-text font--uppercase">о&nbsp;товаре</span>
                </div>
              </div>
            </div>
            <div class="card-product__bottom-wrap">
              <div class="card-product__price-box">
                <span class="small-text">в наличии 10 шт</span>
                <span class="h4 font--light">152 000 ₽</span>
              </div>
              <!-- Кнопка купить в один клик -->
              <a class="btn-small-buy" href="#">
                <span class="small-text">Купить</span>
              </a>
            </div>
          </div>
          <!-- ==== Конец карточки товара 6 ==== -->

        </div>

        <div class="swiper-slide">

          <!-- ==== Карточка товара 7 ==== -->
          <div class="card-product">
            <a href="#" class="card-product__link"
              title="Ковш общего назначения для мини-тракторов для Lonking CDM 833"></a>
            <div class="card-product__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <!-- картинки шириной 576px -->
              <img src="/images/products/_main-bucket-Avant-480.jpeg"
                alt="Фото ковш общего назначения для мини-тракторов для Lonking CDM 833" />
            </div>
            <div class="card-product__middle-wrap">
              <span class="h4">Ковши общего&nbsp;назначения для&nbsp;Lonking CDM 833</span>
              <ul class="small-text">
                <li>Г/п машины: 3 т</li>
                <li>Ширина ковша: 250 см</li>
                <li>Объем ковша: 1,8 м<sup>3</sup></li>
              </ul>
              <div class="card-product__btn-more">
                <hr />
                <div class="btn-more">
                  <span class="met-ico-button-right"></span> <span
                    class="small-text font--uppercase">о&nbsp;товаре</span>
                </div>
              </div>
            </div>
            <div class="card-product__bottom-wrap">
              <div class="card-product__price-box">
                <span class="small-text">в наличии 4 шт</span>
                <span class="h4 font--light">41 000 ₽</span>
              </div>
              <!-- Кнопка купить в один клик -->
              <a class="btn-small-buy" href="#">
                <span class="small-text">Купить</span>
              </a>
            </div>
          </div>
          <!-- ==== Конец карточки товара 7 ==== -->

        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination__wrap">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>


  <!-- Отдел продаж -->
  <section id="managers-home" class="managers-home wrap-pad-min wrap--column wrap-pad--mob--none">


    <div class="content-limited">


      <form id="formmanager" class="form-callback form--whaite" method="post">
        <header>
          <h3>Если есть вопросы, отправьте заявку менеджер свяжется с вами</h3>
        </header>
        <main>

          <div class="field-row">
            <label class="field-label" for="name">Ваше имя</label>
            <input class="field-input" id="name" autocomplete="on" type="text" name="name" value=""
              size="0" />
          </div>
          <div class="field-row">
            <label class="field-label" for="phone">Телефон<sup>
                <font color="#FF5C00"> *</font>
              </sup></label>
            <input class="field-input required" id="phone" autocomplete="on" type="tel" name="phone"
              value="" size="0" placeholder="+7 (___) ___-__-__" minlength="1"
              data-msg="Заполните поле Телефон" />

          </div>

          <div class="checkbox-row">
            <input class="checkbox required" id="privacy" type="checkbox" name="flag" checked="checked"
              data-msg="Выбор этого пункта обязателен">
            <label for="privacy">
            </label>
            <span class="checkbox-text small-text">Ознакомлен и согласен с <a href="/privacy_policy/"
                title="условия политики обработки персональных данных" target="_blank">условиями
                политики</a>
              обработки
              персональных данных <sup>
                <font color="#FF5C00"> *</font>
              </sup>
            </span>
          </div>

        </main>
        <footer>
          <button name="Submit" value="Отправить" type="submit" class="btn-big btn--orange"><span class="btn__ico  met-ico-circle-right
"></span> Заказать звонок</button>


        </footer>
      </form>

    </div>

  </section>
{% endblock %}
