{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Новость: Метатэкс представил свое оборудование на выставке СТТ Expo 2023{% endblock %}
{% block meta_description %}Новость: Метатэкс представил свое оборудование на выставке СТТ Expo 2023{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Новость: Метатэкс представил свое оборудование на выставке СТТ Expo 2023{% endblock %}
{% block og_description %}Новость: Метатэкс представил свое оборудование на выставке СТТ Expo 2023{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--subsection content-header--ordinary  content-header--articles  wrap-pad-normal">
    <nav class="content-header__nav">
      <div class="content-header__leftbox-wr">
        <a href="#" class="btn-more-large" title="Перейти назад"><span class="met-ico-button-left"></span>
          <span class="btn-more-large__text font--uppercase font--light">назад</span></a>
      </div>
      <div class="bread-crumbs small-text">
        <div>
          <a href="#" title="На главную">Главная</a>&nbsp;<span>/</span> <a href="#"
            title="Перейти к списку брендов техники">Новости</a>&nbsp;<span>/</span>Метатэкс представил свое оборудование на выставке СТТ Expo 2023
        </div>
      </div>
    </nav>

    <div class="content-header__title-wr ">
      <h1>Метатэкс представил свое оборудование на&nbsp;выставке СТТ&nbsp;Expo 2023</h1>
    </div>
    
  </div>
  <!-- Шапка раздела -->
  <div class="content-main-top wrap-pad-normal wrap-pad--mob--min">
    <div class="content-main-top__img"
      style="background-image: url(/images/news/header-news__1920х1080.jpg);">      
    </div>
  </div>
  <article class="content-limited">
    <p>
      Метатэкс принял участие в&nbsp;СТТ Expo 2023&nbsp;&mdash; главной выставке строительной техники и&nbsp;технологий
      в&nbsp;России. На&nbsp;выставке были представлены погрузчики Митракс и&nbsp;Everun, а&nbsp;также широкая линейка навесного оборудования на&nbsp;различные
      виды спецтехники.
    </p>
    <img class="article-img-900" src="/images/news/img-900-01.jpeg" alt="фото статьи 1" />
    <p>
      Метатэкс является официальным дистрибьютором Митракс МП&nbsp;635&nbsp;&mdash; многофункционального погрузчика
      с&nbsp;шарнирно-сочленённой рамой отечественного производства. На&nbsp;стенде был продемонстрирован Митракс, оборудованный челюстным ковшом,
      а&nbsp;также линейка навесного оборудования: снегометатель, V-образный отвал, мультирыхлитель, экскаваторная рукоять
      и&nbsp;крановая стрела.
    </p>
    <div class="article-img-double">
    <img  src="/images/news/img-770-01.jpeg" alt="фото статьи 2" /><img class="article-img__450"  src="/images/news/img-770-02.jpeg" alt="фото статьи 3" />
    </div>
    <p>
      Также Метатэкс является дистрибьютором Everun ER&nbsp;1000&nbsp;&mdash; универсальной машины, сочетающей в&nbsp;себе
      преимущества телескопических погрузчиков с&nbsp;универсальностью фронтальных погрузчиков. Метатэкс разработал специальную линейку
      навесного оборудования для Everun, учитывающую габаритные, весовые и&nbsp;иные особенности погрузчика.</p>
    <p>
      Метатэкс является официальным дистрибьютором Митракс МП&nbsp;635&nbsp;&mdash; многофункционального погрузчика
      с&nbsp;шарнирно-сочленённой
      рамой отечественного производства. На&nbsp;стенде был продемонстрирован Митракс, оборудованный челюстным ковшом,
      а&nbsp;также линейка навесного оборудования: снегометатель, V-образный отвал, мультирыхлитель, экскаваторная рукоять
      и&nbsp;крановая стрела.</p>
    <p>
      Также Метатэкс является дистрибьютором Everun ER&nbsp;1000&nbsp;&mdash; универсальной машины, сочетающей в&nbsp;себе
      преимущества телескопических погрузчиков с&nbsp;универсальностью фронтальных погрузчиков. Метатэкс разработал специальную линейку
      навесного оборудования для Everun, учитывающую габаритные, весовые и&nbsp;иные особенности погрузчика.
      На&nbsp;стенде Метатэкс были показаны десятки единиц навесного оборудования для мини-погрузчиков, мини-экскаваторов,
      мини-тракторов, фронтальных и&nbsp;вилочных погрузчиков, включая новинки и&nbsp;последние разработки компании.
      В&nbsp;частности, была представлена линейка гидравлических буров производства Метатэкс.</p>
    <img class="article-img-900" src="/images/news/img-900-02.jpeg" alt="фото статьи 4" />
      <img class="article-img-900" src="/images/news/img-900-03.jpeg" alt="фото статьи 5" />
       
      <!-- блок с тегами -->
      <div class="section-footer section--footer--tags">
        <hr />
        <div class="section-footer__tags">
        <a href="#" title="Группировать по тегу #Выставки"># Выставки</a> <a href="#" title="Группировать по тегу #События"># События</a>
        </div>
      </div>
      <!-- Конец блока с тегами -->
  </article>
{% endblock %}
