{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Новости{% endblock %}
{% block meta_description %}Новости{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Новости{% endblock %}
{% block og_description %}Новости{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--section  wrap-pad-normal">
    <div class="content-header__title-wr">
      <h1>Новости</h1>
    </div>
    <p class="content-header__descr">Последние новости и&nbsp;события компании Метатэкс: достижения, проекты
      и&nbsp;инновации</p>
  </div>

  <!-- Секция со списком новостей -->
  <section class="section-aside  wrap-pad-normal wrap-pad--mob--min" style="padding-top: 0;">
    <div class="section-aside__left">
      <div class="section-aside__left__wrap">

        <!-- Анонс новости 1 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="Перейти к новости">
            <img src="/images/news/news-img-720_3x2.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Метатэкс представил свое оборудование на&nbsp;выставке СТТ&nbsp;Expo&nbsp;2023</h4>
              <p>Были представлены погрузчики Митракс и&nbsp;Everun, и&nbsp;широкая линейка навесного
                оборудования на&nbsp;разные виды техники.</p>
            </div>
            <div class="anons-block__bottom"><i class="small-text">19 июл. 2023 г.</i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к новости</span></a></div>
          </div>
        </div>
        <!-- Конец анонса новости 1 -->
        <!-- Анонс новости 2 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="Перейти к новости">
            <img src="/images/news/news-img-720_3x2.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Метатэкс представил свое оборудование на&nbsp;выставке СТТ&nbsp;Expo&nbsp;2023</h4>
              <p>Были представлены погрузчики Митракс и&nbsp;Everun, и&nbsp;широкая линейка навесного
                оборудования
                на&nbsp;разные виды техники.</p>
            </div>
            <div class="anons-block__bottom"><i class="small-text">19 июл. 2023 г.</i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к новости</span></a></div>
          </div>
        </div>
        <!-- Конец анонса новости 2 -->
        <!-- Анонс новости 3 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="Перейти к новости">
            <img src="/images/news/news-img-720_3x2.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Метатэкс представил свое оборудование на&nbsp;выставке СТТ&nbsp;Expo&nbsp;2023</h4>
              <p>Были представлены погрузчики Митракс и&nbsp;Everun, и&nbsp;широкая линейка навесного
                оборудования
                на&nbsp;разные виды техники.</p>
            </div>
            <div class="anons-block__bottom"><i class="small-text">19 июл. 2023 г.</i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к новости</span></a></div>
          </div>
        </div>
        <!-- Конец анонса новости 3 -->
        <!-- Анонс новости 4 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="Перейти к новости">
            <img src="/images/news/news-img-720_3x2.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Метатэкс представил свое оборудование на&nbsp;выставке СТТ&nbsp;Expo&nbsp;2023</h4>
              <p>Были представлены погрузчики Митракс и&nbsp;Everun, и&nbsp;широкая линейка навесного
                оборудования
                на&nbsp;разные виды техники.</p>
            </div>
            <div class="anons-block__bottom"><i class="small-text">19 июл. 2023 г.</i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к новости</span></a></div>
          </div>
        </div>
        <!-- Конец анонса новости 4 -->
        <!-- Анонс новости 5 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="Перейти к новости">
            <img src="/images/news/news-img-720_3x2.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Метатэкс представил свое оборудование на&nbsp;выставке СТТ&nbsp;Expo&nbsp;2023</h4>
              <p>Были представлены погрузчики Митракс и&nbsp;Everun, и&nbsp;широкая линейка навесного
                оборудования
                на&nbsp;разные виды техники.</p>
            </div>
            <div class="anons-block__bottom"><i class="small-text">19 июл. 2023 г.</i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к новости</span></a></div>
          </div>
        </div>
        <!-- Конец анонса новости 5 -->
      </div>
      <!-- блок показать еще -->
      <div class="section-footer">
        <a href="#" class="btn-more-large" title="загрузить еще статей"><span
            class="met-ico-button-right"></span>
          <span class="btn-more-large__text font--uppercase font--light">показать еще</span></a>
        <hr />
      </div>
      <!-- Конец блока показать еще -->
    </div>
    <aside class="aside-sidebar">
      <div class="aside-sidebar__wrap">
        <!-- Навигация по годам -->
        <nav class="nav-years">
          <div class="nav-years__arrow years-arrow-left">&#9664;</div>
          <div class="nav-years__wrapp">
            <span class="btn-year" title="Показать новости за все годы">За все годы</span>
            <a href="#" class="btn-year" title="Показать новости 2024 года">2024</a>
            <a href="#" class="btn-year" title="Показать новости 2023 года">2023</a>
            <a href="#" class="btn-year" title="Показать новости 2022 года">2022</a>
            <a href="#" class="btn-year" title="Показать новости 2021 года">2021</a>
            <a href="#" class="btn-year" title="Показать новости 2020 года">2020</a>
          </div>
          <div class="nav-years__arrow years-arrow-right">&#9654;</div>
        </nav>

        <!-- Навигация по рубрикам -->
        <nav class="nav-categories">
          <a href="#" class="btn-small btn--l-grey btn--filtr--select" title="Показать все новости">Все
            новости</a>
          <a href="#" class="btn-small btn--l-grey" title="Показать новости категории события">События</a>
          <a href="#" class="btn-small btn--l-grey" title="Показать новости категории новые разработки">Новые
            разработки</a>
          <a href="#" class="btn-small btn--l-grey"
            title="Показать новости категории испытания">Испытания</a>
          <a href="#" class="btn-small btn--l-grey" title="Показать новости категории выставки">Выставки</a>
        </nav>

        <a href="#" title="Подробно об акции" class="banner-stock">
          <img src="/images/stocks/stocks-430-4x6.jpg" />
        </a>
      </div>


      <div class="sidebar-toggle">Канегории</div>

    </aside>
  </section>
{% endblock %}
