{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Акции{% endblock %}
{% block meta_description %}Акции{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Акции{% endblock %}
{% block og_description %}Акции{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--section  wrap-pad-normal">
    <div class="content-header__title-wr">
      <h1>Акции</h1>
    </div>
    <p class="content-header__descr">Специальные скидки и&nbsp;уникальные условия помогут расширить возможности
      вашей спецтехники. Повышайте продуктивность своей работы с&nbsp;Метатэкс!
    </p>
  </div>

  <!-- Секция со списком акций  -->
  <section class="stocks-list wrap-pad-normal wrap--column wrap-pad--mob--min" style="padding-top: 0">
    <!-- Блок акции 1 -->
    <div class="stocks-block">
      <div class="stocks-block__head">
        <img class="show--desc" src="/images/stocks/stocks-1920.jpg" title="Шапка для десктопа" />
        <img class="show--mob" src="/images/stocks/stocks-695.jpg" title="Шапка для десктопа" />
        <div class="stocks-block__head-in">
          <div class="stocks-block__head-info">
            <span class="stocks-block__old-price h2">429 000 ₽</span><br />
            <span class="stocks-block__new-price h1">386 100 ₽</span>
          </div>
        </div>
      </div>
      <div class="stocks-block__descr wrap--row-to-column">
        <div class="stocks-block__descr-left">
          <h2>Скидка на v-образные снеговые отвалы для экскаваторов-погрузчиков</h2>
          <p>Специально для тех, кто&nbsp;сталкивается с&nbsp;суровыми зимними условиями! Мы&nbsp;рады
            предложить вам скидку 10% на&nbsp;v-образные
            снеговые отвалы для&nbsp;экскаваторов-погрузчиков. Это&nbsp;идеальное решение
            для&nbsp;эффективной очистки дорог и&nbsp;территорий от&nbsp;снега
            в&nbsp;зимнее время. Поспешите воспользоваться этим предложением, чтобы обеспечить бесперебойную
            работу в&nbsp;нашу холодную и&nbsp;снежную зиму.</p>
        </div>
        <div class="stocks-block__descr-right">
          <p class="h4 font--light font--uppercase">Акция действуетс 1&nbsp;ноября до&nbsp;1&nbsp;апреля.
            Выберите нужную модель на&nbsp;странице и&nbsp;сделайте заказ. Либо позвоните нам
            по&nbsp;телефону: <a href="tel:+78002225432" class="link-orange text--nowrap"
              title="Позвонить">+7 800 222-54-32</a></p>

          <a href="#" class="btn-midl btn--green" title="Товары по акции">
            <span class="btn__ico met-ico-circle-right"></span> Товары по акции
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блока акции 1 -->
    <!-- Блок акции 2 -->
    <div class="stocks-block">
      <div class="stocks-block__head">
        <img class="show--desc" src="/images/stocks/stocks-1920.jpg" title="Шапка для десктопа" />
        <img class="show--mob" src="/images/stocks/stocks-695.jpg" title="Шапка для десктопа" />
        <div class="stocks-block__head-in">
          <div class="stocks-block__head-info">
            <span class="stocks-block__old-price h2">429 000 ₽</span><br />
            <span class="stocks-block__new-price h1">386 100 ₽</span>
          </div>
        </div>
      </div>
      <div class="stocks-block__descr wrap--row-to-column">
        <div class="stocks-block__descr-left">
          <h2>Скидка на v-образные снеговые отвалы для экскаваторов-погрузчиков</h2>
          <p>Специально для тех, кто&nbsp;сталкивается с&nbsp;суровыми зимними условиями! Мы&nbsp;рады
            предложить вам скидку 10% на&nbsp;v-образные
            снеговые отвалы для&nbsp;экскаваторов-погрузчиков. Это&nbsp;идеальное решение
            для&nbsp;эффективной очистки дорог и&nbsp;территорий от&nbsp;снега
            в&nbsp;зимнее время. Поспешите воспользоваться этим предложением, чтобы обеспечить бесперебойную
            работу в&nbsp;нашу холодную и&nbsp;снежную зиму.</p>
        </div>
        <div class="stocks-block__descr-right">
          <p class="h4 font--light font--uppercase">Акция действуетс 1&nbsp;ноября до&nbsp;1&nbsp;апреля.
            Выберите нужную модель на&nbsp;странице и&nbsp;сделайте заказ. Либо позвоните нам
            по&nbsp;телефону: <a href="tel:+78002225432" class="link-orange text--nowrap" title="Позвонить">+7 800
              222-54-32</a></p>
    
          <a href="#" class="btn-midl btn--green" title="Товары по акции">
            <span class="btn__ico met-ico-circle-right"></span> Товары по акции
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блока акции 2 -->
    <!-- Блок акции 3 -->
    <div class="stocks-block">
      <div class="stocks-block__head">
        <img class="show--desc" src="/images/stocks/stocks-1920.jpg" title="Шапка для десктопа" />
        <img class="show--mob" src="/images/stocks/stocks-695.jpg" title="Шапка для десктопа" />
        <div class="stocks-block__head-in">
          <div class="stocks-block__head-info">
            <span class="stocks-block__old-price h2">429 000 ₽</span><br />
            <span class="stocks-block__new-price h1">386 100 ₽</span>
          </div>
        </div>
      </div>
      <div class="stocks-block__descr wrap--row-to-column">
        <div class="stocks-block__descr-left">
          <h2>Скидка на v-образные снеговые отвалы для экскаваторов-погрузчиков</h2>
          <p>Специально для тех, кто&nbsp;сталкивается с&nbsp;суровыми зимними условиями! Мы&nbsp;рады
            предложить вам скидку 10% на&nbsp;v-образные
            снеговые отвалы для&nbsp;экскаваторов-погрузчиков. Это&nbsp;идеальное решение
            для&nbsp;эффективной очистки дорог и&nbsp;территорий от&nbsp;снега
            в&nbsp;зимнее время. Поспешите воспользоваться этим предложением, чтобы обеспечить бесперебойную
            работу в&nbsp;нашу холодную и&nbsp;снежную зиму.</p>
        </div>
        <div class="stocks-block__descr-right">
          <p class="h4 font--light font--uppercase">Акция действуетс 1&nbsp;ноября до&nbsp;1&nbsp;апреля.
            Выберите нужную модель на&nbsp;странице и&nbsp;сделайте заказ. Либо позвоните нам
            по&nbsp;телефону: <a href="tel:+78002225432" class="link-orange text--nowrap" title="Позвонить">+7 800
              222-54-32</a></p>
    
          <a href="#" class="btn-midl btn--green" title="Товары по акции">
            <span class="btn__ico met-ico-circle-right"></span> Товары по акции
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блока акции 3 -->
  </section>
{% endblock %}
