{% extends '_base.html' %}
{% load base_tags %}

{% block title %}Тест{% endblock %}

{% block content %}
  <div class="content-header content-header--section  wrap-pad-normal">
    <div class="content-header__title-wr">
      <h1>Тест</h1>
    </div>
  </div>

  <section class="wrap-pad-normal wrap--column wrap-pad--mob--min" style="padding-top: 0">
    <div class="media-home__video-items-plwr">
      <iframe width="720" height="405" src="https://rutube.ru/play/embed/67412c754ea75d06f871bf7d99cb04a4/?t=11&stopTime=15" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
{% endblock %}
