/* ===== Сброс стиля ===== */
@import url("/css/reset.css");

/* ===== Шрифт ===== */
@font-family-main: "Inter Tight", sans-serif;

/* ===== Настройки цветов ===== */
@color-black: #3E3B39;
/* Асфальтовый фирменный цвет */
@color-white: #fff;
/* Самый светлый (белый) цвет */
@color-beige-background: #EDE9E5;
/* Бежевый цвет фона */
@color-beige-light: #FBF6F1;
/* Бежевый светлый цвет */
@color-orange: #EF7D00;
/* Оранжевый фирменный цвет */
@color-orange-light: #E9D4B4;
/* Оранжевый светлый цвет */
@color-orange-midl: #FFA800;
/* Оранжевый средний цвет */
@color-orange-dark: #D75B01;
/* Оранжевый темный цвет */
@color-gray-decor: #D1C9C0;
/* Серый для декоративных элементов */
@color-gray-cold: #B1B1B1;
/* Серый холодный цвет (банковская карта) */
@color-gray-light: #DDD5CD;
/* Серый светлый цвет (обводка кнопки фильтра) */
@color-gray-light-2: #DFDBD8;
/* Серый светлый цвет 2 для скелетонов */
@color-gray-middle: #B2AFAA;
/* Серый средний цвет (кнопка сброса) */
@color-gray-dark: #625F59;
/* Серый темный (карточки) */
@color-gray-ghost: #787878;
/* Серый призрачный */
@color-green-light: #7E9E65;
/* Зеленый светлый цвет */
@color-green-dark: #5B8C5C;
/* Зеленый темный цвет */

/* ===== Настройки отступов ===== */

/* === фиксированные === */
@space-fixed-1: 3px;
@space-fixed-2: 5px;
@space-fixed-3: 7px;
@space-fixed-4: 10px;
@space-fixed-5: 15px;
@space-fixed-6: 25px;

/* === Адаптивные === */
/* Для ширины */
@space-adapt-w-1: calc(~'5px + 5 * ((100vw - 320px) / (1512 - 320))');
/* Размер 5pх - 10px */
@space-adapt-w-2: calc(~'10px + 10 * ((100vw - 320px) / (1512 - 320))');
/* Размер 10pх - 20px */
@space-adapt-w-3: calc(~'13px + 12 * ((100vw - 320px) / (1512 - 320))');
/* Размер 13pх - 25px */
@space-adapt-w-4: calc(~'15px + 15 * ((100vw - 320px) / (1512 - 320))');
/* Размер 15pх - 30px */
@space-adapt-w-5: calc(~'18px + 32 * ((100vw - 320px) / (1512 - 320))');
/* Размер 18pх - 50px */
@space-adapt-w-6: calc(~'25px + 35 * ((100vw - 320px) / (1512 - 320))');
/* Размер 25pх - 60px */

/* Для высота */
@space-adapt-h-0: calc(~'10px + 5 * ((100vw - 320px) / (1512 - 320))');
/* Размер 10pх - 15px */
@space-adapt-h-1: calc(~'15px + 10 * ((100vw - 320px) / (1512 - 320))');
/* Размер 15pх - 25px */
@space-adapt-h-2: calc(~'20px + 10 * ((100vw - 320px) / (1512 - 320))');
/* Размер 20pх - 30px */
@space-adapt-h-3: calc(~'25px + 25 * ((100vw - 320px) / (1512 - 320))');
/* Размер 25pх - 50px */
@space-adapt-h-4: calc(~'30px + 30 * ((100vw - 320px) / (1512 - 320))');
/* Размер 30pх - 60px */
@space-adapt-h-5: calc(~'40px + 40 * ((100vw - 320px) / (1512 - 320))');
/* Размер 40pх - 80px */
@space-adapt-h-6: calc(~'50px + 50 * ((100vw - 320px) / (1512 - 320))');
/* Размер 50pх - 100px */


/* === Для сетки === */
@space-adapt-gr-1: calc(~'10px + 10 * ((100vw - 320px) / (1512 - 320))');
/* Размер 10pх - 20px */
@space-adapt-gr-2: calc(~'5px + 25 * ((100vw - 320px) / (1512 - 320))');
/* Размер 5pх - 30px */

/* === Размер === */

@size-but-small: calc(~'25px + 5 * ((100vw - 320px) / (1512 - 320))');
/* Размер кнопки 25 - 30px */
@size-but: calc(~'40px + 5 * ((100vw - 320px) / (1512 - 320))');
/* Размер кнопки 40 - 45px */
@size-but-middle: calc(~'50px + 10 * ((100vw - 320px) / (1512 - 320))');
/* Размер кнопки 45 - 60px */
@size-but-big: calc(~'80px + 14 * ((100vw - 320px) / (1512 - 320))');
/* Размер кнопки 80 - 94px */
@size-fild: calc(~'40px + 5 * ((100vw - 320px) / (1512 - 320))');
/* Высота поля 40 - 45px */



/* ===== ОСНОВНЫЕ ПАРАМЕТРЫ ====== */
html,
.root {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	/*height: 100%;*/
	position: relative;
	min-height: 100%;
	font-family: @font-family-main;
	font-optical-sizing: auto;
	color: @color-black;
	background-color: @color-beige-background;
	font-weight: 400;
	font-size: calc(~'16px + 2 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.5;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	max-width: 100%;
	height: auto;
}

/* ===== ФОРМАТИРОВАНИЕ ТЕКСТА ===== */

/* ===== Заголовки ===== */

/* Заголовок H1 */

h1,
.h1 {
	font-weight: 200;
	font-size: calc(~'38px + 34 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1;
	margin: 0 0 @space-adapt-h-4 0;
	padding: 0;
}


/* Заголовок H2 */

h2,
.h2 {
	font-weight: 700;
	font-size: calc(~'28px + 12 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.2;
	margin: 0 0 @space-adapt-h-3 0;
}



.media-home__news_description h2,
.media-home__articl_description h2,
.media-home__photo h2,
.media-home__video h2,
.model-description h2 {
	margin-bottom: @space-adapt-h-0;
}

/* Заголовок H3 */

h3,
.h3 {
	font-size: calc(~'24px + 6 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.2;
	margin: 0 0 @space-adapt-h-2 0;
}

h3 {
	font-weight: 700;
}

.h3 {
	font-weight: 200;
}

.model-description h3 {
	margin-bottom: @space-adapt-h-0;
}

/* Заголовок H4 */

h4,
.h4 {
	font-weight: 600;
	font-size: calc(~'18px + 4 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.2;
	margin-bottom: @space-adapt-h-1;
}

.media-home__news_description .h4 {
	margin-bottom: @space-adapt-h-0;
}

/* Маленький текст */

small,
.small-text {
	display: inline-block;
	font-size: calc(~'11px + 3 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.35;
}

small {
	margin-bottom: @space-adapt-h-0;
}

b {
	font-weight: 700;
}

/* Параграф */

p:not(:last-child) {
	margin-bottom: @space-adapt-h-1;
}

p+h2 {
	margin-top: @space-adapt-h-5;
}

p+h3 {
	margin-top: @space-adapt-h-4;
}

p+.btn-more {
	margin: @space-adapt-h-2 0 @space-adapt-h-4 0 !important;
}



/* === Адаптивная верстка / ссылка список статей === */
/* Смартфоны (портретная ориентация до 575px) */
@media (max-width: 575px) {
	.media-home__articl_card p+.btn-more {
		margin: @space-adapt-h-2 0 0 0 !important;
	}
}

/* Смартфоны (альбомная ориентация от 576px) */
@media (min-width: 576px) {
	.media-home__articl_card p+.btn-more {
		margin: @space-adapt-h-2 0 0 0 !important;
	}
}


p+h4 {
	margin-top: @space-adapt-h-3;
}

/* Пояснительный текст */
i {
	font-weight: 200;
	color: #000;
}

/* Модификатор — тонкие буквы */
.font--light {
	font-weight: 200;
}

.h4.font--light {
	font-weight: 300;
}

.about-info .h4.font--light,
.about-info .h3.font--light {
	font-weight: 100;
}

/* Модификатор — толстые буквы */
.font--bold {
	font-weight: 600;
}

/* Модификатор — все буквы заглавные */
.font--uppercase {
	text-transform: uppercase;
}

.text--nowrap {
	white-space: nowrap;
}



/* Старая цена */

del.old-price {
	color: red;
}

del.old-price span {
	color: @color-black;
}




/* ===== списки ===== */


/*  Список маркерованный */
article ul {
	display: block;
	margin: 0 0 @space-adapt-h-2 15px;
	list-style-type: square;
}

.model-description ul {
	display: block;
	list-style-type: square;
}

.model-description ul:not(:last-child) {
	margin: 0 0 @space-adapt-h-2 15px;
}

article p+ul {
	margin-top: @space-adapt-h-2;
}

article ul li:not(:last-child),
.model-description ul li:not(:last-child) {
	margin-bottom: @space-adapt-h-0;
	margin-left: @space-adapt-h-0;
	line-height: 1.2;
}

article ul li,
.model-description ul li {
	margin-bottom: @space-adapt-h-0;
	margin-left: @space-adapt-h-0;
	line-height: 1.2;
}

article ul li::marker,
.model-description ul li::marker {
	color: @color-black;
}


/*  Список определений */

article dl,
.blockinfone dl,
.blockinfsecond dl,
.block-split__content dl,
.contacts-block-split dl,
.accordion-body dl {
	display: block;
	margin-bottom: @space-adapt-h-2;
}

.cart-order-info dl {
	display: block;
	margin-bottom: @space-adapt-h-3;
}

article p+dl {
	margin-top: @space-adapt-h-2;
}


article dl dt,
.blockinfone dt,
.blockinfsecond dt,
.block-split__content dt,
.contacts-block-split dt,
.accordion-body dt {
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: @space-adapt-h-0;
}

.cart-order-info dt {
	line-height: 1.2;
	margin-bottom: @space-adapt-w-1;
}



article dl dd+dt,
.blockinfone dl dd+dt,
.blockinfsecond dl dd+dt,
.block-split__content dl dd+dt,
.contacts-block-split dl dd+dt,
.accordion-body dl dd+dt {
	margin-top: @space-adapt-h-2;
}

.cart-order-info dl dd+dt {
	margin-top: @space-adapt-h-1;
}

article dl dd,
.block-split__content dl dd,
.contacts-block-split dl dd,
.accordion-body dl dd {
	font-weight: 200;
	line-height: 1.2;
	color: #000;
}


.blockinfone dl dd,
.blockinfsecond dl dd {
	font-weight: 200;
	line-height: 1.2;
}


.cart-order-info dl dd {
	font-weight: 200;
	line-height: 1.1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

article dl dd:not(:last-child),
.block-split__content dl dd:not(:last-child),
.contacts-block-split dl dd:not(:last-child),
.accordion-body dl dd:not(:last-child) {
	margin-bottom: @space-adapt-h-0;
}

.cart-order-info dl dd:not(:last-child) {
	margin-bottom: @space-adapt-w-1;
}

.dl-ico,
.block-split__content .dl-ico,
.contacts-block-split .dl-ico,
.accordion-body .dl-ico {
	margin-right: @space-fixed-2;
}

/* ===== ССЫЛКИ ===== */

/* Стандартная ссылка  */

a {
	color: #000;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.06em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
}

a:visited {
	color: #000000;
}

a:hover {
	color: @color-orange-dark;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.06em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}

a:active {
	color: #9c4400;
}

a .h4,
a:visited .h4 {
	color: @color-black;
}

a:hover .h4 {
	color: @color-orange-dark;
}

a:active .h4 {
	color: #9c4400;
}

/* Ссылка иконка редактирования */

a.data_edit-btn {
	text-decoration: none;
}

a.data_edit-btn.dark--bgrnd,
a.data_edit-btn.dark--bgrnd:visited,
a.data_edit-btn.dark--bgrnd:active {
	color: @color-orange;
}

a.data_edit-btn.dark--bgrnd:hover {
	color: @color-orange-midl;
}

/* Cсылка (Белая) */

a.link-white,
.category-catalog a {
	color: #fff9ea;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
}

.cart-order-info a.link-white {
	color: @color-gray-cold;
}

a:visited.link-white,
.category-catalog a:visited {
	color: #fff9ea;
}

a:hover.link-white,
.category-catalog a:hover {
	color: #ffefc7;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}

a:active.link-black,
.category-catalog a:active {
	color: #fff;
}

/* Ссылка акцентная (Оранжевая) */

a.link-orange {
	color: @color-orange;
	transition: all 0.2s ease 0s;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;

}


a:visited.link-orange {
	color: @color-orange;
}


a:hover.link-orange {
	color: @color-orange-midl;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}

a:active.link-orange {
	color: #ffbb00
}

/* Модификатор убирает подчеркивания у ссылок */
a.link--line--none,
a:hover.link--line--none,
a:visited.link--line--none,
a:active.link--line--none {
	text-decoration: none;
}

/* Модификатор делает ссылку оранжевую на светлом фоне */
a:hover.link-orange.link--light--bg {
	color: @color-orange-dark;
}


/* Ссылки с иконкой в начале / белая */

a.link-ico__white {
	text-decoration: none;
	display: flex;
	align-items: center;
}

a.link-ico__white .link-ico__ico {
	color: @color-orange;
	margin-right: @space-fixed-2;
}

a.link-ico__white:hover .link-ico__ico {
	color: @color-orange-midl;

}

a.link-ico__white .link-ico__white-text {
	color: #fff;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
	line-height: 0.98;
}

a.link-ico__white:hover .link-ico__white-text {
	color: #ffefc7;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;


}

/* Ссылки с иконкой в начале / черная */

a.link-ico__black {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: @space-adapt-w-2;
}



a.link-ico__black .link-ico__ico {
	color: @color-orange;
	margin-right: @space-fixed-2;
}

a.link-ico__black:hover .link-ico__ico {
	color: @color-orange-dark;

}

a.link-ico__black .model-text-nav {
	color: @color-orange;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
	line-height: 0.98;
}

a.link-ico__black:hover .model-text-nav {
	color: @color-orange-dark;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}




/* =======  Кнопки   ======== */

/* Кнопка большая */
.btn-big,
a.btn-big,
button.btn-big {
	display: flex;
	padding: 0 @space-adapt-w-5;
	height: @size-but-big;
	justify-content: center;
	align-items: center;
	border-radius: 1.0em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: @font-family-main;
	font-size: calc(~'18px + 4 * ((100vw - 320px) / (1730 - 320))');
	font-weight: 200;
	line-height: 1.1;
}

/* Кнопка средняя */
.btn-midl,
a.btn-midl,
button.btn-midl {
	display: flex;
	padding: 0 @space-adapt-h-1;
	height: @size-but;
	justify-content: center;
	align-items: center;
	border-radius: 1.0em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: @font-family-main;
	font-size: calc(~'11px + 3 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.1;

}


/* Кнопка маленькая */
.btn-small,
a.btn-small,
button.btn-small {
	display: flex;
	padding: 0 @space-adapt-h-1;
	height: @size-but;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 0.7em;
	text-decoration: none;
	font-weight: bold;
	font-family: @font-family-main;
	font-size: calc(~'16px + 2 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.1;
}


/* Кнопка продолговатый элипс */
.btn-ellipse,
a.btn-ellipse {
	display: flex;
	flex-grow: 0;
	padding: 0 @space-adapt-w-2;
	height: @size-but;
	min-width: 5em;
	justify-content: center;
	align-items: center;
	border-radius: 3.0em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: calc(~'11px + 3 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.1;
}


a.btn-midl.btn--green:hover,
.btn-midl.btn--green:hover,
a.btn-big.btn--green:hover,
.btn-big.btn--green:hover {
	color: #fff;
}

.btn__ico {
	font-size: calc(~'18px + 4 * ((100vw - 320px) / (1730 - 320))');
	margin-right: @space-adapt-w-1;
}

.btn-big .btn__ico {
	font-size: calc(~'25px + 12 * ((100vw - 320px) / (1730 - 320))');
	margin-right: @space-adapt-w-1;
}

/* Кнопка зеленая */
.btn--green {
	background: linear-gradient(90deg, rgba(91, 140, 92, 1) 0%, rgba(126, 158, 101, 1) 33%, rgba(126, 158, 101, 1) 64%, rgba(85, 132, 87, 1) 100%);
	background-size: 180% 100%;
	background-position: 0 0;
	transition: background-position .15s;
	-webkit-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	-moz-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
}

.btn--green:hover {
	background-position: 63% 0;

}



/* Кнопка оранжевая */
.btn--orange {
	background: linear-gradient(90deg, rgba(215, 91, 1, 1) 0%, rgba(239, 125, 0, 1) 33%, rgba(239, 125, 0, 1) 64%, rgba(215, 91, 1, 1) 100%);
	background-size: 180% 100%;
	background-position: 0 0;
	transition: background-position .15s;
	-webkit-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	-moz-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
}

.btn--orange:hover {
	background-position: 63% 0;

}


/* === Кнопка купить === */

/* Кнопка купить маленькая */

.btn-small-buy {
	display: flex;
	padding: 0 @space-adapt-h-1;
	height: @size-but;
	justify-content: center;
	align-items: center;
	color: #fff !important;
	border-radius: 0.7em;
	text-decoration: none;
	font-family: @font-family-main;
	font-size: calc(~'16px + 2 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.1;
	position: relative;
	z-index: 3;
	background: linear-gradient(90deg, rgba(215, 91, 1, 1) 0%, rgba(239, 125, 0, 1) 50%, rgba(239, 125, 0, 1) 100%);
	-webkit-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	-moz-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
}

.btn-small-buy::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgb(126, 158, 101, ) 0%, rgb(126, 158, 101, ) 42%, rgb(91, 140, 92, ) 100%);
	z-index: 4;
	opacity: 0;
	border-radius: 0.7em;
	transition: opacity 0.2s ease;
}


.btn-small-buy:hover::after {
	opacity: 1;

}


.btn-small-buy span {
	position: relative;
	z-index: 5;
}

a.btn-small-buy:hover {
	text-decoration: none;
}


/* Кнопка купить большая */

.btn-big-buy {
	display: flex;
	padding: 0 @space-adapt-h-1;
	height: @size-but-middle;
	justify-content: center;
	align-items: center;
	color: #fff !important;
	border-radius: 1.1em;
	text-decoration: none;
	font-family: @font-family-main;
	font-weight: 300;
	font-size: calc(~'18px + 4 * ((100vw - 320px) / (1730 - 320))');
	text-transform: uppercase;
	line-height: 1.1;
	position: relative;
	z-index: 3;
	background: linear-gradient(90deg, rgba(215, 91, 1, 1) 0%, rgba(239, 125, 0, 1) 50%, rgba(239, 125, 0, 1) 100%);
	-webkit-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	-moz-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
}

.btn-big-buy .btn__ico {
	font-size: calc(~'25px + 5 * ((100vw - 320px) / (1730 - 320))');
	margin-right: @space-adapt-w-1;
}


.btn-big-buy::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(270deg, rgba(215, 91, 1, 1) 0%, rgba(239, 125, 0, 1) 50%, rgba(239, 125, 0, 1) 100%);
	z-index: 4;
	opacity: 0;
	border-radius: 1.1em;
	transition: opacity 0.2s ease;
}


.btn-big-buy:hover::after {
	opacity: 1;

}


.btn-big-buy span {
	position: relative;
	z-index: 5;
}

a.btn-big-buy:hover {
	text-decoration: none;
}


/* Кнопка добавить в корзину */

.btn-big-basket {
	display: flex;
	padding: 0 @space-adapt-h-1;
	height: @size-but-middle;
	justify-content: center;
	align-items: center;
	color: #fff !important;
	border-radius: 1.1em;
	text-decoration: none;
	font-family: @font-family-main;
	font-weight: 300;
	font-size: calc(~'18px + 4 * ((100vw - 320px) / (1730 - 320))');
	text-transform: uppercase;
	line-height: 1.1;
	position: relative;
	z-index: 3;
	background: linear-gradient(90deg, rgb(126, 158, 101, ) 0%, rgb(126, 158, 101, ) 42%, rgb(91, 140, 92, ) 100%);
	-webkit-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	-moz-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
}

.btn-big-basket .btn__ico {
	font-size: calc(~'25px + 5 * ((100vw - 320px) / (1730 - 320))');
	margin-right: @space-adapt-w-1;
}


.btn-big-basket::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(270deg, rgb(126, 158, 101, ) 0%, rgb(126, 158, 101, ) 42%, rgb(91, 140, 92, ) 100%);
	z-index: 4;
	opacity: 0;
	border-radius: 1.1em;
	transition: opacity 0.2s ease;
}


.btn-big-basket:hover::after {
	opacity: 1;

}


.btn-big-basket span {
	position: relative;
	z-index: 5;
}

a.btn-big-basket:hover {
	text-decoration: none;
}


/* Кнопка сохранить */

.btn-save {
	display: flex;
	padding: 0 @space-adapt-h-1;
	height: @size-but;
	justify-content: center;
	align-items: center;
	color: @color-gray-dark !important;
	border-radius: 0.7em;
	text-decoration: none;
	font-family: @font-family-main;
	font-size: calc(~'16px + 2 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1.1;
	position: relative;
	z-index: 3;
	background: linear-gradient(90deg, rgba(209, 201, 192, 1) 0%, rgba(231, 223, 215, 1) 50%, rgba(231, 223, 215, 1) 100%);
	-webkit-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	-moz-box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	box-shadow: 0.1em 0.1em 0em 0.1em rgba(34, 60, 80, 0.18);
	transition: all 0.2s ease;
}

.btn-save:hover {
	color: @color-black !important;
	transition: all 0.2s ease;
}

.btn-save::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgb(231, 223, 215, ) 0%, rgb(231, 223, 215, ) 42%, rgb(209, 201, 192, ) 100%);
	z-index: 4;
	opacity: 0;
	border-radius: 0.7em;
	transition: opacity 0.2s ease;
}


.btn-save:hover::after {
	opacity: 1;

}


.btn-save span {
	position: relative;
	z-index: 5;
}

a.btn-save:hover {
	text-decoration: none;
}


/* Кнопка черная */
.btn--black {
	background-color: @color-black;
}

.btn--black:hover {
	background-color: @color-orange;
}


/* Кнопка Телеграм */
.btn--telegram {
	background-color: #2AABEE;
	transition: background-color 0.2s ease;
}

.btn--telegram:hover {
	background-color: #44DDFF;
	transition: background-color 0.2s ease;
}

/* Кнопка Вконтакте */
.btn--vk {
	background-color: #3079F7;
	transition: background-color 0.2s ease;
}

.btn--vk:hover {
	background-color: #5C98FF;
	transition: background-color 0.2s ease;
}

/* Кнопка youtube */
.btn--youtube {
	background-color: #FF0000;
	transition: background-color 0.2s ease;
}

.btn--youtube:hover {
	background-color: #FF7236;
	transition: background-color 0.2s ease;
}

/* Кнопка темносерая */
.btn--d-grey,
a.btn--d-grey,
button.btn--d-grey {
	color: #fff;
	background-color: @color-gray-dark;
}


.btn--d-grey:hover,
a.btn--d-grey:hover,
button.btn--d-grey:hover {
	background-color: @color-orange;
}

/* Кнопка серая */
.btn--grey,
a.btn--grey,
button.btn--d-grey {
	color: #fff;
	background-color: @color-gray-middle;
}


.btn--grey:hover,
a.btn--grey:hover,
button.btn--grey:hover {
	background-color: @color-orange;
}

/* Кнопка светлосерая */
.btn--l-grey,
a.btn--l-grey,
button.btn--l-grey {
	color: @color-black;
	background-color: @color-beige-light;
	border: 1px solid @color-gray-decor;
}

.btn--l-grey:hover,
a.btn--l-grey:hover,
button.btn--l-grey:hover {
	color: #fff;
	background-color: @color-orange;
	border: 1px solid @color-orange;
}

/* Модификатор делает кнопку выбранной */
.btn--filtr--select,
a.btn--filtr--select,
button.btn--filtr--select {
	color: #fff;
	background-color: @color-orange;
	border: 1px solid @color-orange;
}

/* Кнопка поиска */
.btn-search {
	height: @size-fild;
	padding: 0 @space-adapt-w-3;
	border-radius: 1em;
	cursor: pointer;
}

.btn-search span {
	font-size: calc(~'24px + 6 * ((100vw - 320px) / (1730 - 320))');
	transition: all 0.2s ease 0s;
}

.btn-search:hover span {
	color: @color-orange;
	transition: all 0.2s ease 0s;
}

/* Кнопка подробнее */

.btn-more {
	display: flex;
	align-items: center;
}


.btn-more .met-ico-button-right {
	margin-right: @space-adapt-w-1;
	font-size: 1.0em;
	color: @color-orange;
	transition: all 0.2s ease 0s;
}




a:hover .btn-more .met-ico-button-right,
.card-product:hover .btn-more .met-ico-button-right {
	color: @color-orange-midl;
	transition: all 0.2s ease 0s;
}

a.card-model .btn-more .small-text,
.card-product .btn-more .small-text {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
}

a.card-model .btn-more .small-text {
	color: #fff;
}

.card-product .btn-more .small-text {
	color: #000;
}

a:hover.card-model .btn-more .small-text,
.card-product:hover .btn-more .small-text {
	color: #fff;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}

a:hover.card-model .btn-more .small-text {
	color: #fff;
}

.card-product:hover .btn-more .small-text {
	color: #000;
}


/* Модифицирует кнопку в среднюю на белом фоне */

a.btn-more {
	text-decoration: none;
}

a:hover.btn-more .met-ico-button-right {
	color: @color-orange-dark;
	transition: all 0.2s ease 0s;
}

a.btn-more .font--uppercase {
	color: #000;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
}

a:hover.btn-more .font--uppercase {
	color: @color-orange-dark;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}


/* Модификатор преобразует в кнопку на темном фоне */

a.btn-more.btn--more--w .font--uppercase {
	color: #fff;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
}

a:hover.btn-more.btn--more--w .font--uppercase {
	color: @color-orange-midl;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}

a:hover.btn-more.btn--more--w .met-ico-button-right {
	color: @color-orange-midl;
	transition: all 0.2s ease 0s;
}



/* Кнопка подробнее большая */

a.btn-more-large {
	display: flex;
	align-items: center;
	text-decoration: none;
}


a.btn-more-large .met-ico-button-right,
a.btn-more-large .met-ico-button-left {
	margin-right: @space-adapt-w-1;
	font-size: calc(~'24px + 6 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1;
	color: @color-orange;
	transition: all 0.2s ease 0s;
}

a:hover.btn-more-large .met-ico-button-right,
a:hover.btn-more-large .met-ico-button-left {
	color: @color-orange-dark;
	transition: all 0.2s ease 0s;
}

a.btn-more-large .btn-more-large__text {
	font-size: calc(~'24px + 6 * ((100vw - 320px) / (1730 - 320))');
	line-height: 1;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
}

a:hover.btn-more-large .btn-more-large__text {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}


/* ======   Кнопка лайк   =======  */


/* Стили для чекбокса */
.like-checkbox {
	display: inline-block;
	position: relative;
	cursor: pointer;
	user-select: none;
	width: 24px;
	height: 24px;
}

.like-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.like-icon {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	transition: color 0.3s ease;
}

.like-checkbox input:checked~.like-icon {
	color: @color-orange;
	font-size: 24px;
}

.met-ico-heart-filled {
	font-size: 24px;
	color: @color-gray-light-2;
}


/* ========  Кнопка удалить  ========  */

.btn-border {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	height: @size-but-small;
	padding: 0 calc(~'9px + 4 * ((100vw - 320px) / (1512 - 320))');
	cursor: pointer;
}



.btn-border .h4 {
	margin: 0;
	padding: 0;
	font-weight: 100;
}

.block-btn-right {
	padding-left: @space-adapt-w-2;
}


/* ========  Кнопка удалить полная ========  */

.btn-border-full {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}

.btn-border-full .met-ico-close-b {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	height: @size-but-small;
	padding: 0 calc(~'9px + 4 * ((100vw - 320px) / (1512 - 320))');
	cursor: pointer;
	margin-left: @space-fixed-4;
}

/* Кнопка контурная на темном фоне */


.btn-border.dark--bgrnd {
	color: @color-orange;
	border: 1px solid @color-orange;
	transition: all 0.2s ease 0s;

}

.btn-border.dark--bgrnd:hover {
	color: @color-orange-midl;
	border: 1px solid @color-orange-midl;
	transition: all 0.2s ease 0s;

}


.btn-border.dark--bgrnd.disabled {
	color: @color-gray-ghost;
	border: 1px solid @color-gray-ghost;
	pointer-events: none;
}



.btn-border-full.dark--bgrnd .met-ico-close-b {
	color: @color-orange;
	border: 1px solid @color-orange;
	transition: all 0.2s ease 0s;

}

.btn-border-full.dark--bgrnd:hover .met-ico-close-b {
	color: @color-orange-midl;
	border: 1px solid @color-orange-midl;
	transition: all 0.2s ease 0s;

}

.btn-border-full.dark--bgrnd span:not(.met-ico-close-b) {
	color: @color-orange;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
}

.btn-border-full.dark--bgrnd:hover span:not(.met-ico-close-b) {
	color: @color-orange-midl;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}


/* Кнопка контурная на светлом фоне */

.btn-border.light--bgrnd {
	color: @color-orange-dark;
	border: 1px solid @color-orange-dark;
	transition: all 0.2s ease 0s;

}

.btn-border.light--bgrnd:hover {
	color: @color-orange;
	border: 1px solid @color-orange;
	transition: all 0.2s ease 0s;

}

.btn-border-full.light--bgrnd .met-ico-close-b {
	color: @color-orange-dark;
	border: 1px solid @color-orange-dark;
	transition: all 0.2s ease 0s;

}

.btn-border-full.light--bgrnd:hover .met-ico-close-b {
	color: @color-orange;
	border: 1px solid @color-orange;
	transition: all 0.2s ease 0s;

}

.btn-border-full.light--bgrnd span:not(.met-ico-close-b) {
	color: @color-orange-dark;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 2px;
	transition: all 0.2s ease 0s;
}

.btn-border-full.light--bgrnd:hover span:not(.met-ico-close-b) {
	color: @color-orange;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 0.04em;
	text-underline-offset: 4px;
	transition: all 0.2s ease 0s;
}


/* Кнопка контурная на светлом фоне */

.block-сard__bottom .btn-border {
	color: #B2AFAA;
	border: 1px solid #B2AFAA;
	transition: all 0.2s ease 0s;

}

.block-сard__bottom .btn-border:hover {
	color: @color-orange;
	border: 1px solid @color-orange;
	transition: all 0.2s ease 0s;

}






/* === Временный темный блок! === */
.block-temp {
	background-color: @color-black;
	color: #fff;
	padding: @space-adapt-h-2 @space-adapt-w-3;
}




/* ===== ГЛАВНЫЕ БЛОКИ ===== */

/* Обертки */
.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.wrap-pad-min {
	display: flex;
	width: 100%;
	padding: @space-fixed-3;
}

.wrap-pad-none {
	display: flex;
	width: 100%;
	padding: @space-fixed-3 0;
}

.wrap-pad-normal {
	display: flex;
	width: 100%;
	padding: @space-adapt-h-5 @space-adapt-w-6;

}


/* Заголовки в секции */
.wrap-pad-none h2 {
	padding: @space-adapt-h-5 @space-adapt-w-6 @space-adapt-h-0 @space-adapt-w-6;
	margin-left: auto;
	margin-right: auto;
}

.wrap-pad-normal h2,
.wrap-pad-normal h3,
.delivery-home h2,
.h2-description__wrap {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}


.wrap-pad-normal.h--left h2,
.wrap-pad-normal.h--left h3 {
	max-width: 900px;
}

.h2-description__wrap {
	margin-bottom: @space-adapt-h-2;
}

.h2-description__wrap h2 {
	margin-bottom: @space-adapt-h-0;
}

.h2-description__wrap p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

#brands-home h2,
#delivery-home h2 {
	text-align: center;
}


.wrap--column {
	flex-direction: column !important;
}

//* === Адаптивная верстка / обертка === */

/* до 575px */
@media (max-width: 575px) {

	/* Модификатор - строчка/колонка */
	.wrap--row-to-column {
		flex-direction: column;
	}

	/* Модификатор - строчка/колонка - медиа */
	#media-home.wrap--row-to-column {
		flex-direction: column;
	}

	/* Модификатор - удоляет боковой отступ в мобильной версии */
	.wrap-pad--mob--none {
		padding-left: 0;
		padding-right: 0;
	}

	/* Модификатор - уменьшает боковой отступ в мобильной версии */
	.wrap-pad--mob--min {
		padding-left: @space-fixed-3 !important;
		padding-right: @space-fixed-3 !important;
	}

	.wrap-pad--mob--none h2 {
		padding-left: @space-adapt-w-6;
		padding-right: @space-adapt-w-6;
	}

	.wrap-pad--mob--none h2 {
		padding-left: 0;
		padding-right: 0;
	}


	#media-home .wrap-pad--mob--none .lg-meta-about {
		padding-left: 0;
		padding-right: 0;
	}

	/* Модификатор - строчка/колонка - блок резюме в товаре */
	.product-summary.wrap--row-to-column {
		flex-direction: column;

	}

	.wrap-pad-normal.h--left h2 {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.wrap-pad-normal.h--left h3 {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}
}

/* от 576px */
@media (min-width: 576px) {

	/* Модификатор - строчка/колонка */
	.wrap--row-to-column {
		flex-direction: column;
	}

	/* Модификатор - строчка/колонка - медиа */
	#media-home.wrap--row-to-column {
		flex-direction: column;
	}

	/* Модификатор - строчка/колонка - блок резюме в товаре */
	.product-summary.wrap--row-to-column {
		flex-direction: column;

	}

	.wrap-pad-normal.h--left h2 {
		text-align: center;
		margin-left: auto;
		margin-right: auto;

	}

	.wrap-pad-normal.h--left h3 {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}
}

/* от 768px */
@media (min-width: 768px) {

	/* Модификатор - строчка/колонка */
	.wrap--row-to-column {
		flex-direction: row;
	}

	/* Модификатор - строчка/колонка - категория на главной */
	#category-home.wrap--row-to-column {
		flex-direction: column;
	}

	/* Модификатор - строчка/колонка - блок резюме в товаре */
	.product-summary.wrap--row-to-column {
		flex-direction: column;

	}

	.wrap-pad-normal.h--left h2 {
		text-align: left;
		margin-left: 0;
		margin-right: 0;

	}

	.wrap-pad-normal.h--left h3 {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}

}

/* от 992px */
@media (min-width: 992px) {

	/* Модификатор - строчка/колонка - медиа */
	#media-home.wrap--row-to-column {
		flex-direction: column;
		align-items: stretch;
	}



}


/* от 1200px */
@media (min-width: 1200px) {

	/* Модификатор - строчка/колонка - категория на главной */
	#category-home.wrap--row-to-column {
		flex-direction: row;
	}

	/* Модификатор - строчка/колонка - медиа */
	#media-home.wrap--row-to-column {
		flex-direction: row;
		align-items: stretch;
	}

	/* Модификатор - строчка/колонка - блок резюме в товаре */
	.product-summary.wrap--row-to-column {
		flex-direction: row;

	}

}

/* Затемнение */
.blackout {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

/* Затемнение при открытии главного меню */

body.open .blackout {
	display: block;
}

/* Главная шапка страницы */
.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 11;
	padding: @space-adapt-h-1 @space-adapt-w-6 0 @space-adapt-w-6;
	background: rgb(218, 212, 204);
	background: -moz-linear-gradient(0deg, rgba(218, 212, 204, 1) 0%, rgba(237, 222, 202, 1) 50%, rgba(202, 202, 202, 1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(218, 212, 204, 1) 0%, rgba(237, 222, 202, 1) 50%, rgba(202, 202, 202, 1) 100%);
	background: linear-gradient(0deg, rgba(218, 212, 204, 1) 0%, rgba(237, 222, 202, 1) 50%, rgba(202, 202, 202, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dad4cc", endColorstr="#cacaca", GradientType=1);
	-webkit-box-shadow: 0px 9px 27px -2px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 0px 9px 27px -2px rgba(0, 0, 0, 0.29);
	box-shadow: 0px 9px 27px -2px rgba(0, 0, 0, 0.29);
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.content-limited {
	display: block;
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: @space-adapt-h-6 @space-adapt-w-6 @space-adapt-h-5 @space-adapt-w-6;
}


.content-main-top+.content-limited {
	padding: @space-adapt-h-4 @space-adapt-w-6 @space-adapt-h-4 @space-adapt-w-6;
}




/* ==============   Секция с боковым столбцом   ================= */

.section-aside__left {
	display: flex;
	flex-direction: column;
}

.aside-sidebar {
	background: @color-beige-background;
	transition: transform 0.3s ease-in-out;
}

.aside-sidebar__wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.aside-sidebar__wrap::-webkit-scrollbar {
	display: none;

}

/*  Язычек */
.sidebar-toggle {
	height: 130px;
	background-color: @color-orange;
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-100%);
	cursor: pointer;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 1em 0 0 1em;
	transition: all 0.2s ease 0s;
}

.sidebar-toggle:hover {
	background-color: @color-orange-dark;
	transition: all 0.2s ease 0s;
}

/* == Адаптив / Секция с боковым столбцом == */

/* до 575px */
@media (max-width: 575px) {

	.section-aside__left {
		width: 100%;
		padding: 0;
	}

	.aside-sidebar {
		width: 70%;
		transform: translateX(100%);
		position: fixed;
		padding: 0 @space-adapt-w-5 0 @space-adapt-w-5;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 1000;
	}

	.aside-sidebar__wrap {
		padding: @space-adapt-w-5 0 @space-adapt-w-5 0;
	}

	/*  Язычек */
	.sidebar-toggle {
		display: flex;
		width: @space-adapt-w-6;
		left: calc(~'(25px + 35 * ((100vw - 320px) / (1512 - 320))) * -1');
	}

	.aside-sidebar.open-aside {
		transform: translateX(0);
		/* Выдвигаем сайдбар */
		-webkit-box-shadow: -5px 0px 18px -5px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: -5px 0px 18px -5px rgba(0, 0, 0, 0.2);
		box-shadow: -5px 0px 18px -5px rgba(0, 0, 0, 0.2);
	}

}

/* от 576px */
@media (min-width: 576px) {

	.section-aside__left {
		width: 100%;
		padding: 0;
	}

	.aside-sidebar {
		width: 35%;
		transform: translateX(100%);
		position: fixed;
		padding: 0 @space-adapt-w-5 0 @space-adapt-w-5;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 1000;
	}

	.aside-sidebar__wrap {
		padding: @space-adapt-w-5 0 @space-adapt-w-5 0;
	}

	/*  Язычек */
	.sidebar-toggle {
		display: flex;
		width: @space-adapt-w-6;
		left: calc(~'(25px + 35 * ((100vw - 320px) / (1512 - 320))) * -1');
	}

	.aside-sidebar.open-aside {
		transform: translateX(0);
		/* Выдвигаем сайдбар */
		-webkit-box-shadow: -5px 0px 18px -5px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: -5px 0px 18px -5px rgba(0, 0, 0, 0.2);
		box-shadow: -5px 0px 18px -5px rgba(0, 0, 0, 0.2);
	}


}

/* от 768px */
@media (min-width: 768px) {

	.section-aside__left {
		width: 100%;
	}