{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}О компании{% endblock %}
{% block meta_description %}О компании{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}О компании{% endblock %}
{% block og_description %}О компании{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--section  wrap-pad-normal">
    <div class="content-header__title-wr">
      <h1>О компании</h1>
    </div>
    <p class="content-header__descr">Метатэкс — лидер по&nbsp;производству навесного оборудования
      для&nbsp;спецтехники в&nbsp;России. Мы&nbsp;предоставляем проверенные и&nbsp;надежные решения, которые
      расширяют возможности вашей техники и&nbsp;повышают производительность.</p>
  </div>

  <!-- Внутренняя навигация раздела -->
  <div class="content-nav_wrap wrap-pad-normal wrap-pad--mob--min">
    <nav class="content-nav">
      <span class="content-nav__item content--nav--tem--select">О компании</span>
      <a href="#" title="Реквизиты" class="content-nav__item">Реквизиты</a>
      <a href="#" title="Отзывы" class="content-nav__item">Отзывы</a>
      <a href="#" title="Видео" class="content-nav__item">Видео</a>
      <a href="#" title="Фото" class="content-nav__item">Фото</a>
      <a href="#" title="Файлы" class="content-nav__item">Файлы</a>
    </nav>

    <div class="section-footer">
      <hr />
    </div>
  </div>

  <!-- Шапка раздела -->
  <div class="content-main-top wrap-pad-normal wrap-pad--mob--min">
    <div class="about-info content-main-top__img">
      <div class="about-info__in">
        <div class="about-info__top grid-container grid--column--3to2">
          <div class="about-info__item">
            <span class="h4 font--uppercase font--light">разработано</span>
            <span class="h2">240</span>
            <span class="h4 font--light">моделей оборудования</span>
          </div>
          <div class="about-info__item">
            <span class="h4 font--uppercase font--light">совместимо</span>
            <span class="h2">с 3000</span>
            <span class="h4 font--light">марками спецтехники</span>
          </div>
          <div class="about-info__item">
            <span class="h4 font--uppercase font--light">произведено</span>
            <span class="h2">более 8920</span>
            <span class="h4 font--light">единиц навесного оборудования</span>
          </div>
        </div>
        <div class="about-info__bottom">
          <div class="h4 font--light">
            В штате <span class="h3 font--light">100</span> сотрудников
          </div>
          <div class="line-point"><span></span></div>
          <div class="h4 font--light">
            Работаем с <span class="h3 font--light">2010</span> года
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--  Секция с преимуществами  -->
  <section id="company-about" class="wrap-pad-normal wrap--column">
    <h3>Наши преимущества</h3>
    <div class="grid-container grid--column--6-3to2 block-advantage">
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="/images/ico/ico-buro-200.png" alt="Иконка конструкторское бюро" />
          </span>
        </div>
        <a href="#" title="Перейти к разделу Конструкторское бюро">Конструкторское<br />бюро</a>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="/images/ico/ico-testing-200.png" alt="Иконка испытательная база" />
          </span>
        </div>
        <a href="#" title="Перейти к разделу Испытательная база">Испытательная<br />база</a>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="/images/ico/ico-production-200.png" alt="Иконка собственное производство" />
          </span>
        </div>

        <a href="#" title="Перейти к разделу Собственное производство">Собственное<br />производство</a>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="/images/ico/ico-storage-200.png" alt="Иконка продукция в наличии на складе" />
          </span>
        </div>

        <a href="#" title="Перейти к разделу Продукция в наличии на складе">Продукция в наличии<br />на
          складе</a>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="/images/ico/ico-compatibility-200.png" alt="Иконка совместимость с разной техникой" />
          </span>
        </div>

        <a href="#" title="Перейти к разделу Совместимость с разной техникой">Совместимость<br />с разной
          техникой</a>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="/images/ico/ico-delivery-200.png" alt="Иконка доставка по всей России" />
          </span>
        </div>

        <a href="#" title="Перейти к разделу Доставка по всей России">Доставка<br />по всей России</a>
      </div>
    </div>
  </section>


  <!--  Секция конструктор­ское бюро  -->
  <section id="design-bureau" class="block-split small--box wrap-pad-normal wrap--column">
    <h2>Собственное конструктор­ское&nbsp;бюро</h2>
    <div class="block-split__wrap">
      <div class="block-split__left">
        <div class="block-split__content">
          <img src="/images/about/design-bureau-768.jpg" alt="Иллюстрация конструктор­ское бюро" />
        </div>
      </div>
      <div class="block-split__right">
        <div class="block-split__content">
          Наличие собственного конструкторского бюро и&nbsp;современной
          производственной базы не&nbsp;только позволяет нам
          производить навесное оборудование для большинства наименований импортной и&nbsp;отечественной
          строительной техники, но&nbsp;и&nbsp;осуществлять нестандартные решения для выполнения сложных
          и&nbsp;специфических
          работ.
        </div>
      </div>
    </div>
  </section>


  <!--  Секция Испытательная база  -->
  <section id="testing-base" class="block-split  wrap-pad-normal wrap--column">
    <h2>Испытательная база</h2>
    <div class="block-split__wrap">
      <div class="block-split__left">
        <div class="block-split__content">
          <div class="media-home__video-items-plwr">
            <video>
              <source src="https://youtu.be/2DnPgGE0ADU?si=7-t6eub3gDNftPrd" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <div class="block-split__right">
        <div class="block-split__content">
          Все разработки нашего конструкторского бюро проходят тестирование и&nbsp;обкатку в&nbsp;рабочих
          условиях
          до&nbsp;поступления в&nbsp;производство и&nbsp;продажу. Сроки испытаний зависят от&nbsp;вида
          навесного оборудования,
          но&nbsp;не&nbsp;могут быть менее двойного срока гарантии. Конечный потребитель получает полностью
          проверенный
          и&nbsp;доработанный продукт.
        </div>
      </div>
    </div>
  </section>

  <!--  Секция Собственное производство  -->
  <section id="production" class="block-split  wrap-pad-normal wrap--column">
    <h2>Собственное производство</h2>
    <div class="block-split__wrap">
      <div class="block-split__left">
        <div class="block-split__content">
          <!-- Swiper слайдер для фото -->
          <div class="swiper slider-advertising slider--img--content">
            <div class="swiper-wrapper">
              <!-- фото 1-->
              <div class="swiper-slide">
                <a href="/images/about/production/photo1-1980.jpg" title="Фото 1" target="_blank"
                  data-fancybox="gallery">
                  <img class="" src="/images/about/production/photo1-768.jpg" alt="фото 1" /></a>
              </div>
              <!-- фото 2-->
              <div class="swiper-slide">
                <a href="/images/about/production/photo2-1980.jpg" title="Фото 2" target="_blank"
                  data-fancybox="gallery">
                  <img class="" src="/images/about/production/photo2-768.jpg" alt="Фото 2" /></a>
              </div>
              <!-- фото 3-->
              <div class="swiper-slide">
                <a href="/images/about/production/photo3-1980.jpg" title="Фото 3" target="_blank"
                  data-fancybox="gallery">
                  <img class="" src="/images/about/production/photo3-768.jpg" alt="Фото 3" /></a>
              </div>
              <!-- фото 4-->
              <div class="swiper-slide">
                <a href="/images/about/production/photo4-1980.jpg" title="Фото 4" target="_blank"
                  data-fancybox="gallery">
                  <img class="" src="/images/about/production/photo4-768.jpg"
                    alt="Баннер скидки вертикальный" /></a>
              </div>

              <!-- фото 5-->
              <div class="swiper-slide">
                <a href="/images/about/production/photo5-1980.jpg" title="Фото 5" target="_blank"
                  data-fancybox="gallery">
                  <img class="" src="/images/about/production/photo5-768.jpg" alt="Фото 4" /></a>
              </div>

              <!-- фото 6-->
              <div class="swiper-slide">
                <a href="/images/about/production/photo6-1980.jpg" title="Фото 6" target="_blank"
                  data-fancybox="gallery">
                  <img class="" src="/images/about/production/photo6-768.jpg" alt="Фото 4" /></a>
              </div>

              <!-- фото 7-->
              <div class="swiper-slide">
                <a href="/images/about/production/photo7-1980.jpg" title="Фото 7" target="_blank"
                  data-fancybox="gallery">
                  <img class="" src="/images/about/production/photo7-768.jpg" alt="Фото 5" /></a>
              </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination__wrap">
              <div class="swiper-pagination"></div>
            </div>


          </div>
          <!-- Конец Swiper слайдер для фото -->
        </div>
      </div>
      <div class="block-split__right">
        <div class="block-split__content">
          <p>Для производства навесного оборудования мы&nbsp;используем только высококачественные
            износостойкие
            стали, начиная от&nbsp;низколегированных сталей российского производства 09Г2С и&nbsp;10ХСНД
            и&nbsp;заканчивая
            высококачественными сталями европейского производства, такими как Hardox (Швеция), Estrong
            (Италия), Qurad (Бельгия)
            и&nbsp;пр.</p>
          <p>
            Современное оборудование, опытные специалисты, многоступенчатый контроль качества, а&nbsp;также
            высококачественные материалы&nbsp;&mdash; все это позволяет компании Метатэкс производить
            навесное оборудования
            высочайшего качества по&nbsp;конкурентным ценам.</p>
        </div>
      </div>
    </div>
  </section>

  <!--  Секция навесное оборудование в наличии на складах  -->
  <section id="about-storage" class="block-split  wrap-pad-normal wrap--column">
    <h2>Навесное оборудование в&nbsp;наличии на&nbsp;складах</h2>
    <div class="block-split__wrap">
      <div class="block-split__left">
        <div class="block-split__content">
          <img src="/images/about/sklad-768.jpg" alt="Навесное оборудование в наличии на складах" />
        </div>
      </div>
      <div class="block-split__right">
        <div class="block-split__content">
          Склады компании Метатэкс расположены в&nbsp;целом ряде регионов России. На&nbsp;центральном складе
          в&nbsp;Московской области постоянно
          находится свыше 1000&nbsp;единиц навесного оборудования для&nbsp;наиболее распространенных моделей
          строительной и&nbsp;коммунальной
          техники. Ассортимент готового оборудования постоянно пополняется, позволяя свести к&nbsp;минимуму
          срок
          ожидания продукции.
        </div>
      </div>
    </div>
  </section>


  <!--  Секция список складов -->
  <section id="storages-list" class="block-split small--box wrap-pad-normal wrap--column" style="padding-top: 0">

    <div class="block-split__wrap">
      <div class="block-split__left">
        <div class="block-split__content">
          <h3>Cклад-магазин Метатэкс на&nbsp;се­вере Москвы</h3>
          <h4 class="font--light font--uppercase">Оператор площадки — компания «Вивогрупп»</h4>
          <dl>
            <dt><span class="dl-ico met-ico-geotag"></span> Адрес:</dt>
            <dd>Московская&nbsp;обл., Химки, д.&nbsp;Елино, ул.&nbsp;Рабочая, д.&nbsp;7</dd>
            <dt><span class="dl-ico met-ico-time"></span> Режим работы:</dt>
            <dd>Пн-Пт 09:00-18:00 (по&nbsp;московскому времени)</dd>
            <dt><span class="dl-ico met-ico-telephone"></span> Телефон:</dt>
            <dd><a href="tel:+74999644112" title="Позвонить по телефону +7 499 964-41-12"> +7 499 964-41-12</a></dd>
          </dl>
        </div>
      </div>
      <div class="block-split__right">
        <div class="block-split__content">
          <h3>Cклад-магазин Метатэкс на&nbsp;юге Москвы</h3>
          <h4 class="font--light font--uppercase">ООО «Горснаб­проект»</h4>
          <dl>
            <dt><span class="dl-ico met-ico-geotag"></span> Адрес:</dt>
            <dd>г. Москва, ул. Головачёва д. 2а, территория ССК ВОО</dd>
            <dt><span class="dl-ico met-ico-time"></span> Режим работы:</dt>
            <dd>Пн-Пт 09:00-18:00 (по московскому времени)</dd>
            <dt><span class="dl-ico met-ico-telephone"></span> Телефон:</dt>
            <dd><a href="tel:+74959615910" title="Позвонить по телефону +7 495 961-59-10"> +7 495
                961-59-10</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </section>

  <!--  Секция cовместимое навесное оборудование  -->
  <section id="about-сompatible" class=" wrap--column">
    <div class="wrap-pad-normal" style="padding-bottom: 0;">
      <h2>Совместимое навесное оборудование</h2>
    </div>

    <div class="scrolling-container scrolling--brands">
      <div class="scrolling-track">
        <div class="scrolling-item"><img src="/images/brends/lovol_logo.svg" alt="Логотип Lovol"></div>
        <div class="scrolling-item"><img src="/images/brends/SDLG_logo.svg" alt="Логотип SDLG"></div>
        <div class="scrolling-item"><img src="/images/brends/bobcat.svg" alt="Логотип Bobcat"></div>
        <div class="scrolling-item"><img src="/images/brends/JCB.svg" alt="Логотип JCBt"></div>
        <div class="scrolling-item"><img src="/images/brends/LiuGong_logo.svg" alt="Логотип LiuGong"></div>
        <div class="scrolling-item"><img src="/images/brends/polar_logo.svg" alt="Логотип Polar Badger"></div>
        <div class="scrolling-item"><img src="/images/brends/Mksm.svg" alt="Логотип МКСМ"></div>
        <div class="scrolling-item"><img src="/images/brends/case.svg" alt="Логотип Case"></div>
        <div class="scrolling-item"><img src="/images/brends/locust.svg" alt="Логотип Locust"></div>
        <div class="scrolling-item"><img src="/images/brends/mustang.svg" alt="Логотип Mustang"></div>
        <div class="scrolling-item"><img src="/images/brends/Ant.svg" alt="Логотип ANT"></div>
        <div class="scrolling-item"><img src="/images/brends/Yugong_logo.svg" alt="Логотип Yugong"></div>
        <div class="scrolling-item"><img src="/images/brends/disd_logo.svg" alt="Логотип DISD"></div>
      </div>
    </div>
  </section>


  <!--  Секция описание cовместимое оборудоване -->
  <section id="about-storage" class="block-split  wrap-pad-normal wrap--column">

    <div class="block-split__wrap">
      <div class="block-split__left">
        <div class="block-split__content">
        </div>
      </div>
      <div class="block-split__right">
        <div class="block-split__content">
          <p>Производимое навесное оборудование полностью совместимо со&nbsp;специальной техникой ведущих
            мировых брендов.</p>
          <a href="#" class="btn-more-large" title="перейти в раздел брендов"><span
              class="met-ico-button-right"></span> <span
              class="btn-more-large__text font--uppercase font--light">К&nbsp;списку брендов</span></a>
        </div>
      </div>
    </div>
  </section>

  <!--  Секция навесное оборудование в наличии на складах  -->
  <section id="about-storage" class="block-split  wrap-pad-normal wrap--column">
    <h2>Доставка в&nbsp;любой регион России</h2>
    <div class="block-split__wrap">
      <div class="block-split__left">
        <div class="block-split__content">
          <img src="/images/about/delivery-768.jpg" alt="Навесное оборудование в наличии на складах" />
        </div>
      </div>
      <div class="block-split__right">
        <div class="block-split__content">
          <p>По&nbsp;Москве и&nbsp;Московской области мы&nbsp;осуществляем доставку собственным
            автотранспортом. Сотрудничаем
            с&nbsp;большинством
            известных транспортных компаний и&nbsp;доставляем груз по&nbsp;всей территории России. Наше
            оборудование&nbsp;Вы
            можете получить
            в&nbsp;терминалах компаний: Пэк, Энергия, Деловые линии, ЖелДорЭкспедиция, Байкал Сервис.</p>
          <p>
            Современное оборудование, опытные специалисты, многоступенчатый контроль качества, а&nbsp;также
            высококачественные
            материалы
            &mdash;&nbsp;все это позволяет компании Метатэкс производить навесное оборудования высочайшего
            качества
            по&nbsp;конкурентным ценам.</p>
          <a href="#" class="btn-more-large" title="перейти в раздел брендов"><span
              class="met-ico-button-right"></span> <span
              class="btn-more-large__text font--uppercase font--light">Подробно о&nbsp;доставке</span></a>
        </div>
      </div>
    </div>
  </section>
  <!--  Секция перечень компаний доставки  -->
  <section id="delivery-list" class="wrap--column" style="padding-top: 0;">

    <div class="scrolling-container scrolling--delivery">
      <div class="scrolling-track">
        <div class="scrolling-item"><img src="/images/Delivery/logo-baikalsr.svg" alt="Логотип Байкал Сервис"></div>
        <div class="scrolling-item"><img src="/images/Delivery/logo-dellin.svg" alt="Логотип Деловые линии"></div>
        <div class="scrolling-item"><img src="/images/Delivery/logo-energ.svg" alt="Логотип Энергия"></div>
        <div class="scrolling-item"><img src="/images/Delivery/logo-jde2.svg" alt="Логотип ЖэлДорЭкспедиция"></div>
        <div class="scrolling-item"><img src="/images/Delivery/logo-pec.svg" alt="Логотип Пэк"></div>
    </div>
  </section>


  <section id="about-people" class="wrap-pad-normal wrap--column wrap-pad--mob--min">
    <h2>Но главное в Метатэксе — это люди</h2>
    <img class="about-img" src="/images/about/Foto20about-151.jpg" alt="Фотография коллектива Метатекс" />
    <div class="btn-block">
      <a href="tel:+74999644112" class="btn-big btn--orange">
        <span class="btn__ico  met-ico-telephone"></span> Звонок в офис
      </a>
      <span class="h2 font--light">+7 499 964-41-12</span>
    </div>
  </section>
{% endblock %}
