{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Статьи{% endblock %}
{% block meta_description %}Статьи{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Статьи{% endblock %}
{% block og_description %}Статьи{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--section  wrap-pad-normal">
    <div class="content-header__title-wr">
      <h1>Статьи</h1>
    </div>
    <p class="content-header__descr">О&nbsp;новинках навесного оборудования компании Метатэкс
      и&nbsp;не&nbsp;только: лайфхаки, обзоры и&nbsp;многое другое.
      Используйте для&nbsp;повышения эффективности вашей работы.</p>
  </div>

  <!-- Секция со списком статей -->
  <section class="section-aside  wrap-pad-normal  wrap-pad--mob--min" style="padding-top: 0;">
    <div class="section-aside__left">
      <div class="section-aside__left__wrap grid-container grid--column--2to1-mob grid--gap--same">
        <!-- Анонс статьи 1 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="перейти к статье">
            <img src="/images/article/strela-620_2_11zon.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Крановая стрела Метатэкс. Для&nbsp;задач, с&nbsp;которыми не&nbsp;справятся паллетные
                вилы</h4>
              <p>Высокотехнологичное навесное оборудование для&nbsp;мини-тракторов</p>
            </div>
            <div class="anons-block__bottom"><i class="small-text"><a href="#"
                  title="Выдать статьи по тегу #Тесты и испытания">#Тесты и испытания</a></i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к статье</span></a></div>
          </div>
        </div>
        <!-- Конец анонса статьи 1 -->
        <!-- Анонс статьи 2 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="перейти к статье">
            <img src="/images/article/ispitanie-620_1_11zon.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Как траншейный ковш для&nbsp;экскаваторов-погрузчиков упрощает рытье траншей?</h4>
              <p>Уникальная разработка Метатэкс — специально для рытья узких траншей в&nbsp;глинистой почве
              </p>
            </div>
            <div class="anons-block__bottom"><i class="small-text"><a href="#"
                  title="Выдать статьи по тегу #Тесты и испытания">#Тесты и испытания</a>, <a href="#"
                  title="Выдать статьи по тегу #Лайфхаки">#Лайфхаки</a></i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к статье</span></a></div>
          </div>
        </div>
        <!-- Конец анонса статьи 2 -->
        <!-- Анонс статьи 3 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="перейти к статье">
            <img src="/images/article/ispitanie-620_1_11zon.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Bauma CTT&nbsp;RUSSIA 2019. Обзор юбилейной выставки</h4>
              <p>Главная встреча профессионалов отрасли строительного машиностроения в&nbsp;России.</p>
            </div>
            <div class="anons-block__bottom"><i class="small-text"><a href="#"
                  title="Выдать статьи по тегу #Обзоры">#Обзоры</a></i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к статье</span></a></div>
          </div>
        </div>
        <!-- Конец анонса статьи 3 -->
        <!-- Анонс статьи 4 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="перейти к статье">
            <img src="/images/article/strela-620_2_11zon.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Большие испытания оборудования для&nbsp;мини-погрузчиков под&nbsp;Ярославлем</h4>
              <p>Метатэкс провел финальные испытания новых видов навесного оборудования
                для&nbsp;мини-погрузчика перед запуском в&nbsp;серию.</p>
            </div>
            <div class="anons-block__bottom"><i class="small-text"><a href="#"
                  title="Выдать статьи по тегу #Тесты и испытания">#Тесты и испытания</a></i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к статье</span></a></div>
          </div>
        </div>
        <!-- Конец анонса статьи 4 -->
        <!-- Анонс статьи 5 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="перейти к статье">
            <img src="/images/article/ispitanie-620_1_11zon.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Уникальное изделие в&nbsp;линейке для&nbsp;фронтальных погрузчиков – адаптер
                оригинального ковша</h4>
              <p>Позволяет легко надевать оборудование на&nbsp;фронтальный погрузчик с&nbsp;быстросъемом
              </p>
            </div>
            <div class="anons-block__bottom"><i class="small-text"><a href="#"
                  title="Выдать статьи по тегу #Лайфхаки">#Лайфхаки</a></i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к статье</span></a></div>
          </div>
        </div>
        <!-- Конец анонса статьи 5 -->
        <!-- Анонс статьи 6 -->
        <div class="anons-block">
          <a href="#" class="anons-block__left" title="перейти к статье">
            <img src="/images/article/strela-620_2_11zon.jpg" alt="Картинка новостей" />
          </a>
          <div class="anons-block__right">
            <div class="anons-block__top">
              <h4>Из чего складывается износ ковша и&nbsp;как сделать его&nbsp;прочным?</h4>
              <p>В процессе работы специальной техники ковши подвергаются серьезным нагрузкам. Подробнее
                о&nbsp;них — в&nbsp;нашем материале.
              </p>
            </div>
            <div class="anons-block__bottom"><i class="small-text"><a href="#"
                  title="Выдать статьи по тегу #Тесты и испытания">#Тесты и испытания</a></i> <a href="#"
                title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
                <span class="font--uppercase small-text">перейти к статье</span></a></div>
          </div>
        </div>
        <!-- Конец анонса статьи 6 -->
      </div>
      <!-- блок показать еще -->
      <div class="section-footer">
        <a href="#" class="btn-more-large" title="загрузить еще статей"><span
            class="met-ico-button-right"></span>
          <span class="btn-more-large__text font--uppercase font--light">показать еще</span></a>
        <hr />
      </div>
      <!-- Конец блока показать еще -->
    </div>
    <aside class="aside-sidebar">
      <div class="aside-sidebar__wrap">


        <!-- Навигация по рубрикам -->
        <nav class="nav-categories">
          <a href="#" class="btn-small btn--l-grey btn--filtr--select" title="Показать Все темы">Все темы</a>
          <a href="#" class="btn-small btn--l-grey" title="Показать статью категории Лайфхак">Лайфхаки</a>
          <a href="#" class="btn-small btn--l-grey" title="Показать статью категории Обзор">Обзоры</a>
          <a href="#" class="btn-small btn--l-grey" title="Показать статью категории Тесты и испытания">Тесты
            и испытания</a>
          <a href="#" class="btn-small btn--l-grey"
            title="Показать статью категории советы специалистов">Советы специалистов</a>
        </nav>

        <a href="#" title="Подробно об акции" class="banner-stock">
          <img src="/images/stocks/stocks-430-4x6.jpg" />
        </a>
      </div>

      <div class="sidebar-toggle">Канегории</div>

    </aside>
  </section>
{% endblock %}
