{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Бренды техники{% endblock %}
{% block meta_description %}Страница брендов, с которыми совместимо навесное оборудование компании Метатекс{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Бренды техники{% endblock %}
{% block og_description %}Страница брендов, с которыми совместимо навесное оборудование компании Метатекс{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--section  wrap-pad-normal">
    <div class="content-header__title-wr">
      <h1>Бренды техники</h1>
    </div>
    <p class="content-header__descr">Бренды, с&nbsp;которыми совместимо навесное оборудование компании Метатэкс​
    </p>
  </div>

  <!-- Секция с категориями брендов  -->
  <section class="brands wrap-pad-normal wrap--column wrap-pad--mob--min" style="padding-top: 0">

    <!-- Блок категория брендов — для мини-погрузчиков -->
    <div class="brands-category wrap--row-to-column">
      <div class="brands-category__header">
        <img class="brands-category_ico" src="/images/ico/ico-miniloader.png" alt="Иконка мини-погрузчик" />
        <h2>Мини-погрузчики</h2>
      </div>

      <div class="brands-category__main grid-container grid--column--7to4 grid--gap--same">
        <a href="#" title="На страницу бренда Bobcat" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/bobcat.svg" alt="Логотип Bobcat" />
            </div>
            <span class="brands-item__name">Bobcat</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда JCB" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/JCB.svg" alt="Логотип JCB" />
            </div>
            <span class="brands-item__name">JCB</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда LiuGong" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/LiuGong_logo.svg" alt="Логотип LiuGong" />
            </div>
            <span class="brands-item__name">LiuGong</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда МКСМ" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Mksm.svg" alt="Логотип МКСМ" />
            </div>
            <span class="brands-item__name">МКСМ</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Case" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/case.svg" alt="Логотип Case" />
            </div>
            <span class="brands-item__name">Case</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Locust" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/locust.svg" alt="Логотип Locust" />
            </div>
            <span class="brands-item__name">Locust</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Mustang" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/mustang.svg" alt="Логотип Mustang" />
            </div>
            <span class="brands-item__name">Mustang</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда ANT" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Ant.svg" alt="Логотип ANT" />
            </div>
            <span class="brands-item__name">ANT</span>
          </div>
        </a>
      </div>

    </div>
    <!-- Конец блок категория — Для мини-погрузчиков-->

    <!-- Блок категория брендов — для фронтальных погрузчиков -->
    <div class="brands-category wrap--row-to-column">
      <div class="brands-category__header">
        <img class="brands-category_ico" src="/images/ico/ico-frontloader.png" alt="Иконка мини-погрузчик" />
        <h2>Фронтальные погрузчики</h2>
      </div>

      <div class="brands-category__main grid-container grid--column--7to4 grid--gap--same">

        <a href="#" title="На страницу бренда SDLG" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/SDLG_logo.svg" alt="Логотип SDLG" />
            </div>
            <span class="brands-item__name">SDLG</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Bobcat" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/bobcat.svg" alt="Логотип Bobcat" />
            </div>
            <span class="brands-item__name">Bobcat</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда JCB" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/JCB.svg" alt="Логотип JCB" />
            </div>
            <span class="brands-item__name">JCB</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда LiuGong" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/LiuGong_logo.svg" alt="Логотип LiuGong" />
            </div>
            <span class="brands-item__name">LiuGong</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Polar Badger" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/polar_logo.svg" alt="Логотип Polar Badger" />
            </div>
            <span class="brands-item__name">Polar Badger</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда МКСМ" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Mksm.svg" alt="Логотип МКСМ" />
            </div>
            <span class="brands-item__name">МКСМ</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Case" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/case.svg" alt="Логотип Case" />
            </div>
            <span class="brands-item__name">Case</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Locust" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/locust.svg" alt="Логотип Locust" />
            </div>
            <span class="brands-item__name">Locust</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Mustang" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/mustang.svg" alt="Логотип Mustang" />
            </div>
            <span class="brands-item__name">Mustang</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда ANT" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Ant.svg" alt="Логотип ANT" />
            </div>
            <span class="brands-item__name">ANT</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Yugong" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Yugong_logo.svg" alt="Логотип Yugong" />
            </div>
            <span class="brands-item__name">Yugong</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда DISD" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/disd_logo.svg" alt="Логотип DISD" />
            </div>
            <span class="brands-item__name">DISD</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Lovol" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/lovol_logo.svg" alt="Логотип Lovol" />
            </div>
            <span class="brands-item__name">Lovol</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда BOULDER" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/BOULDER.webp" alt="Логотип BOULDER" />
            </div>
            <span class="brands-item__name">BOULDER</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда SEM" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/sem_logo.svg" alt="Логотип SEM" />
            </div>
            <span class="brands-item__name">SEM</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда DOOSAN" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/doosan_logo.svg" alt="Логотип DOOSAN" />
            </div>
            <span class="brands-item__name">DOOSAN</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Hyundai" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/hyundai.svg" alt="Логотип Hyundai" />
            </div>
            <span class="brands-item__name">Hyundai</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Shantui" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/shantui-seeklogo.svg" alt="Логотип Shantui" />
            </div>
            <span class="brands-item__name">Shantui</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Bull" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/bull.png" alt="Логотип Bull" />
            </div>
            <span class="brands-item__name">Bull</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда NEO" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/neo_logo.svg" alt="Логотип NEO" />
            </div>
            <span class="brands-item__name">NEO</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Molot" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/molot_logo.svg" alt="Логотип Molot" />
            </div>
            <span class="brands-item__name">Molot</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Lonking" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Lonking.jpeg" alt="Логотип Lonking" />
            </div>
            <span class="brands-item__name">Lonking</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда XGMA" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/xgma_logo.svg" alt="Логотип XGMA" />
            </div>
            <span class="brands-item__name">XGMA</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Komatsu " class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Komatsu.png" alt="Логотип Komatsu " />
            </div>
            <span class="brands-item__name">Komatsu</span>
          </div>
        </a>
      </div>

    </div>
    <!-- Конец блок категория — фронтальных погрузчиков-->

    <!-- Блок категория брендов — для экскаваторов-погрузчиков -->
    <div class="brands-category wrap--row-to-column">
      <div class="brands-category__header">
        <img class="brands-category_ico" src="/images/ico/ico-backhoeloader.png"
          alt="Иконка мини-погрузчик" />
        <h2>Экскаваторы-погрузчики</h2>
      </div>

      <div class="brands-category__main grid-container grid--column--7to4 grid--gap--same">

        <a href="#" title="На страницу бренда Bobcat" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/bobcat.svg" alt="Логотип Bobcat" />
            </div>
            <span class="brands-item__name">Bobcat</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда LiuGong" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/LiuGong_logo.svg" alt="Логотип LiuGong" />
            </div>
            <span class="brands-item__name">LiuGong</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда SEM" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/sem_logo.svg" alt="Логотип SEM" />
            </div>
            <span class="brands-item__name">SEM</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Polar Badger" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/polar_logo.svg" alt="Логотип Polar Badger" />
            </div>
            <span class="brands-item__name">Polar Badger</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Case" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/case.svg" alt="Логотип Case" />
            </div>
            <span class="brands-item__name">Case</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Locust" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/locust.svg" alt="Логотип Locust" />
            </div>
            <span class="brands-item__name">Locust</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Mustang" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/mustang.svg" alt="Логотип Mustang" />
            </div>
            <span class="brands-item__name">Mustang</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда ANT" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Ant.svg" alt="Логотип ANT" />
            </div>
            <span class="brands-item__name">ANT</span>
          </div>
        </a>
        <a href="#" title="На страницу бренда JCB" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/JCB.svg" alt="Логотип JCB" />
            </div>
            <span class="brands-item__name">JCB</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Lonking" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Lonking.jpeg" alt="Логотип Lonking" />
            </div>
            <span class="brands-item__name">Lonking</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда XGMA" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/xgma_logo.svg" alt="Логотип XGMA" />
            </div>
            <span class="brands-item__name">XGMA</span>
          </div>
        </a>

      </div>

    </div>
    <!-- Конец блок категория — для экскаваторов-погрузчиков-->

    <!-- Блок категория брендов — для  мини-тракторов -->
    <div class="brands-category wrap--row-to-column">
      <div class="brands-category__header">
        <img class="brands-category_ico" src="/images/ico/ico-minitractor.png" alt="Иконка мини-погрузчик" />
        <h2>Мини-тракторы</h2>
      </div>

      <div class="brands-category__main grid-container grid--column--7to4 grid--gap--same">


        <a href="#" title="На страницу бренда Bobcat" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/bobcat.svg" alt="Логотип Bobcat" />
            </div>
            <span class="brands-item__name">Bobcat</span>
          </div>
        </a>



        <a href="#" title="На страницу бренда LiuGong" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/LiuGong_logo.svg" alt="Логотип LiuGong" />
            </div>
            <span class="brands-item__name">LiuGong</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда SDLG" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/SDLG_logo.svg" alt="Логотип SDLG" />
            </div>
            <span class="brands-item__name">SDLG</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда SEM" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/sem_logo.svg" alt="Логотип SEM" />
            </div>
            <span class="brands-item__name">SEM</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Polar Badger" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/polar_logo.svg" alt="Логотип Polar Badger" />
            </div>
            <span class="brands-item__name">Polar Badger</span>
          </div>
        </a>



        <a href="#" title="На страницу бренда Case" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/case.svg" alt="Логотип Case" />
            </div>
            <span class="brands-item__name">Case</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Locust" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/locust.svg" alt="Логотип Locust" />
            </div>
            <span class="brands-item__name">Locust</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Mustang" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/mustang.svg" alt="Логотип Mustang" />
            </div>
            <span class="brands-item__name">Mustang</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда ANT" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Ant.svg" alt="Логотип ANT" />
            </div>
            <span class="brands-item__name">ANT</span>
          </div>
        </a>
        <a href="#" title="На страницу бренда JCB" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/JCB.svg" alt="Логотип JCB" />
            </div>
            <span class="brands-item__name">JCB</span>
          </div>
        </a>




        <a href="#" title="На страницу бренда Lovol" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/lovol_logo.svg" alt="Логотип Lovol" />
            </div>
            <span class="brands-item__name">Lovol</span>
          </div>
        </a>





        <a href="#" title="На страницу бренда DOOSAN" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/doosan_logo.svg" alt="Логотип DOOSAN" />
            </div>
            <span class="brands-item__name">DOOSAN</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Hyundai" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/hyundai.svg" alt="Логотип Hyundai" />
            </div>
            <span class="brands-item__name">Hyundai</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Komatsu " class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Komatsu.png" alt="Логотип Komatsu " />
            </div>
            <span class="brands-item__name">Komatsu</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Shantui" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/shantui-seeklogo.svg" alt="Логотип Shantui" />
            </div>
            <span class="brands-item__name">Shantui</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Bull" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/bull.png" alt="Логотип Bull" />
            </div>
            <span class="brands-item__name">Bull</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда NEO" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/neo_logo.svg" alt="Логотип NEO" />
            </div>
            <span class="brands-item__name">NEO</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Lonking" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Lonking.jpeg" alt="Логотип Lonking" />
            </div>
            <span class="brands-item__name">Lonking</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда XGMA" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/xgma_logo.svg" alt="Логотип XGMA" />
            </div>
            <span class="brands-item__name">XGMA</span>
          </div>
        </a>


      </div>

    </div>
    <!-- Конец блок категория — для  мини-тракторов -->

    <!-- Блок категория брендов — для телескопических погрузчиков-->
    <div class="brands-category wrap--row-to-column">
      <div class="brands-category__header">
        <img class="brands-category_ico" src="/images/ico/ico-telescopicloader.png"
          alt="Иконка мини-погрузчик" />
        <h2>Телескопические погрузчики</h2>
      </div>

      <div class="brands-category__main grid-container grid--column--7to4 grid--gap--same">

        <a href="#" title="На страницу бренда Bobcat" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/bobcat.svg" alt="Логотип Bobcat" />
            </div>
            <span class="brands-item__name">Bobcat</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда LiuGong" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/LiuGong_logo.svg" alt="Логотип LiuGong" />
            </div>
            <span class="brands-item__name">LiuGong</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда SDLG" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/SDLG_logo.svg" alt="Логотип SDLG" />
            </div>
            <span class="brands-item__name">SDLG</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда SEM" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/sem_logo.svg" alt="Логотип SEM" />
            </div>
            <span class="brands-item__name">SEM</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Polar Badger" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/polar_logo.svg" alt="Логотип Polar Badger" />
            </div>
            <span class="brands-item__name">Polar Badger</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Case" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/case.svg" alt="Логотип Case" />
            </div>
            <span class="brands-item__name">Case</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Locust" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/locust.svg" alt="Логотип Locust" />
            </div>
            <span class="brands-item__name">Locust</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Mustang" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/mustang.svg" alt="Логотип Mustang" />
            </div>
            <span class="brands-item__name">Mustang</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда ANT" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Ant.svg" alt="Логотип ANT" />
            </div>
            <span class="brands-item__name">ANT</span>
          </div>
        </a>
        <a href="#" title="На страницу бренда JCB" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/JCB.svg" alt="Логотип JCB" />
            </div>
            <span class="brands-item__name">JCB</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Lovol" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/lovol_logo.svg" alt="Логотип Lovol" />
            </div>
            <span class="brands-item__name">Lovol</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда DOOSAN" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/doosan_logo.svg" alt="Логотип DOOSAN" />
            </div>
            <span class="brands-item__name">DOOSAN</span>
          </div>
        </a>


        <a href="#" title="На страницу бренда Hyundai" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/hyundai.svg" alt="Логотип Hyundai" />
            </div>
            <span class="brands-item__name">Hyundai</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Komatsu " class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Komatsu.png" alt="Логотип Komatsu " />
            </div>
            <span class="brands-item__name">Komatsu</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Shantui" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/shantui-seeklogo.svg" alt="Логотип Shantui" />
            </div>
            <span class="brands-item__name">Shantui</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Bull" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/bull.png" alt="Логотип Bull" />
            </div>
            <span class="brands-item__name">Bull</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда NEO" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/neo_logo.svg" alt="Логотип NEO" />
            </div>
            <span class="brands-item__name">NEO</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда Lonking" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/Lonking.jpeg" alt="Логотип Lonking" />
            </div>
            <span class="brands-item__name">Lonking</span>
          </div>
        </a>

        <a href="#" title="На страницу бренда XGMA" class="brands-item">
          <div class="brands-item__wr">
            <div class="brend-logo__box">
              <img src="/images/brends/xgma_logo.svg" alt="Логотип XGMA" />
            </div>
            <span class="brands-item__name">XGMA</span>
          </div>
        </a>


      </div>

    </div>
    <!-- Конец блок категория — для телескопических погрузчиков -->

  </section>
{% endblock %}
