{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Каталог навесного оборудования «Метатэкс»{% endblock %}
{% block meta_description %}В каталоге представлено навесное оборудование для разного вида спецтехники{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Каталог навесного оборудования «Метатэкс»{% endblock %}
{% block og_description %}В каталоге представлено навесное оборудование для разного вида спецтехники{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--section  wrap-pad-normal">
    <div class="content-header__title-wr">
      <h1>Каталог навесного оборудования Метатэкс</h1>
    </div>
    <p class="content-header__descr">Каталог навесного оборудования Метатэкс предлагает широкий ассортимент
      продукции для&nbsp;спецтехники. Независимо от&nbsp;задач,
      вы&nbsp;найдете подходящее решение в&nbsp;нашем каталоге​</p>
  </div>

  <!-- Секция с категориями  -->
  <section class="category-catalog wrap-pad-normal wrap--column wrap-pad--mob--min" style="padding-top: 0">

    <!-- Блок категория — Для мини-погрузчиков -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-miniloader.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-mini-loaders-800_9_11zon.jpg);">
        </div>
      </div>

      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для мини-погрузчиков</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел ковши общего назначения">Ковши общего назначения</a></li>
            <li><a href="#" title="В раздел ковши общего назначения">Ковши увеличенной емкости</a>
            </li>
            <li><a href="#" title="В раздел траншеекопатель">Траншеекопатель</a></li>
            <li><a href="#" title="В раздел ковш просеивающий">Ковш просеивающий</a></li>
            <li><a href="#" title="В раздел ковши 4 в 1">Ковши 4 в 1</a></li>
            <li><a href="#" title="В раздел ковши высокой выгрузки">Ковши высокой выгрузки</a></li>
            <li><a href="#" title="В раздел бункер самосвальный">Бункер самосвальный</a></li>
            <li><a href="#" title="В раздел планировщик (выравниватель грунта)">Планировщик
                (выравниватель грунта)</a></li>
            <li><a href="#" title="В раздел ковши паллетные вилы">Паллетные вилы</a></li>
            <li><a href="#" title="В раздел ковши прижим для паллетных вил">Прижим для паллетных
                вил</a></li>
            <li><a href="#" title="В раздел захват ковшевой">Захват ковшевой</a></li>
            <li><a href="#" title="В раздел захват вилочный">Захват вилочный</a></li>
            <li><a href="#" title="В раздел захват комбинированный">Захват комбинированный</a></li>
            <li><a href="#" title="В раздел захват для кип">Захват для кип</a></li>
            <li><a href="#" title="В раздел захват для сена">Захват для сена</a></li>
            <li><a href="#" title="В раздел щетки с механическим поворотом">Щетки с механическим
                поворотом</a></li>
            <li><a href="#" title="В раздел щетки с гидравлическим поворотом">Щетки с гидравлическим
                поворотом</a></li>
            <li><a href="#" title="В раздел щетки с бункером">Щетки с бункером</a></li>
            <li><a href="#" title="В раздел щетки с передним бункером">Щетки с передним бункером</a>
            </li>
            <li><a href="#" title="В раздел снегометатель шнекороторный">Снегометатель
                шнекороторный</a></li>
            <li><a href="#" title="В раздел пескоразбрасыватель">Пескоразбрасыватель</a></li>
            <li><a href="#" title="В раздел отвал с механическим поворотом">Отвал с механическим
                поворотом</a></li>
            <li><a href="#" title="В раздел отвал с гидравлическим поворотом">Отвал с гидравлическим
                поворотом</a></li>
            <li><a href="#" title="В раздел отвал для уборки снега">Отвал для уборки снега</a></li>
            <li><a href="#" title="В раздел v-образные отвалы">V-образные отвалы</a></li>
            <li><a href="#" title="В раздел мойка высокого давления">Мойка высокого давления</a></li>
            <li><a href="#" title="В раздел навесная рукоять (поворотная)">Навесная рукоять
                (поворотная)</a></li>
            <li><a href="#" title="В раздел навесной экскаватор">Навесной экскаватор</a></li>
            <li><a href="#" title="В раздел корчеватель (копатель)">Корчеватель (копатель)</a></li>
            <li><a href="#" title="В раздел навесной культиватор">Навесной культиватор</a></li>
            <li><a href="#" title="В раздел крюковой подвес">Крюковой подвес</a></li>
            <li><a href="#" title="В раздел ковш бетоносмесительный">Ковш бетоносмесительный</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел о компании"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для мини-погрузчиков-->

    <!-- Блок категория — Для фронтальных погрузчиков -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-frontloader.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-front-loader-800_7_11zon.jpg);">
        </div>
      </div>

      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для фронтальных погрузчиков</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел ковши общего назначения">Ковши общего назначения</a></li>
            <li><a href="#" title="В раздел ковши увеличенной емкости">Ковши увеличенной емкости</a>
            </li>
            <li><a href="#" title="В раздел ковши угольные">Ковши угольные</a></li>
            <li><a href="#" title="В раздел челюстные ковши">Челюстные ковши</a></li>
            <li><a href="#" title="В раздел ковши высокой выгрузки">Ковши высокой выгрузки</a></li>
            <li><a href="#" title="В раздел ковши высокой выгрузки для легких материалов">Ковши
                высокой выгрузки для легких материалов</a></li>
            <li><a href="#" title="В раздел захват для биг-бэгов">Захват для биг-бэгов</a></li>
            <li><a href="#" title="В раздел крановая стрела">Крановая стрела</a></li>
            <li><a href="#" title="В раздел телескопируемая крановая стрела">Телескопируемая крановая
                стрела</a></li>
            <li><a href="#" title="В раздел быстросъемные устройства">Быстросъемные устройства</a>
            </li>
            <li><a href="#" title="В раздел бревнозахватыПросеивающие ковши">Бревнозахваты Просеивающие
                ковши</a></li>
            <li><a href="#" title="В раздел щетки поворотные">Щетки поворотные</a></li>
            <li><a href="#" title="В раздел щетки с передним бункером">Щетки с передним бункером</a>
            </li>
            <li><a href="#" title="В раздел снеговые отвалы">Снеговые отвалы</a></li>
            <li><a href="#" title="В раздел паллетные вилы">Паллетные вилы</a></li>
            <li><a href="#" title="В раздел ковши с прижимом">Ковши с прижимом</a></li>
            <li><a href="#" title="В раздел вилочный захват">Вилочный захват</a></li>
            <li><a href="#" title="В раздел отвал-буртовщик">Отвал-буртовщик</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел для фронтальных погрузчиков"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для фронтальных погрузчиков-->

    <!-- Блок категория — Для экскаваторов-погрузчиков -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-backhoeloader.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-backhoe-loaders-800_1_11zon.jpg);">
        </div>
      </div>

      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для экскаваторов-погрузчиков</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел универсальные ковши">Универсальные ковши</a></li>
            <li><a href="#" title="В раздел планировочные ковши">Планировочные ковши</a></li>
            <li><a href="#" title="В раздел поворотные планировочные ковши">Поворотные планировочные
                ковши</a></li>
            <li><a href="#" title="В раздел клыки-рыхлители">Клыки-рыхлители</a></li>
            <li><a href="#" title="В раздел специальные траншейные ковши">Траншейные ковши</a></li>
            <li><a href="#" title="В раздел профильные ковши">Профильные ковши</a></li>
            <li><a href="#" title="В раздел быстросъемные устройства">Быстросъемные устройства</a>
            </li>
            <li><a href="#" title="В раздел переходные плиты для гидромолотов">Переходные плиты для
                гидромолотов</a></li>
            <li><a href="#" title="В раздел переходные плиты для гидробуров">Переходные плиты для
                гидробуров</a></li>
            <li><a href="#" title="В раздел фронтальные ковши">Фронтальные ковши</a></li>
            <li><a href="#" title="В раздел ковши увеличенной емкости">Ковши увеличенной емкости</a>
            </li>
            <li><a href="#" title="В раздел ковши 4 в 1">Ковши 4 в 1</a></li>
            <li><a href="#" title="В раздел фронтальное БСУ механическое">Фронтальное БСУ
                механическое</a></li>
            <li><a href="#" title="В раздел фронтальное БСУ гидравлическое">Фронтальное БСУ
                гидравлическое</a></li>
            <li><a href="#" title="В раздел паллетные вилы">Паллетные вилы</a></li>
            <li><a href="#" title="В раздел перекидные вилы">Перекидные вилы</a></li>
            <li><a href="#" title="В раздел cнеговые отвалы">Снеговые отвалы</a></li>
            <li><a href="#" title="В раздел v-образный отвал">V-образный отвал</a></li>
            <li><a href="#" title="В раздел снегометатель шнекороторный">Снегометатель
                шнекороторный</a></li>
            <li><a href="#" title="В раздел щетки дорожные с поворотом">Щетки дорожные с поворотом</a>
            </li>
            <li><a href="#" title="В раздел щетки с бункером">Щетки с бункером</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел дДля экскаваторов-погрузчиков"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для экскаваторов-погрузчиков-->

    <!-- Блок категория — Для мини-тракторов -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-minitractor.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-mini-tractors-800_10_11zon.jpg);">
        </div>
      </div>

      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для мини-тракторов</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел ковши общего назначения">Ковши общего назначения</a></li>
            <li><a href="#" title="В раздел ковши увеличенной емкости">Ковши увеличенной емкости</a>
            </li>
            <li><a href="#" title="В раздел ковши 4 в 1">Ковши 4 в 1</a></li>
            <li><a href="#" title="В раздел планирующие ковши">Планирующие ковши</a></li>
            <li><a href="#" title="В раздел выравниватель грунта">Выравниватель грунта</a></li>
            <li><a href="#" title="В раздел корчеватель (копатель)">Корчеватель (копатель)</a></li>
            <li><a href="#" title="В раздел ковши высокой выгрузки">Ковши высокой выгрузки</a>
            </li>
            <li><a href="#" title="В раздел ковш бетоносмесительный">Ковш бетоносмесительный</a></li>
            <li><a href="#" title="В раздел ковш-дозатор">Ковш-дозатор</a></li>
            <li><a href="#" title="В раздел вилы с прижимом">Вилы с прижимом</a></li>
            <li><a href="#" title="В раздел крюковой подвес">Крюковой подвес</a>
            </li>
            <li><a href="#" title="В раздел навесная рукоять (экскаватор)">Навесная рукоять
                (экскаватор)</a></li>
            <li><a href="#" title="В раздел навесная рукоять (поворотная)">Навесная рукоять
                (поворотная)</a></li>
            <li><a href="#" title="В раздел гидробур">Гидробур</a></li>
            <li><a href="#" title="В раздел мультирыхлитель (кирковщик)">Мультирыхлитель
                (кирковщик)</a></li>
            <li><a href="#" title="В раздел комплект противовесов">Комплект противовесов</a></li>
            <li><a href="#" title="В раздел захват вилочный">Захват вилочный</a></li>
            <li><a href="#" title="В раздел захват ковшевой">Захват ковшевой</a></li>
            <li><a href="#" title="В раздел навесной культиватор">Навесной культиватор</a></li>
            <li><a href="#" title="В раздел пододвигатель кормов (кормоподборщик)">Пододвигатель
                кормов (кормоподборщик)</a>
            </li>
            <li><a href="#" title="В раздел щетки с механическим поворотом">Щетки с механическим
                поворотом</a></li>
            <li><a href="#" title="В раздел щетки с гидравлическим поворотом">Щетки с гидравлическим
                поворотом</a></li>
            <li><a href="#" title="В раздел щетки с Щетки с бункером">Щетки с бункером</a></li>
            <li><a href="#" title="В раздел щетки с Щетка с передним бункером">Щетка с передним
                бункером</a></li>
            <li><a href="#" title="В раздел мойка высокого давления">Мойка высокого давления</a></li>
            <li><a href="#"
                title="В раздел отвалы для уборки снега с гидравлическим поворотом Premium">Отвалы
                для уборки снега с гидравлическим поворотом Premium</a></li>
            <li><a href="#" title="В раздел v-образные отвалы">V-образные отвалы</a></li>
            <li><a href="#" title="В раздел отвал резиновый">Отвал резиновый</a></li>
            <li><a href="#" title="В раздел снегометатель шнекороторный">Снегометатель
                шнекороторный</a></li>
            <li><a href="#" title="В раздел пескоразбрасыватель">Пескоразбрасыватель</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Для мини-тракторов"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для экскаваторов-погрузчиков-->

    <!-- Блок категория — Для телескопических погрузчиков -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-telescopicloader.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-telescopic-800_11_11zon.jpg);">
        </div>
      </div>

      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для телескопических погрузчиков</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел ковши общего назначения">Ковши общего назначения</a></li>
            <li><a href="#" title="В раздел ковши увеличенной емкости">Ковши увеличенной емкости</a>
            </li>
            <li><a href="#" title="В раздел зерновые ковши Premium">Зерновые ковши Premium</a></li>
            <li><a href="#" title="В раздел челюстные ковши">Челюстные ковши</a></li>
            <li><a href="#" title="В раздел ковш для наполнения биг-бэгов">Ковш для наполнения
                биг-бэгов</a></li>
            <li><a href="#" title="В раздел захват для транспортировки 2 - х стропных Биг-бэгов">Захват для
                транспортировки 2 - х стропных Биг-бэгов</a></li>
            <li><a href="#" title="В раздел захват для транспортировки 4 - х стропных Биг-бэгов">Захват для
                транспортировки 4 - х стропных Биг-бэгов</a>
            </li>
            <li><a href="#" title="В раздел просеивающие ковши">Просеивающие ковши</a></li>
            <li><a href="#" title="В раздел щетки коммунальные">Щетки коммунальные</a></li>
            <li><a href="#" title="В раздел щетки с бункером">Щетки с бункером</a></li>
            <li><a href="#" title="В раздел щетки с передним бункером">Щетки с передним бункером</a>
            </li>
            <li><a href="#" title="В раздел снеговые отвалы">Снеговые отвалы</a></li>
            <li><a href="#" title="В раздел захват для рулонов">Захват для рулонов</a></li>
            <li><a href="#" title="В раздел грузовая платформа">Грузовая платформа</a></li>
            <li><a href="#" title="В раздел паллетные вилы">Паллетные вилы</a></li>
            <li><a href="#" title="В раздел крюковой подвес">Крюковой подвес</a></li>
            <li><a href="#" title="В раздел вилы для сена">Вилы для сена</a></li>
            <li><a href="#" title="В раздел вилы для тюков">Вилы для тюков</a></li>
            <li><a href="#" title="В раздел захваты ковшевые">Захваты ковшевые</a></li>
            <li><a href="#" title="В раздел захваты вилочные">Захваты вилочные</a>
            </li>
            <li><a href="#" title="В раздел захваты для сена">Захваты для сена</a></li>
            <li><a href="#" title="В раздел ковши с прижимом">Ковши с прижимом</a></li>
            <li><a href="#" title="В раздел отвал-буртовщик">Отвал-буртовщик</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Для телескопических погрузчиков"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для телескопических погрузчиков -->

    <!-- Блок категория — Для мини-экскаваторов -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-miniexcavator.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-mini-escalator-800_8_11zon.jpg);">
        </div>
      </div>

      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для мини-экскаваторов</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел Универсальные ковши">Универсальные ковши</a></li>
            <li><a href="#" title="В раздел Планировочные ковши">Планировочные ковши</a></li>
            <li><a href="#" title="В раздел Клыки-рыхлители">Клыки-рыхлители</a></li>
            <li><a href="#" title="В раздел Серповидные траншейные ковши">Серповидные траншейные
                ковши</a></li>
            <li><a href="#" title="В раздел Быстросъемные устройства MS">Быстросъемные устройства
                MS</a></li>
            <li><a href="#" title="В раздел Быстросъемные устройства PIN-Type">Быстросъемные
                устройства PIN-Type</a></li>
            <li><a href="#" title="В раздел Переходные плиты для гидромолотов">Переходные плиты для
                гидромолотов</a>
            </li>
            <li><a href="#" title="В раздел Переходные плиты для гидровращателей">Переходные плиты для
                гидровращателей</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Для мини-экскаваторов"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для мини-экскаваторов -->

    <!-- Блок категория — Для вилочных погрузчиков -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-forklifttruck.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-fork-800_6_11zon.jpg);">
        </div>
      </div>

      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для вилочных погрузчиков</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел ковши с гидравлическим опрокидыванием (на каретку)">Ковши
                с гидравлическим опрокидыванием (на каретку)</a></li>
            <li><a href="#" title="В раздел ковши с гидравлическим опрокидыванием (на вилы)">Ковши с
                гидравлическим опрокидыванием (на вилы)</a></li>
            <li><a href="#" title="В раздел позиционер вил">Позиционер вил</a></li>
            <li><a href="#" title="В раздел комплект удлинителей вил">Комплект удлинителей вил</a>
            </li>
            <li><a href="#" title="В раздел переходные плиты">Переходные плиты</a></li>
            <li><a href="#" title="В раздел ковш для наполнения Биг-бэгов">Ковш для наполнения
                Биг-бэгов</a></li>
            <li><a href="#" title="В раздел захват кип">Захват кип</a>
            </li>
            <li><a href="#" title="В раздел щетки с поворотом">Щетки с поворотом</a>
            <li><a href="#" title="В раздел щетка с передним бункером">Щетка с передним бункером</a>
            <li><a href="#" title="В раздел крановая стрела">Крановая стрела</a>
            <li><a href="#" title="В раздел отвал для уборки снега">Отвал для уборки снега</a>
            </li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Для вилочных погрузчиков"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для вилочных погрузчиков -->


    <!-- Блок категория — Для коммунально-уборочной техники -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-communal-technic.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-communal-800_4_11zon.jpg);">
        </div>
      </div>

      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для коммунально-уборочной техники</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел щетки с поворотом">Щетки с поворотом</a></li>
            <li><a href="#" title="В раздел щетки с поворотом Premium">Щетки с поворотом Premium</a>
            </li>
            <li><a href="#" title="В раздел разбрасыватель противогололедных материалов">Разбрасыватель
                противогололедных материалов</a></li>
            <li><a href="#" title="В раздел рама для установки зимнего оборудования">Рама для
                установки зимнего оборудования</a></li>
            <li><a href="#" title="В раздел отвал для уборки снега">Отвал для уборки снега</a></li>
            <li><a href="#" title="В раздел v-образный отвал">V-образный отвал</a></li>
            <li><a href="#" title="В раздел отвал подъемный">Отвал подъемный</a>
            </li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Для коммунально-уборочной техники"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для коммунально-уборочной техники -->

    <!-- Блок категория — Для коммунальных тракторов -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-communal-tractors.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-utility-tractors-800_12_11zon.jpg);">
        </div>
      </div>
    
      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для коммунальных тракторов</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел отвал для уборки снега">Отвал для уборки снега</a></li>
            <li><a href="#" title="В раздел v-образный отвал">V-образный отвал</a></li>
            <li><a href="#" title="В раздел отвал подъемный">Отвал подъемный</a></li>
            <li><a href="#" title="В раздел рама для установки навесного оборудования">Рама для
                установки навесного оборудования</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Для коммунальных тракторов"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для коммунальных тракторов -->

    <!-- Блок категория — Для экскаваторов -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-excavator.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-escalator-800_5_11zon.jpg);">
        </div>
      </div>
    
      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Для экскаваторов</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел универсальные ковши">Универсальные ковши</a></li>
            <li><a href="#" title="В раздел планировочные ковши">Планировочные ковши</a></li>
            <li><a href="#" title="В раздел клыки-рыхлители">Клыки-рыхлители</a></li>
            <li><a href="#" title="В раздел поворотные планировочные ковши">Поворотные планировочные
                ковши</a></li>
            <li><a href="#" title="В раздел быстросъемные устройства">Быстросъемные устройства</a>
            </li>
            <li><a href="#" title="В раздел ковши-рыхлители">Ковши-рыхлители</a></li>
            <li><a href="#" title="В раздел переходные плиты">Переходные плиты</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Для экскаваторов"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Для экскаваторов -->


    <!-- Блок категория — Кулачковые бандажи для катков -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-cambrace.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-bandage-800_2_11zon.jpg);">
        </div>
      </div>
    
      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Кулачковые бандажи для катков</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел стандартный бандаж">Стандартный бандаж</a></li>
            <li><a href="#" title="В раздел утяжеленный бандаж">Утяжеленный бандаж</a></li>
            <li><a href="#" title="В раздел бандаж с заниженным профилем">Бандаж с заниженным
                профилем</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Кулачковые бандажи для катков"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Кулачковые бандажи для катков -->

    <!-- Блок категория — Гидравлические буры и шнеки -->
    <div class="block-category wrap--row-to-column">
      <div class="block-category__left">
        <a class="category-ico" href="#" title="Оборудование для фронтального погрузчика">
          <img src="/images/ico/ico-hydraulicdrill.png" alt="Иконка фронтального погрузчика">
        </a>
        <div class="block-category__img"
          style="background-image: url(/images/categories/category-boers-800_3_11zon.jpg);">
        </div>
      </div>
    
      <div class="block-category__right">
        <div class="block-category__right-top">
          <h2>Гидравлические буры и шнеки</h2>
          <ul class="subcategory-list small-text">
            <li><a href="#" title="В раздел гидробур ELECTRA EP3000">Гидробур ELECTRA EP3000</a></li>
            <li><a href="#" title="В раздел гидробур ELECTRA EP5000">Гидробур ELECTRA EP5000</a></li>
            <li><a href="#" title="В раздел гидробур ELECTRA EP5500">Гидробур ELECTRA EP5500</a></li>
            <li><a href="#" title="В раздел гидробур ELECTRA EP7000">Гидробур ELECTRA EP7000</a></li>
            <li><a href="#" title="В раздел гидробур KINGER YDH4000">Гидробур KINGER YDH4000</a></li>
            <li><a href="#" title="В раздел гидробур KINGER YDH5000">Гидробур KINGER YDH5000</a></li>
            <li><a href="#" title="В раздел гидробур KINGER YDH7000">Гидробур KINGER YDH7000</a></li>
            <li><a href="#" title="В раздел шнекобур MSA4-1200-D65-200">Шнекобур MSA4-1200-D65-200</a>
            </li>
            <li><a href="#" title="В раздел шнекобур MSA4-1200-D65-300">Шнекобур MSA4-1200-D65-300</a>
            </li>
            <li><a href="#" title="В раздел шнекобур MSA4-1200-D65-400">Шнекобур MSA4-1200-D65-400</a>
            </li>
            <li><a href="#" title="В раздел шнекобур MSA4-1200-D65-500">Шнекобур MSA4-1200-D65-500</a>
            </li>
            <li><a href="#" title="В раздел шнекобур MSA5-1500-SQ75-200">Шнекобур
                MSA5-1500-SQ75-200</a></li>
            <li><a href="#" title="В раздел шнекобур MSA5-1500-SQ75-300">Шнекобур
                MSA5-1500-SQ75-300</a></li>
            <li><a href="#" title="В раздел шнекобур MSA5-1500-SQ75-400">Шнекобур
                MSA5-1500-SQ75-400</a></li>
            <li><a href="#" title="В раздел шнекобур MSA5-1500-SQ75-500">Шнекобур
                MSA5-1500-SQ75-500</a></li>
            <li><a href="#" title="В раздел плита адаптерная гидробура TPB_BL">Плита адаптерная
                гидробура TPB_BL</a></li>
            <li><a href="#" title="В раздел плита адаптерная гидробура TPB_M">Плита адаптерная
                гидробура TPB_M</a></li>
            <li><a href="#" title="В раздел плита адаптерная гидробура PHDRL_AV">Плита адаптерная
                гидробура PHDRL_AV</a></li>
            <li><a href="#" title="В раздел плита адаптерная гидробура PHDRL-LN_AV (удлиненная)">Плита
                адаптерная гидробура PHDRL-LN_AV (удлиненная)</a></li>
            <li><a href="#" title="В раздел плита адаптерная гидробура PHDRL_SS">Плита адаптерная
                гидробура PHDRL_SS</a></li>
          </ul>
        </div>
        <div class="block-category__right-bott">
          <a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
              class="link-ico__ico  met-ico-pdf"></span>&nbsp;<span
              class="link-ico__white-text">Скачать прайс</span>
          </a>
          <hr />
          <a href="#" class="btn-more-large" title="перейти в раздел Гидравлические буры и шнеки"><span
              class="met-ico-button-right"></span>
            <span class="btn-more-large__text font--uppercase font--light">в раздел</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Конец блок категория — Гидравлические буры и шнеки -->

  </section>



  <!-- Отдел продаж -->
  <section id="managers-home" class="managers-home wrap-pad-min wrap--column wrap-pad--mob--none">


    <div class="content-limited">


      <form id="formmanager" class="form-callback form--whaite" method="post">
        <header>
          <h3>Если есть вопросы, отправьте заявку менеджер свяжется с вами</h3>
        </header>
        <main>

          <div class="field-row">
            <label class="field-label" for="name">Ваше имя</label>
            <input class="field-input" id="name" autocomplete="on" type="text" name="name" value=""
              size="0" />
          </div>
          <div class="field-row">
            <label class="field-label" for="phone">Телефон<sup>
                <font color="#FF5C00"> *</font>
              </sup></label>
            <input class="field-input required" id="phone" autocomplete="on" type="tel" name="phone"
              value="" size="0" placeholder="+7 (___) ___-__-__" minlength="1"
              data-msg="Заполните поле Телефон" />

          </div>

          <div class="checkbox-row">
            <input class="checkbox required" id="privacy" type="checkbox" name="flag" checked="checked"
              data-msg="Выбор этого пункта обязателен">
            <label for="privacy">
            </label>
            <span class="checkbox-text small-text">Ознакомлен и согласен с <a href="/privacy_policy/"
                title="условия политики обработки персональных данных" target="_blank">условиями
                политики</a>
              обработки
              персональных данных <sup>
                <font color="#FF5C00"> *</font>
              </sup>
            </span>
          </div>

        </main>
        <footer>
          <button name="Submit" value="Отправить" type="submit" class="btn-big btn--orange"><span class="btn__ico  met-ico-circle-right
"></span> Заказать звонок</button>


        </footer>
      </form>

    </div>

  </section>

{% endblock %}