{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Навесное оборудование «Метатэкс»{% endblock %}
{% block meta_description %}Метатэкс производитель навесного оборудования для спецтехники{% endblock %}
{% block meta_keywords %}Метатэкс, Навесное оборудование, Оборудование для спецтехники, Каталог оборудования,{% endblock %}

{% block og_title %}Навесное оборудование «Метатэкс»{% endblock %}
{% block og_description %}Метатэкс производитель навесного оборудования для спецтехники{% endblock %}

{% block content %}
  <!-- Баннер на главной -->
  <div class="block-banner-home">
    <span class="h2">
      Производитель навесного оборудования для&nbsp;спецтехники
    </span>
    <div class="block-banner-home__statement">
      <div>
        <img src="{% static 'images/ico/ico-storage.png' %}" alt="Иконка склады" width="112" />
        <p class="font--uppercase">
          <span class="h2">60%</span><br />
          <b>товаров в&nbsp;наличии на&nbsp;складе</b>
        </p>
      </div>
      <div>
        <img src="{% static 'images/ico/ico-productions.png' %}" alt="Иконка производство" width="112" />
        <b class="font--uppercase">
          Напрямую с&nbsp;завода без&nbsp;посредников
        </b>
      </div>
    </div>
  </div>

  <!-- Секция с видами техники -->
  <section id="category-home" class="wrap-pad-min wrap--row-to-column wrap-pad--mob--none">
    <div class="category-home">
      <h1>Подобрать оборудование</h1>
      <div class="category-home__frame">
        <!--<span class="h1">для</span>-->
        <div class="grid-container grid--column--2to1 grid--gap--same">
          <a href="#" title="Навесное оборудование для мини-погрузчиков"><img
              src="{% static 'images/ico/ico-miniloader.png' %}" alt="Иконка мини-погрузчики" width="112" /> <span
              class="h4 font--uppercase">Мини-погрузчиков</span></a>
          <a href="#" title="Навесное оборудование для фронтальных погрузчиков"><img
              src="{% static 'images/ico/ico-frontloader.png' %}" alt="Иконка фронтальные погрузчики" width="112" />
            <span class="h4 font--uppercase">Фронтальных погрузчиков</span></a>
          <a href="#" title="Навесное оборудование для экскаваторов-погрузчиков"><img
              src="{% static 'images/ico/ico-backhoeloader.png' %}" alt="Иконка экскаваторы-погрузчики" width="112" />
            <span class="h4 font--uppercase">Экскаваторов-погрузчиков</span></a>
          <a href="#" title="Навесное оборудование для мини-тракторов"><img
              src="{% static 'images/ico/ico-minitractor.png' %}" alt="Иконка мини-тракторы" width="112" />
            <span class="h4 font--uppercase">Мини-тракторов</span></a>
          <a href="#" title="Навесное оборудование для телескопических погрузчиков"><img
              src="{% static 'images/ico/ico-telescopicloader.png' %}" alt="Иконка телескопические погрузчики"
              width="112" />
            <span class="h4 font--uppercase">Телескопических погрузчиков</span></a>
          <a href="#" title="Навесное оборудование для мини-экскаваторов"><img
              src="{% static 'images/ico/ico-miniexcavator.png' %}" alt="Иконка мини-экскаваторы" width="112" />
            <span class="h4 font--uppercase">Мини-экскаваторов</span></a>
          <a href="#" title="Навесное оборудование для вилочных погрузчиков"><img
              src="{% static 'images/ico/ico-forklifttruck.png' %}" alt="Иконка вилочные погрузчики" width="112"
              width="112" />
            <span class="h4 font--uppercase">Вилочных погрузчиков</span></a>
          <a href="#" title="Навесное оборудование для коммунально-уборочной техники"><img
              src="{% static 'images/ico/ico-communal-technic' %}.png" alt="Иконка коммунально-уборочная техника"
              width="112" />
            <span class="h4 font--uppercase">Коммунально-уборочной техники</span></a>
          <a href="#" title="Навесное оборудование для коммунальных тракторов"><img
              src="{% static 'images/ico/ico-communal-tractors' %}.png" alt="Иконка коммунальные тракторы" width="112" />
            <span class="h4 font--uppercase">Коммунальных тракторов</span></a>
          <a href="#" title="Навесное оборудование для экскаваторов"><img src="{% static 'images/ico/ico-excavator.png' %}"
              alt="Иконка экскаваторы" width="112" />
            <span class="h4 font--uppercase">Экскаваторов</span></a>
          <a href="#" title="Навесное оборудование кулачковые бандажи для катка"><img
              src="{% static 'images/ico/ico-cambrace.png' %}" alt="Иконка кулачковые бандажи" width="112" width="112" />
            <span class="h4 font--uppercase">Кулачковый бандаж для катка</span></a>

          <a href="#" title="Навесное оборудование гидравлические буры и шнеки"><img
              src="{% static 'images/ico/ico-hydraulicdrill.png' %}" alt="Иконка гидравлические буры и шнеки"
              width="112" />
            <span class="h4 font--uppercase">Гидравлические буры и шнеки</span></a>

        </div>

      </div>
    </div>
    <aside>
      <!-- Swiper слайдер для рекламного баннера -->
      <div class="swiper slider-advertising">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide__banner swiper-slide--banner--dark">
              <div class="swiper-slide__banner__title ">
                <div>
                  <span class="h3">Предлагаем широкую линейку гидравлических буров и&nbsp;шнеков</span>
                  <a href="#" class="btn-midl btn--green"><span
                      class="btn__ico met-ico-circle-right"></span> Подобрать</a>
                </div>
              </div>
              <!-- Картинка баннера для десктопа 670 x 950 -->
              <img class="swiper-slide__img-670х950" src="{% static 'images/banner/banner-bur_670x950.jpg' %}"
                alt="Баннер рекламный вертикальный" />
              <!-- Картинка баннера для десктопа 1200 x 570 -->
              <img class="swiper-slide__img-1200х570" src="{% static 'images/banner/banner-bur_1200х570.jpg' %}"
                alt="Баннер рекламный горизонтальный" />
            </div>
            <div class="swiper-slide__footer">

            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__banner swiper-slide--banner--light">
              <div class="swiper-slide__banner__title ">
                <div>
                  <span class="h3">Действует акция:<br />сезонная скидка 10 %</span>
                  <a href="#" class="btn-midl btn--green"><span
                      class="btn__ico met-ico-circle-right"></span> Подробно об акции</a>
                </div>
                <div>

                  <del class="old-price">
                    <span>429 000 ₽</span>
                  </del>
                  <span class="h3">386 100 ₽</span>
                  <span>
                    v-образные снеговые отвалы для&nbsp;экскаваторов-погрузчиков</span>
                </div>

              </div>
              <!-- Картинка баннера для десктопа 670 x 950 -->
              <img class="swiper-slide__img-670х950" src="{% static 'images/banner/banner-discount_670х950.jpeg' %}"
                alt="Баннер скидки вертикальный" />

              <!-- Картинка баннера для десктопа 1200 x 570 -->
              <img class="swiper-slide__img-1200х570" src="{% static 'images/banner/banner-discount_1200х570.jpeg' %}"
                alt="Баннер скидки горизонтальный" />
            </div>
            <div class="swiper-slide__footer">

            </div>

          </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </aside>
  </section>

  <!-- Популярные модели оборудования в этом сезоне -->
  <section id="pop-in-season" class="wrap-pad-normal wrap--column  wrap-pad--mob--none">
    <h2>Популярные модели оборудования в этом сезоне</h2>

    <!-- Swiper слайдер для рекламного баннера -->
    <div class="swiper slider-products">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card-model" title="Щетки с гидравлическим поворотом для мини-погрузчика">
            <div class="card-model__top-wrap">

              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <!-- картинки шириной 576px -->
              <img src="{% static 'images/products/_brush-plastic-casing-480-b.jpeg' %}"
                alt="Фото щетки с гидравлическим поворотом для мини-погрузчика" />
            </div>
            <div class="card-model__bottom-wrap">
              <div class="card-model__descript">
                <span class="card-model__descript-price text--nowrap">От: 164 000 ₽</span>
                <span class="h4">Щетки с&nbsp;гидравлическим поворотом</span>
                <span class="small-text">для мини-погрузчика</span>
              </div>
              <div class="btn-more">
                <span class="met-ico-button-right"></span> <span
                  class="small-text font--uppercase">подобрать</span>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">

          <a href="#" class="card-model" title="Щетки с поворотом для коммунально-уборочной техники">
            <div class="card-model__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <img src="{% static 'images/products/_brush-utility-vehicles 480 b.jpeg' %}"
                alt="Фото щетки с поворотом для коммунально-уборочной техники" />
            </div>

            <div class="card-model__bottom-wrap">
              <div class="card-model__descript">
                <span class="card-model__descript-price text--nowrap">От: 200 000 ₽</span>
                <span class="h4">Щетки с поворотом</span>
                <span class="card-model__descript-category small-text">для коммунально-уборочной
                  техники</span>
              </div>
              <div class="btn-more">
                <span class="met-ico-button-right"></span> <span
                  class="small-text font--uppercase">подобрать</span>
              </div>
            </div>

          </a>

        </div>


        <div class="swiper-slide">

          <a href="#" class="card-model" title="Отвалы для уборки снега для коммунально-уборочной техники">
            <div class="card-model__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <img src="{% static 'images/products/_dump-utility-vehicles_480 b.jpeg' %}"
                alt="Фото отвал для уборки снега для коммунально-уборочной техники" />
            </div>
            <div class="card-model__bottom-wrap">
              <div class="card-model__descript">
                <span class="card-model__descript-price text--nowrap">От: 72 000 ₽</span>
                <span class="h4">Отвалы для уборки снега</span>
                <span class="card-model__descript-category small-text">для коммунально-уборочной
                  техники</span>
              </div>
              <div class="btn-more">
                <span class="met-ico-button-right"></span> <span
                  class="small-text font--uppercase">подобрать</span>
              </div>
            </div>

          </a>

        </div>



        <div class="swiper-slide">

          <a href="#" class="card-model" title="Ковши высокой выгрузки для мини-тракторов">
            <div class="card-model__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <img src="{% static 'images/products/_High-Discharge-Bucket-Avant_b 480.jpeg' %}"
                alt="Ковши высокой выгрузки для мини-тракторов" />
            </div>
            <div class="card-model__bottom-wrap">
              <div class="card-model__descript">
                <span class="card-model__descript-price text--nowrap">От: 141 000 ₽</span>
                <span class="h4">Ковши высокой выгрузки</span>
                <span class="card-model__descript-category small-text">для мини-тракторов</span>
              </div>
              <div class="btn-more">
                <span class="met-ico-button-right"></span> <span
                  class="small-text font--uppercase">подобрать</span>
              </div>
            </div>

          </a>

        </div>

        <div class="swiper-slide">

          <a href="#" class="card-model" title="Ковши 4 в 1 для мини-тракторов">
            <div class="card-model__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <img src="{% static 'images/products/_Jaw-bucket-Avant-mini-tractor 480 b.jpeg' %}"
                alt="Фото ковша 4 в 1 для мини-тракторов" />
            </div>

            <div class="card-model__bottom-wrap">
              <div class="card-model__descript">
                <span class="card-model__descript-price text--nowrap">От: 151 000 ₽</span>
                <span class="h4">Ковши 4 в 1</span>
                <span class="card-model__descript-category small-text">для мини-тракторов</span>
              </div>
              <div class="btn-more">
                <span class="met-ico-button-right"></span> <span
                  class="small-text font--uppercase">подобрать</span>
              </div>
            </div>
          </a>

        </div>

        <div class="swiper-slide">

          <a href="#" class="card-model" title="Бревнозахваты для мини-тракторов">
            <div class="card-model__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <img src="{% static 'images/products/_Log-grab-minitractor-b 480.jpeg' %}"
                alt="Фото бревнозахвата для мини-трактора" />
            </div>


            <div class="card-model__bottom-wrap">
              <div class="card-model__descript">
                <span class="card-model__descript-price text--nowrap">От: 152 000 ₽</span>
                <span class="h4">Бревнозахваты</span>
                <span class="card-model__descript-category small-text">для мини-тракторов</span>
              </div>
              <div class="btn-more">
                <span class="met-ico-button-right"></span> <span
                  class="small-text font--uppercase">подобрать</span>
              </div>
            </div>
          </a>

        </div>

        <div class="swiper-slide">

          <a href="#" class="card-model" title="Ковши общего назначения для мини-тракторов">
            <div class="card-model__top-wrap">
              <span class="label-hit h4 font--light font--uppercase">Хит</span>
              <img src="{% static 'images/products/_main-bucket-Avant-d 480.jpeg' %}"
                alt="Фото ковша общего назначения для мини-тракторов" />
            </div>



            <div class="card-model__bottom-wrap">
              <div class="card-model__descript">
                <span class="card-model__descript-price text--nowrap">От: 41 000 ₽</span>
                <span class="h4">Ковши общего назначения</span>
                <span class="card-model__descript-category small-text">для мини-тракторов</span>
              </div>
              <div class="btn-more">
                <span class="met-ico-button-right"></span> <span
                  class="small-text font--uppercase">подобрать</span>
              </div>
            </div>
          </a>

        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination__wrap">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>

  <!-- О компании -->
  <seсtion id="company-home" class="wrap-pad-normal wrap--column wrap-pad--mob--none">
    <h2 style="margin-bottom: 0;">О компании</h2>
    <img class="lg-meta-about" src="{% static 'images/logo/lg-meta-main.svg' %}" alt="Логотип Метатэкс раздела о компании" />
    <img class="about-img" src="{% static 'images/about/Foto about.jpg' %}" alt="Фотография коллектива Метатекс" />
    <div class="about-descriptions__wrap content-limited">
      <p>Основное направление деятельности компании Метатэкс&nbsp;&mdash; производство навесного оборудования
        для&nbsp;строительной и&nbsp;коммунальной техники. В&nbsp;наших цехах производится более
        100&nbsp;модификаций
        навесного оборудования для&nbsp;более чем 3000&nbsp;моделей специальной техники.</p>
    </div>

    <h3>Наши преимущества</h3>
    <div class="grid-container grid--column--6-3to2 block-advantage">
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="{% static 'images/ico/ico-buro-200.png' %}" alt="Иконка конструкторское бюро" />
          </span>
        </div>
        <span>Конструкторское<br />бюро</span>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="{% static 'images/ico/ico-testing-200.png' %}" alt="Иконка испытательная база" />
          </span>
        </div>
        <span>Испытательная<br />база</span>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="{% static 'images/ico/ico-production-200.png' %}" alt="Иконка собственное производство" />
          </span>
        </div>

        <span>Собственное<br />производство</span>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="{% static 'images/ico/ico-storage-200.png' %}" alt="Иконка продукция в наличии на складе" />
          </span>
        </div>

        <span>Продукция в наличии<br />на складе</span>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="{% static 'images/ico/ico-compatibility-200.png' %}" alt="Иконка совместимость с разной техникой" />
          </span>
        </div>

        <span>Совместимость<br />с разной техникой</span>
      </div>
      <div class="block-advantage__item">
        <div class="block-advantage__img-wrap">
          <span>
            <img src="{% static 'images/ico/ico-delivery-200.png' %}" alt="Иконка доставка по всей России" />
          </span>
        </div>

        <span>Доставка<br />по всей России</span>
      </div>
    </div>
  </seсtion>

  <div class="section-footer wrap-pad-min  wrap-pad--mob--none">
    <a href="#" class="btn-more-large" title="перейти в раздел о компании"><span
        class="met-ico-button-right"></span> <span
        class="btn-more-large__text font--uppercase font--light">больше информации о&nbsp;компании</span></a>
    <hr />
  </div>

  <!-- Медиаконтент -->
  <div id="media-home" class="media-home wrap-pad-min wrap--row-to-column wrap-pad--mob--none">
    <div class="media-home__left">
      <section class="media-home__news">
        <div class="media-home__news_img_wrap">
          <img src="{% static 'images/news/news-picts.jpeg' %}" alt="Картинка новости в продаже появился гидравлический" />
        </div>
        <div class="media-home__news_description">
          <h2>Новости</h2>
          <p>События и&nbsp;новости компании Метатэкс. Анонсы новых разработок наших инженеров
            и&nbsp;репортажи с&nbsp;испытаний нашего
            оборудования.</p>

          <a href="#" title="Лента новостей" class="btn-more h4">
            <span class="met-ico-button-right"></span> <span class="font--light  font--uppercase">лента
              новостей</span></a>
          <span class="h4">В продаже появился гидравлический прижим для паллетных вил</span>
          <p>В линейке Метатэкс для мини-погрузчиков появился гидравлический прижим на паллетные вилы.</p>
          <a href="#" title="Читать новость" class="btn-more"><span class="met-ico-button-right"></span>
            <span class="font--uppercase small-text">перейти к новости</span></a>
        </div>
      </section>
      <section class="media-home__articl">
        <div class="media-home__articl_description">
          <div>
            <h2>Статьи</h2>
            <p>Здесь вы&nbsp;найдете всестороннюю техническую информацию о&nbsp;навесном оборудовании
              Метатэкс. А&nbsp;также в&nbsp;разделе мы&nbsp;публикуем
              полезные советы и&nbsp;рекомендации для&nbsp;эффективной работы с&nbsp;навеской.</p>
          </div> <a href="#" title="список статей" class="btn-more h4"> <span
              class="met-ico-button-right"></span> <span class="font--light  font--uppercase">список
              статей</span></a>
        </div>
        <div class="grid-container grid--column--2 grid--gap--none">
          <div class="media-home__articl_card">
            <div class="media-home__articl_img_wrap">
              <a href="#" title="Читать статью Крановая стрела Метатэкс" class="media-home__articl_img">
                <img src="{% static 'images/article/strela-620_2_11zon.jpg' %}"
                  alt="Картинка статьи Крановая стрела Метатэкс" />
              </a>
            </div>
            <div class="media-home__articl_descr_wrap">
              <p class="h4">
                Крановая стрела Метатэкс. Для&nbsp;задач, с&nbsp;которыми не&nbsp;справятся паллетные вилы
              </p>

              <a href="#" title="Читать статью" class="btn-more"> <span
                  class="met-ico-button-right"></span> <span class="font--uppercase small-text">перейти к
                  статье</span></a>

            </div>
          </div>

          <div class="media-home__articl_card">
            <div class="media-home__articl_img_wrap">
              <a href="#" title="Читать статью Большие испытания оборудования для мини-погрузчиков"
                class="media-home__articl_img">
                <img src="{% static 'images/article/ispitanie-620_1_11zon.jpg' %}"
                  alt="Картинка статьи Большие испытания оборудования для мини-погрузчиков под Ярославлем" />
              </a>
            </div>
            <div class="media-home__articl_descr_wrap">
              <p class="h4">
                Большие испытания оборудования для&nbsp;мини-погрузчиков под&nbsp;Ярославлем
              </p>
              <a href="#" title="Читать статью" class="btn-more"> <span
                  class="met-ico-button-right"></span> <span class="font--uppercase small-text">перейти к
                  статье</span></a>
            </div>
          </div>

        </div>
      </section>
    </div>

    <aside class="media-home__right">
      <section class="media-home__photo">
        <h2>Фото</h2>
        <p>В разделе фотогалереи вы&nbsp;сможете заглянуть внутрь производственных процессов и&nbsp;увидеть,
          как мы&nbsp;работаем. Это&nbsp;позволит вам лучше понять нашу компанию и&nbsp;то,
          как&nbsp;создается наше навесное оборудование.</p>

        <a href="#" title="фотогалерея" class="btn-more btn--more--w h4">
          <span class="met-ico-button-right"></span> <span
            class="font--light  font--uppercase">фотогалерея</span></a>


        <div class="media-home__photo-gal grid-container grid--column--2 grid--gap--none">
          <a href="{% static 'images/photo/photo4-1980.jpg' %}" title="Фото 1" target="_blank" data-fancybox="gallery">
            <img src="{% static 'images/photo/photo4-420.jpg' %}" alt="Фото 1" />
          </a>
          <a href="{% static 'images/photo/photo3-1980.jpg' %}" title="Фото 2" target="_blank" data-fancybox="gallery">
            <img src="{% static 'images/photo/photo3-420.jpg' %}" alt="Фото 2" />
          </a>
          <a href="{% static 'images/photo/photo2-1980.jpeg' %}" title="Фото 3" target="_blank" data-fancybox="gallery">
            <img src="{% static 'images/photo/photo2-420.jpeg' %}" alt="Фото 3" />
          </a>
          <a href="{% static 'images/photo/photo1-1980.jpg' %}" title="Фото 4" target="_blank" data-fancybox="gallery">
            <img src="{% static 'images/photo/photo1-420.jpg' %}" alt="Фото 4" />
          </a>

        </div>

      </section>
      <section class="media-home__video">
        <h2>Видео</h2>
        <p>В видеогалерее можно увидеть наше навесное оборудование в&nbsp;действии. В&nbsp;роликах показано,
          как&nbsp;продукция Метатэкс может
          сделать вашу работу легче и&nbsp;эффективней.</p>


        <a href="#" title="видеогалерея" class="btn-more btn--more--w h4">
          <span class="met-ico-button-right"></span> <span
            class="font--light  font--uppercase">видеогалерея</span></a>

        <div class="media-home__video-items">
          <div class="media-home__video-items-plwr">
            <video>
              <source src="https://youtu.be/26HiFtyF7GE?si=rIZnMGzCoa8tMgtn" type="video/mp4" />
            </video>
          </div>
          <b>Мойка высокого давления на Everun</b>
        </div>

        <div class="media-home__video_youtube">
          <span class="met-ico-youtube"></span> <i>Подписывайтесь<br />на наш канал в <a
              href="https://www.youtube.com/@metateks4914" alt="На канал youtube" target="_blank"
              rel="nofollow" class="link-white">youtube</a></i></span>
        </div>

      </section>
    </aside>
  </div>

  <!-- Бренды -->
  <section id="brands-home" class="wrap-pad-normal wrap--column wrap-pad--mob--none">
    <h2>Бренды совместимые с навесным оборудованием Метатэкс</h2>

    <!-- Swiper слайдер для брендов -->
    <div class="swiper slider-brands">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Ант">
            <img src="{% static 'images/brends/Ant.svg' %}" alt="Логотип Ант" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Bobcat">
            <img src="{% static 'images/brends/bobcat.svg' %}" alt="Логотип Bobcat" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Bull">
            <img src="{% static 'images/brends/bull.png' %}" alt="Логотип Bull" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Case">
            <img src="{% static 'images/brends/case.svg' %}" alt="Логотип Case" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Hyundai">
            <img src="{% static 'images/brends/hyundai.svg' %}" alt="Логотип Hyundai" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда JCB">
            <img src="{% static 'images/brends/JCB.svg' %}" alt="Логотип JCB" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Komatsu">
            <img src="{% static 'images/brends/Komatsu.png' %}" alt="Логотип Komatsu" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда LiuGong">
            <img src="{% static 'images/brends/LiuGong_logo.svg' %}" alt="Логотип LiuGong" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Locust">
            <img src="{% static 'images/brends/locust.svg' %}" alt="Логотип Locust" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Lonking">
            <img src="{% static 'images/brends/Lonking.jpeg' %}" alt="Логотип Lonking" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Mksm">
            <img src="{% static 'images/brends/Mksm.svg' %}" alt="Логотип Mksm" />
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-brand" title="Страница бренда Mustang">
            <img src="{% static 'images/brends/mustang.svg' %}" alt="Логотип Mustang" />
          </a>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>

  </section>

  <!-- Доставка -->
  <section id="delivery-home" class="delivery-home">
    <div class="delivery-home__content">
      <h2>Доставка по&nbsp;России со&nbsp;складов<br />Московской области</h2>

      <!-- Бокс с информацией о первом складе -->
      <div class="storage-box-one">
        <img src="{% static 'images/Delivery/storage-1_380.jpg' %}" alt="Фото склад-магазин Метатэкс на севере Москвы" />
        <p>
          <span class="h4">Cклад-магазин Метатэкс на&nbsp;се­вере Москвы</span><br />
          <span>Оператор площадки — компания «Вивогрупп»</span>
        </p>
        <button onclick="toggleОne()" class="blockinf__btn" title="Контактные данные склада на севере Москвы">
          <span class="btn-indicator-one">
            <span class="met-ico-arrow-bottom"></span>
            <span class="met-ico-close-b"></span>
          </span>
          <b class="blockinf__btn_text">Подробно о&nbsp;складе</b>
          <img class="storage-box-triangle" src="{% static 'images/Delivery/triangle.svg' %}"
            alt="Тоеугольник стрелка сверху вниз" />
        </button>

        <div id="blockinfone" class="blockinfone">
          <dl>
            <dt><span class="dl-ico met-ico-geotag"></span> Адрес:</dt>
            <dd>г.&nbsp;Москва, Ленинградское шоссе, д.&nbsp;261, строение&nbsp;5</dd>
            <dt><span class="dl-ico met-ico-time"></span> Режим работы:</dt>
            <dd>Пн-Пт 09:00-18:00 (по&nbsp;московскому времени)</dd>
            <dt><span class="dl-ico met-ico-telephone"></span> Телефон:</dt>
            <dd><a href="tel:+74999644112" title="Позвонить"
                class="link-white">+7&nbsp;499&nbsp;964-41-12</a></dd>
          </dl>
        </div>

      </div>

      <!-- Бокс с информацией о втором складе -->
      <div class="storage-box-second">
        <img class="storage-box-triangle" src="{% static 'images/Delivery/triangle.svg' %}"
          alt="Тоеугольник стрелка снизу вверх" />
        <img src="{% static 'images/Delivery/storage-2_380.jpg' %}" alt="Фото склад-магазин Метатэкс на юге Москвы" />
        <p>
          <span class="h4">Cклад-магазин Метатэкс на&nbsp;юге Москвы</span><br />
          <span>ООО&nbsp;«Горснаб­проект»</span>
        </p>
        <button onclick="toggleSec()" class="blockinf__btn" title="Контактные данные склада на севере Москвы">
          <span class="btn-indicator-second">
            <span class="met-ico-arrow-bottom"></span>
            <span class="met-ico-close-b"></span>
          </span>
          <b class="blockinf__btn_text">Подробно о&nbsp;складе</b>
        </button>

        <div id="blockinfsecond" class="blockinfsecond">
          <dl>
            <dt><span class="dl-ico met-ico-geotag"></span> Адрес:</dt>
            <dd>г. Москва, ул.&nbsp;Головачёва д.&nbsp;2а, территория ССК&nbsp;ВОО</dd>
            <dt><span class="dl-ico met-ico-time"></span> Режим работы:</dt>
            <dd>Пн-Пт 09:00-18:00 (по&nbsp;московскому времени)</dd>
            <dt><span class="dl-ico met-ico-telephone"></span> Телефон:</dt>
            <dd><a href="tel:+74959615910" title="Позвонить"
                class="link-white">+7&nbsp;495&nbsp;961-59-10</a></dd>
          </dl>
        </div>

      </div>
    </div>

    <!-- Начало карты svg дектоп -->
    {% include 'include/home_map_desktop.svg' %}
    <!-- Конец карты svg десктоп -->

    <!-- Начало карты svg моб -->
    {% include 'include/home_map_mobile.svg' %}
    <!-- Конец карты svg моб -->
  </section>
  <!-- </div> -->  {# кажется, это закрытие тега лишнее - пока закомментил #}

  <!-- Отдел продаж -->
  <section id="managers-home" class="managers-home wrap-pad-min wrap--column wrap-pad--mob--none">
    <div class="content-limited">
      <h2>Отдел продаж</h2>
      <h4>Чтобы заказать товар, свяжитесь с отделом продаж</h4>
      <div class="phone-managers">
        <div class="phone-managers__number-1">
          <a class="link-orange link--light--bg h3 font--light" href="tel:+74957489998"
            title="Позвонить по телефону +7 495 748-99-98">+7 495 748-99-98</a>
        </div>
        <div class="phone-managers__tube"><span class="met-ico-telephone h3 "></span></div>
        <div class="phone-managers__number-2">
          <a class="link-orange link--light--bg h3 font--light" href="tel:88002225432"
            title="Позвонить по телефону 8 800 222-54-32">8 800 222-54-32</a>
          <p>звонок по России бесплатный</p>
        </div>
      </div>
      <span class="h3 font--light phone-managers-subtitle">Мобильные номера:<br />WhatsApp / Viber /
        Telegram</span>
    </div>

    <div class="managers-home__photo-wrap">
      <div class="managers-home__photo-card">
        <div class="managers-home__photo-photo">
          <img src="{% static 'images/managers/Максим2.jpg' %}" />
        </div>
        <div class="managers-home__photo-title">
          <a class="link-orange link--light--bg" href="tel:+79037584618" title="Позвонить Максиму">+7 903
            758-46-18</a>
          <b>Максим</b>
        </div>
      </div>

      <div class="managers-home__photo-card">
        <div class="managers-home__photo-photo">
          <img src="{% static 'images/managers/alex.jpg' %}" />
        </div>
        <div class="managers-home__photo-title">
          <a class="link-orange link--light--bg" href="tel:+79251337587" title="Позвонить Алексей">+7 925
            133-75-87</a>
          <b>Алексей</b>
        </div>
      </div>

      <div class="managers-home__photo-card">
        <div class="managers-home__photo-photo">
          <img src="{% static 'images/managers/Христина.jpg' %}" />
        </div>
        <div class="managers-home__photo-title">
          <a class="link-orange link--light--bg" href="tel:+79266178425" title="Позвонить Христине">+7 926
            617-84-25</a>
          <b>Христина</b>
        </div>
      </div>

      <div class="managers-home__photo-card">
        <div class="managers-home__photo-photo">
          <img src="{% static 'images/managers/Степан 2.jpg' %}" />
        </div>
        <div class="managers-home__photo-title">
          <a class="link-orange link--light--bg" href="tel:+79260129853" title="Позвонить Степану">+7 926
            012-98-53</a>
          <b>Степан</b>
        </div>
      </div>
    </div>

    <div class="content-limited">
      <form id="formmanager" class="form-callback form--whaite" method="post">
        <header>
          <h3>Закажите обратный звонок<br />наш менеджер свяжется с вами</h3>
        </header>
        <main>

          <div class="field-row">
            <label class="field-label" for="name">Ваше имя</label>
            <input class="field-input" id="name" autocomplete="on" type="text" name="name" value="" size="0" />
          </div>
          <div class="field-row">
            <label class="field-label" for="phone">Телефон<sup>
                <font color="#FF5C00"> *</font>
              </sup></label>
            <input class="field-input required" id="phone" autocomplete="on" type="tel" name="phone" value=""
              size="0" placeholder="+7 (___) ___-__-__" minlength="1" data-msg="Заполните поле Телефон" />

          </div>

          <div class="checkbox-row">
            <input class="checkbox required" id="privacy" type="checkbox" name="flag" checked="checked"
              data-msg="Выбор этого пункта обязателен">
            <label for="privacy">
            </label>
            <span class="checkbox-text small-text">Ознакомлен и согласен с <a href="/privacy_policy/"
                title="условия политики обработки персональных данных" target="_blank">условиями политики</a>
              обработки
              персональных данных <sup>
                <font color="#FF5C00"> *</font>
              </sup>
            </span>
          </div>

        </main>
        <footer>
          <button name="Submit" value="Отправить" type="submit" class="btn-big btn--orange"><span class="btn__ico  met-ico-circle-right
"></span> Заказать звонок</button>
        </footer>
      </form>
    </div>
  </section>
{% endblock %}