{% extends 'html/_layout.html' %}
{% load static %}

{% block title %}Ковш общего назначения для фронтального погрузчика{% endblock %}
{% block meta_description %}Страница модели ковша общего назначения для фронтального погрузчика. Выбирайте в фильтре свой бренд и нужное вам оборудование Метатэкс{% endblock %}
{% block meta_keywords %} {% endblock %}

{% block og_title %}Ковш общего назначения для фронтального погрузчика{% endblock %}
{% block og_description %}Страница модели ковша общего назначения для фронтального погрузчика. Выбирайте в фильтре свой бренд и нужное вам оборудование Метатэкс{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--subsection wrap-pad-normal">
    <nav class="content-header__nav">
      <div class="content-header__leftbox-wr">
        <a href="#" class="btn-more-large" title="Перейти назад"><span class="met-ico-button-left"></span>
          <span class="btn-more-large__text font--uppercase font--light">назад</span></a>
      </div>
      <div class="bread-crumbs small-text">
        <div>
          <a href="#" title="На главную">Главная</a>&nbsp;<span>/</span> <a href="#"
            title="Перейти в Каталог продукции">Каталог
            продукции</a>&nbsp;<span>/</span> <a href="#"
            title="Перейти в Ковш общего назначения для фронтального погрузчика">Навесное оборудование для
            фронтальных погрузчиков</a>&nbsp;<span>/</span> <a href="#" title="На главную">Ковш общего
            назначения для
            фронтального погрузчика</a>
        </div>
      </div>
    </nav>
    <div class="content-header__leftbox-wr">
      <a class="content-header__ico" href="#" title="Оборудование для фронтального погрузчика">
        <img src="/images/ico/ico-frontloader.png" alt="Иконка фронтального погрузчика" />
      </a>
    </div>
  <div class="content-header__title-wr">
    <h1>Ковш общего назначения для&nbsp;фронтального погрузчика</h1>
  </div>
  </div>
  <!-- Секция с фотографией модели -->
  <section class="model-summary  wrap-pad-min wrap--row-to-column wrap-pad--mob--none">
    <div class="model-summary__left ">
      <div class="model-img-wrap">

        <img src="/images/products/_content-model-img-Avant.jpeg" alt="" />
        <div class="model-price"><span class="h3">Цена от 97 000 ₽</span></div>

      </div>
    </div>
    <aside>
      <div class="model-info-wrap">
        <div class="model-info__top">
          <h2>Назначение</h2>
          <p>Погрузка и&nbsp;транспортировка грунта, песка, щебня и&nbsp;прочих сыпучих материалов
            при&nbsp;помощи фронтального
            погрузчика.</p>
        </div>
        <hr />
        <nav class="model-nav">
          <div>
            <h3>Выбрать:</h3>
            <ul>
              <li><a class="link-ico__white" href="#" title="Посмотреть грузоподьемность"><span
                    class="link-ico__ico  met-ico-kg"></span>&nbsp;<span
                    class="link-ico__white-text">Грузоподьем&shy;ность</span></a></li>
              <li><a class="link-ico__white" href="#" title="Выбрать бренд техники"><span
                    class="link-ico__ico  met-ico-brend"></span>&nbsp;<span class="link-ico__white-text">Бренд
                    техники</span></a></li>
            </ul>
          </div>
          <div>
            <h3>Смотреть:</h3>
            <ul>
              <li><a class="link-ico__white" href="#" title="Посмотреть фотографии"><span
                    class="link-ico__ico met-ico-photo"></span>&nbsp;<span class="link-ico__white-text">Фото</span></a></li>
              <li><a class="link-ico__white" href="#" title="Посмотреть видео"><span
                    class="link-ico__ico met-ico-video"></span>&nbsp;<span class="link-ico__white-text">Видео</span></a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
    </aside>
  </section>

  <!-- Секция с описанием модели -->
  <section class="model-description  wrap-pad-min wrap--row-to-column wrap-pad--mob--none">
    <div class="model-description__left ">
      <h2>Описание</h2>
      <p>Ковши общего назначения, установленные на&nbsp;фронтальный погрузчик, идеально подходят для выполнения
        погрузочных
        работ, расчистки территории и&nbsp;прочих манипуляций, связанных с&nbsp;перемещением сыпучих
        материалов.</p>
      <h3>Конструктивные особенности ковша общего назначения:</h3>
      <ul>
        <li>
          ковш имеет усиленную конструкцию, рассчитанную на длительный срок службы</li>
        <li>уникальная кинематическая схема ковша, разработанная специально для каждой модели погрузчика</li>
        <li>наличие защиты нижней части коренного листа и боковой стенки</li>
      </ul>
    </div>
    <aside>
      <h3>Особенности конструкции</h3>
      <p>Фронтальные ковши Метатэкс разработаны с&nbsp;учетом всех особенностей эксплуатации в&nbsp;средней
        полосе России.
        В&nbsp;штатной комплектации ковши снабжены дополнительной защитой нижней части коренного листа
        и&nbsp;боковой стенки.
        Кроме того, возможно изготовление как усиленной, так и&nbsp;скальной модификации ковша.</p>
    </aside>
  </section>

  <!-- Секция с характеристиками модели -->
  <section class="model-specifications  wrap-pad-min wrap--column wrap-pad--mob--none">
    <div class="model-specifications__head">
      <h2><span class="met-ico-gear"></span>&nbsp;<span>Характеристики</span></h2>

    </div>
    <div class="scrollbar-box__wrap">
      <div class="scrollbar-box__container table-container">
        <table class="responsive-table">
          <thead>
            <tr>
              <th class="fixed-column ">Грузоподъёмность<br />погрузчика</th>
              <th>Объём ковша<br />по SAE, м³</th>
              <th>Ширина<br />ковша, см</th>
              <th>Масса<br />ковша, кг</th>
              <th>Зубья</th>
              <th>Дополнительные<br />комплекты</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fixed-column td-right"><span class="h3">до 1,2 т</span></td>
              <td class="td-right">0,65</td>
              <td class="td-right">160</td>
              <td class="td-right">251</td>
              <td rowspan="6" class="cell--color--light td-top">Болтовые<br /><i>(опционально)</i></td>
              <td rowspan="10" class="cell--color--light td-top">
                <ul class="extra-option-list">
                  <li><img src="/images/ico/ico-options.png" alt="Иконка допопции 1" />
                    <div><span class="h4">Комплект зубьев</span></div>
                  </li>
                  <li><img src="/images/ico/ico-options.png" alt="Иконка допопции 2" />
                    <div><span class="h4">Сменная кромка</span></div>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="fixed-column td-right"><span class="h3">до 1,5 т</span></td>
              <td class="td-right">0,8</td>
              <td class="td-right">200</td>
              <td class="td-right">364</td>

            </tr>
            <tr>
              <td class="fixed-column td-right"><span class="h3">до 2,0 т</span></td>
              <td class="td-right">1,1</td>
              <td class="td-right">220</td>
              <td class="td-right">406</td>

            </tr>
            <tr>
              <td class="fixed-column td-right"><span class="h3">до 2,5 т</span></td>
              <td class="td-right">1,4</td>
              <td class="td-right">220</td>
              <td class="td-right">600</td>

            </tr>
            <tr>
              <td class="fixed-column td-right"><span class="h3">до 3,0 т</span></td>
              <td class="td-right">1,8</td>
              <td class="td-right">250</td>
              <td class="td-right">700</td>

            </tr>
            <tr>
              <td class="fixed-column td-right"><span class="h3">до 3,0 т</span></td>
              <td class="td-right">2,0</td>
              <td class="td-right">250</td>
              <td class="td-right">800</td>

            </tr>
            <tr>
              <td rowspan="2" class="fixed-column td-right"><span class="h3">до 4,0 т</span></td>
              <td class="follow-the-merged-top cell--color--darck td-right">2,25</td>
              <td rowspan="2" class="td-right">250</td>
              <td class="follow-the-merged-top cell--color--darck td-right">850</td>
              <td rowspan="4" class="cell--color--light td-top">Болтовые / J300<br /><i>(опционально)</i>
              </td>

            </tr>
            <tr>
              <td class="follow-the-merged-bot cell--color--darck td-right">2,45</td>
              <td class="follow-the-merged-bot cell--color--darck td-right">950</td>

            </tr>
            <tr>
              <td rowspan="2" class="fixed-column cell--color--light td-right"><span class="h3">до 5,0
                  т</span></td>
              <td class="follow-the-merged-top cell--color--light td-right">2,7</td>
              <td rowspan="2" class="cell--color--light td-right">300</td>
              <td class="follow-the-merged-top cell--color--light td-right">1050</td>

            </tr>
            <tr>
              <td class="follow-the-merged-bot cell--color--light td-right">3,0</td>
              <td class="follow-the-merged-bot cell--color--light td-right">1150</td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="scrollbar-backing"></div>
      <div class="scrollbar">
        <div class="thumb"></div>
      </div>

    </div>
  </section>

  <!-- Секция с фильтром -->
  <section class="filtr-section  wrap-pad-normal wrap--column wrap-pad--mob--none">
    <div class="h2-description__wrap">
      <h2>Выберите нужный параметр</h2>
      <p>Для отображения имеющихся позиций оборудования выберите нужный вам параметр в фильтре</p>
    </div>
    <div class="filtr-block">
      <div class="filtr-block__tabl">
        <div class="filtr-block__column-left">
          <div class="filtr-block__header">
            <span class="filtr-block__ico met-ico-kg"></span><span class="h4">Грузоподъемность
              погрузчика</span>
          </div>
          <div class="filtr-block__filters">
            <a href="#" class="btn-small btn--d-grey" title="до 1,2 т">до 1,2 т</a>
            <a href="#" class="btn-small btn--d-grey" title="до 1,5 т">до 1,5 т</a>
            <a href="#" class="btn-small btn--d-grey" title="до 2 т">до 2 т</a>
            <a href="#" class="btn-small btn--d-grey" title="до 2,5 т">до 2,5 т</a>
            <a href="#" class="btn-small btn--d-grey" title="до 3 т">до 3 т</a>
            <a href="#" class="btn-small btn--d-grey" title="до 4 т">до 4 т</a>
            <a href="#" class="btn-small btn--d-grey" title="до 5 т">до 5 т</a>
          </div>

        </div>
        <div class="filtr-block__column-brends">
          <div class="filtr-block__header">
            <span class="filtr-block__ico met-ico-brend"></span><span class="h4">Бренд техники</span>
          </div>
          <div class="filtr-block__filters ">
            <div class="scrollbar-box__wrap">
              <div id="scrollbar-box__container2" class="scrollbar-box__container2 ">

                <div class="scrollbar-box__inner" id="scrollbar-box">
                  <a href="#" class="btn-small btn--l-grey" title="SDLG">SDLG</a>
                  <a href="#" class="btn-small btn--l-grey" title="Lovol">Lovol</a>
                  <a href="#" class="btn-small btn--l-grey" title="XCMG">XCMG</a>
                  <a href="#" class="btn-small btn--l-grey btn--filtr--select"
                    title="BOULDER">BOULDER</a>
                  <a href="#" class="btn-small btn--l-grey" title="NEO">NEO</a>
                  <a href="#" class="btn-small btn--l-grey" title="Амкодор">Амкодор</a>
                  <a href="#" class="btn-small btn--l-grey" title="SEM">SEM</a>
                  <a href="#" class="btn-small btn--l-grey" title="Lonking">Lonking</a>
                  <a href="#" class="btn-small btn--l-grey" title="Molot">Molot</a>
                  <a href="#" class="btn-small btn--l-grey" title="Polar">Polar</a>
                  <a href="#" class="btn-small btn--l-grey" title="Bull">Bull</a>
                  <a href="#" class="btn-small btn--l-grey" title="JCB">JCB</a>
                  <a href="#" class="btn-small btn--l-grey" title="Yugong">Yugong</a>
                  <a href="#" class="btn-small btn--l-grey" title="Lovol ">Lovol</a>
                  <a href="#" class="btn-small btn--l-grey" title="Hyundai">Hyundai</a>
                  <a href="#" class="btn-small btn--l-grey" title="Komatsu">Komatsu</a>
                  <a href="#" class="btn-small btn--l-grey" title="LiuGong">LiuGong</a>
                  <a href="#" class="btn-small btn--l-grey" title="Shantui">Shantui</a>
                  <a href="#" class="btn-small btn--l-grey" title="Shantui">Shantui</a>
                  <a href="#" class="btn-small btn--l-grey" title="DISD">DISD</a>
                  <a href="#" class="btn-small btn--l-grey" title="DOOSAN">DOOSAN</a>
                  <a href="#" class="btn-small btn--l-grey" title="SDLG">SDLG</a>
                  <a href="#" class="btn-small btn--l-grey" title="John Deere">John Deere</a>
                  <a href="#" class="btn-small btn--l-grey" title="Lovol">Lovol</a>
                  <a href="#" class="btn-small btn--l-grey" title="XCMG">XCMG</a>
                  <a href="#" class="btn-small btn--l-grey" title="BOULDER">BOULDER</a>
                  <a href="#" class="btn-small btn--l-grey" title="NEO">NEO</a>
                  <a href="#" class="btn-small btn--l-grey" title="Амкодор">Амкодор</a>
                  <a href="#" class="btn-small btn--l-grey" title="SEM">SEM</a>
                  <a href="#" class="btn-small btn--l-grey" title="Lonking">Lonking</a>
                  <a href="#" class="btn-small btn--l-grey" title="Molot">Molot</a>
                  <a href="#" class="btn-small btn--l-grey" title="Polar">Polar</a>
                  <a href="#" class="btn-small btn--l-grey" title="Bull">Bull</a>
                  <a href="#" class="btn-small btn--l-grey" title="Yugong">Yugong</a>
                  <a href="#" class="btn-small btn--l-grey" title="JCB">JCB</a>
                  <a href="#" class="btn-small btn--l-grey" title="Lovol">Lovol</a>
                  <a href="#" class="btn-small btn--l-grey" title="Hyundai">Hyundai</a>
                  <a href="#" class="btn-small btn--l-grey" title="Komatsu">Komatsu</a>
                  <a href="#" class="btn-small btn--l-grey" title="LiuGong">LiuGong</a>
                  <a href="#" class="btn-small btn--l-grey" title="Shantui">Shantui</a>
                  <a href="#" class="btn-small btn--l-grey" title="DISD">DISD</a>
                  <a href="#" class="btn-small btn--l-grey" title="Shantui">Shantui</a>
                  <a href="#" class="btn-small btn--l-grey" title="DOOSAN">DOOSAN</a>
                </div>

              </div>
              <div class="scrollbar2">
                <div class="thumb2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Кнопка сброса фильтра -->
      <div class="section-footer">
        <div class="section-footer__button-wr">
          <button class="btn-midl btn--grey" type="submit" title="Сбросить параметры фильтра"><span
              class="btn__ico met-ico-reset"></span>Сбросить&nbsp;фильтр</button>
        </div>
        <hr />
      </div>
    </div>

    <!-- Популярные товары оборудования в этом сезоне -->
    <h2>Ковши высокой выгрузки для фронтального погрузчика, бренда BOULDER</h2>

    <!-- Список товаров -->
    <div class="product-list grid-container grid--column--4to2">
      <!-- ==== Карточка товара 1 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33</span>
          <ul class="small-text">
            <li>Г/п машины: 3 т</li>
            <li>Ширина ковша: 250 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 4 шт</span>
            <span class="h4 font--light">97 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 1 ==== -->

      <!-- ==== Карточка товара 2 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <span class="label-hit h4 font--light font--uppercase">Хит</span>
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL12</span>
          <ul class="small-text">
            <li>Г/п машины: 4 т</li>
            <li>Ширина ковша: 250 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 42 шт</span>
            <span class="h4 font--light">98 500 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 2 ==== -->

      <!-- ==== Карточка товара 3 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">

          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL12H</span>
          <ul class="small-text">
            <li>Г/п машины: 2 т</li>
            <li>Ширина ковша: 200 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 1 шт</span>
            <span class="h4 font--light">97 500 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 3 ==== -->

      <!-- ==== Карточка товара 4 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33</span>
          <ul class="small-text">
            <li>Г/п машины: 2 т</li>
            <li>Ширина ковша: 260 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 3 шт</span>
            <span class="h4 font--light">99 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 4 ==== -->


      <!-- ==== Карточка товара 5 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33G2</span>
          <ul class="small-text">
            <li>Г/п машины: 1 т</li>
            <li>Ширина ковша: 290 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 2 шт</span>
            <span class="h4 font--light">102 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 5 ==== -->



      <!-- ==== Карточка товара 6 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">

          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33H</span>
          <ul class="small-text">
            <li>Г/п машины: 3 т</li>
            <li>Ширина ковша: 250 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 3 шт</span>
            <span class="h4 font--light">98 800 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 6 ==== -->


      <!-- ==== Карточка товара 7 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">

          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33RG2</span>
          <ul class="small-text">
            <li>Г/п машины: 3 т</li>
            <li>Ширина ковша: 270 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 5 шт</span>
            <span class="h4 font--light">100 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 7 ==== -->


      <!-- ==== Карточка товара 8 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <span class="label-hit h4 font--light font--uppercase">Хит</span>
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33RG2</span>
          <ul class="small-text">
            <li>Г/п машины: 3 т</li>
            <li>Ширина ковша: 250 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 4 шт</span>
            <span class="h4 font--light">97 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 8 ==== -->



      <!-- ==== Карточка товара 9 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33</span>
          <ul class="small-text">
            <li>Г/п машины: 3 т</li>
            <li>Ширина ковша: 250 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 4 шт</span>
            <span class="h4 font--light">97 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 9 ==== -->



      <!-- ==== Карточка товара 10 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33</span>
          <ul class="small-text">
            <li>Г/п машины: 3 т</li>
            <li>Ширина ковша: 250 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 4 шт</span>
            <span class="h4 font--light">97 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 10 ==== -->

      <!-- ==== Карточка товара 11 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33</span>
          <ul class="small-text">
            <li>Г/п машины: 3 т</li>
            <li>Ширина ковша: 250 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 4 шт</span>
            <span class="h4 font--light">97 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 11 ==== -->



      <!-- ==== Карточка товара 12 ==== -->
      <div class="card-product">
        <a href="#" class="card-product__link" title="Щетки с гидравлическим поворотом для BOULDER WL33"></a>
        <div class="card-product__top-wrap">
          <!-- картинки шириной 576px -->
          <img src="/images/products/_High-Discharge-Bucket-Avant_480.jpeg"
            alt="Фото щетки с гидравлическим поворотом для BOULDER WL33" />
        </div>
        <div class="card-product__middle-wrap">
          <span class="h4">Ковши высокой выгрузки для&nbsp;BOULDER&nbsp;WL33</span>
          <ul class="small-text">
            <li>Г/п машины: 3 т</li>
            <li>Ширина ковша: 250 см</li>
            <li>Объем ковша: 1,8 м<sup>3</sup></li>
          </ul>
          <div class="card-product__btn-more">
            <hr />
            <div class="btn-more">
              <span class="met-ico-button-right"></span> <span
                class="small-text font--uppercase">о&nbsp;товаре</span>
            </div>
          </div>
        </div>
        <div class="card-product__bottom-wrap">
          <div class="card-product__price-box">
            <span class="small-text">в наличии 4 шт</span>
            <span class="h4 font--light">97 000 ₽</span>
          </div>
          <!-- Кнопка купить в один клик -->
          <a class="btn-small-buy" href="#">
            <span class="small-text">Купить</span>
          </a>
        </div>
      </div>
      <!-- ==== Конец карточки товара 12 ==== -->

    </div>
    <div class="section-footer  wrap-pad--mob--none">
      <a href="#" class="btn-more-large" title="перейти в раздел о компании"><span
          class="met-ico-button-right"></span>
        <span class="btn-more-large__text font--uppercase font--light">показать еще</span></a>
      <hr />
    </div>
  </section>


  <!-- Секция с фотографиями оборудования -->
  <section class="wrap-pad-normal wrap--column  wrap-pad--mob--none">
    <h2>Фотографии оборудования</h2>
    <div class="media-catalog__photo-gal grid-container grid--gap--same grid--column--2to1">
      <a href="/images/photocatalog/photo-frontal-1980.jpeg" title="Фото 1" target="_blank" data-fancybox="gallery">
        <img src="/images/photocatalog/photo-frontal-960.jpeg" alt="Фото 1">
      </a>
      <a href="/images/photocatalog/photo-frontal-2-1980.jpg" title="Фото 1" target="_blank" data-fancybox="gallery">
        <img src="/images/photocatalog/photo-frontal-2-960.jpg" alt="Фото 1">
      </a>
      <a href="/images/photocatalog/photo-frontal-3-1980.jpg" title="Фото 1" target="_blank" data-fancybox="gallery">
        <img src="/images/photocatalog/photo-frontal-3-960.jpg" alt="Фото 1">
      </a>
      <a href="/images/photocatalog/photo-frontal-4-1980.jpg" title="Фото 1" target="_blank" data-fancybox="gallery">
        <img src="/images/photocatalog/photo-frontal-4-960.jpg" alt="Фото 1">
      </a>
    </div>

    <div class="section-footer  wrap-pad--mob--none">
      <a href="#" class="btn-more-large" title="перейти в раздел о компании"><span
          class="met-ico-button-right"></span>
        <span class="btn-more-large__text font--uppercase font--light">показать еще</span></a>
      <hr />
    </div>
  </section>

  <!-- Секция с видео оборудования -->
  <section class="wrap-pad-normal wrap--column  wrap-pad--mob--none">
    <h2>Видео оборудования</h2>
    <div class="media-catalog__video-gal grid-container grid--gap--same grid--column--2to1">
      <div class="media-catalog__video-items">
        <div class="media-catalog__video-items-plwr">
          <video>
            <source src="https://youtu.be/26HiFtyF7GE?si=rIZnMGzCoa8tMgtn" type="video/mp4" />
          </video>
        </div>
        <p>Мойка высокого давления на Everun</p>
      </div>

      <div class="media-catalog__video-items">
        <div class="media-catalog__video-items-plwr">
          <video>
            <source src="https://www.youtube.com/watch?v=9MSL4HTV05s" type="video/mp4" />
          </video>
        </div>
        <p>Универсальный ковш для мини-экскаватора XCMG</p>
      </div>

      <div class="media-catalog__video-items">
        <div class="media-catalog__video-items-plwr">
          <video>
            <source src="https://www.youtube.com/watch?v=ofwn_f0vmrA" type="video/mp4" />
          </video>
        </div>
        <p>Ковшевой захват для телескопического погрузчика</p>
      </div>

      <div class="media-catalog__video-items">
        <div class="media-catalog__video-items-plwr">
          <video>
            <source src="https://www.youtube.com/watch?v=5EasXKbBhQ4" type="video/mp4" />
          </video>
        </div>
        <p>Ковш увеличенной ёмкости для мини-погрузчика XCMG</p>
      </div>
    </div>

    <div class="section-footer  wrap-pad--mob--none">
      <a href="#" class="btn-more-large" title="перейти в раздел о компании"><span
          class="met-ico-button-right"></span>
        <span class="btn-more-large__text font--uppercase font--light">показать еще</span></a>
      <hr />
    </div>
  </section>


  <!-- Отдел продаж -->
  <section id="managers-home" class="managers-home wrap-pad-min wrap--column wrap-pad--mob--none">


    <div class="content-limited">


      <form id="formmanager" class="form-callback form--whaite" method="post">
        <header>
          <h3>Если есть вопросы, отправьте заявку менеджер свяжется с вами</h3>
        </header>
        <main>

          <div class="field-row">
            <label class="field-label" for="name">Ваше имя</label>
            <input class="field-input" id="name" autocomplete="on" type="text" name="name" value="" size="0" />
          </div>
          <div class="field-row">
            <label class="field-label" for="phone">Телефон<sup>
                <font color="#FF5C00"> *</font>
              </sup></label>
            <input class="field-input required" id="phone" autocomplete="on" type="tel" name="phone" value=""
              size="0" placeholder="+7 (___) ___-__-__" minlength="1" data-msg="Заполните поле Телефон" />

          </div>

          <div class="checkbox-row">
            <input class="checkbox required" id="privacy" type="checkbox" name="flag" checked="checked"
              data-msg="Выбор этого пункта обязателен">
            <label for="privacy">
            </label>
            <span class="checkbox-text small-text">Ознакомлен и согласен с <a href="/privacy_policy/"
                title="условия политики обработки персональных данных" target="_blank">условиями
                политики</a>
              обработки
              персональных данных <sup>
                <font color="#FF5C00"> *</font>
              </sup>
            </span>
          </div>

        </main>
        <footer>
          <button name="Submit" value="Отправить" type="submit" class="btn-big btn--orange"><span class="btn__ico  met-ico-circle-right
"></span> Заказать звонок</button>
        </footer>
      </form>

    </div>

  </section>
{% endblock %}
