{% extends '_base.html' %}
{% load base_tags %}

{% block title %}{{ brand.get_meta_title }}{% endblock %}
{% block meta_description %}{{ brand.get_meta_desc }}{% endblock %}
{% block meta_keywords %}{{ brand.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ brand.get_meta_title }}{% endblock %}
{% block og_description %}{{ brand.get_meta_desc }}{% endblock %}

{% block content %}
  <!-- Шапка контента -->
  <div class="content-header content-header--subsection content-header--ordinary wrap-pad-normal">
    <nav class="content-header__nav">
      <div class="content-header__leftbox-wr">
        <a href="#" class="btn-more-large" title="Перейти назад"><span class="met-ico-button-left"></span>
          <span class="btn-more-large__text font--uppercase font--light">назад</span></a>
      </div>
      <div class="bread-crumbs small-text">
        <div>
          <a href="{% url 'home' %}" title="На главную">Главная</a>&nbsp;<span>/</span> <a href="{% url 'brands:home' %}"
            title="Перейти к списку брендов техники">Бренды техники</a>&nbsp;<span>/</span>{{ brand.name }}
        </div>
      </div>
    </nav>

    <div class="content-header__title-wr ">
      <h1>{{ brand.get_h1|safe }}</h1>

    </div>
    <p class="content-header__descr">{{ brand.get_description }}</p>

  </div>
  <!-- Шапка раздела -->
  <div class="content-main-top wrap-pad-normal wrap-pad--mob--min">
    <div class="content-main-top__img"
      {% if brand.photo %}
        style="background-image: url({{ brand.photo_url }});"
      {% endif %}
      >
      <div class="content-main-top__in">
        <div class="logo-brand-box">
          {% if brand.logo %}
            <img src="{{ brand.logo_url }}" alt="Логотип {{ brand.name }}" />
          {% else %}
            <h4 class="brand-logo-empty-name">{{ brand.name }}</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if brand.text %}
    <div class="content-limited ">
      {{ brand.text|safe }}
    </div>
  {% endif %}

  <!-- Секция с категориями техники для бренда -->
  <section class="category-brands  wrap-pad-normal wrap--column wrap-pad--mob--min" style="padding-top: 0">

    {% for cat_dict in categories.values %}
      {% if cat_dict.models|length %}
        {% with cat_dict.obj as cat %}
          <!-- Блок категория -->
          <div class="block-category wrap--row-to-column">
            <div class="block-category__left">
              <a class="category-ico" href="{{ cat.get_absolute_url }}" title="Оборудование для {{ cat.get_name_single }}">
                <img src="{{ cat.icon_url }}">
              </a>
              <div class="block-category__img"
                style="background-image: url({{ cat.cover_url }});">
              </div>
            </div>
        
            <div class="block-category__right">
              <div class="block-category__right-top">
                <h2>{{ cat.name }} {{ brand.name }}</h2>
                <ul class="subcategory-list small-text">
                  {% for model_id in cat_dict.models %}
                    {% with models|get_item:model_id as model %}
                      {# <li><a href="{{ model.get_absolute_url }}?brand={{ brand.id }}#products" title="В раздел «‎{{ model.name }}»">{{ model.name }}</a></li> #}
                      <li><a href="{% url 'catalog:sub_category_brand' cat.slug model.slug brand.slug %}#products" title="В раздел «‎{{ model.name }}»">{{ model.name }}</a></li>
                    {% endwith %}
                  {% endfor %}
                </ul>
              </div>
              
            </div>
          </div>
          <!-- Конец блок категория -->
        {% endwith %}
      {% endif %}
    {% endfor %}

  </section>
{% endblock %}
