Django==4.2.13
Pillow==10.4.0
django-extensions==3.2.3
django-solo==2.3.0
easy-thumbnails==2.8.5
ipdb==0.13.13
ipython==8.26.0
python-dotenv==1.0.1
python-dateutil==2.9.0
requests==2.32.3
sorl-thumbnail==12.10.0
